[2016-09-05 01:31] shoshber opened #1600 "subclass Workflow under Node"
So we can truly treat sub-workflows as nodes.

May include or depend on:
* fixing 'inputnode.*' field syntax when connecting
* truly modular workflows; external nodes shouldn't directly hook up to internal nodes

[2016-09-05 01:55] shoshber commented on #1594
Oh good, I was leaning that way myself

On Sun, Sep 4, 2016, 5:22 PM Chris Filo Gorgolewski <
notifications@github.com> wrote:

[2016-09-06 17:19] oesteban commented on #1595
Hi @alexvicegrab, thanks for reporting. It'll be available right after tests pass :)

[2016-09-06 17:24] oesteban opened #1602 "Submit coveralls results from CircleCI"
(per discussion with @chrisfilo last week)

Since tests in CircleCI are more comprehensive, we might expect more accurate statistics from these tests, is that correct?

Additionally, it seems that coveralls is sending multiple updates from travis (failing to merge the results from the test matrix in travis into one outcome).

(TODO after #1572 is merged)

[2016-09-06 22:05] chrisfilo commented on #1464
Closed by https://github.com/nipy/nipype/pull/1466

[2016-09-06 22:05] #1464 closed

[2016-09-07 04:07] shoshber commented on #1600
Engine re-write hopefully solves this

[2016-09-07 04:07] #1600 closed

[2016-09-07 04:08] shoshber commented on #1594
In the paper, they find the tSTD "after the removal of low-frequency nuisance terms (e.g., linear and quadratic drift)."

Can I assume, if the input is an already-aligned image, that this processing has already been done? If not, how does one determine the "low-frequency nuisance terms"?

[2016-09-07 04:47] satra commented on #1594
@shoshber - in the resting state workflow, the TSNR node takes care of this

[2016-09-07 06:24] shoshber commented on #1594
ok, I will assume it is already done

[2016-09-07 06:26] chrisfilo commented on #1594
Have look here:
https://github.com/nipy/nipype/pull/1599#issuecomment-245180703

On Tue, Sep 6, 2016 at 11:24 PM, Shoshana Berleant <notifications@github.com

[2016-09-07 17:45] oesteban opened #1603 "Let ANTs and other resource-demanding interfaces gracefully die"
I am having some trouble with ANTs, but I'm afraid this problem would replicate with other interfaces.

Apparently, when ANTs is killed for requesting too much memory it exists with code 0. Therefore, ```_run_interface``` smoothly ends, and the user gets ```FileNotFoundError```s when ```_list_outputs``` tries to generate the output dictionary because the outputs were not generated.

I'm afraid thi

[2016-09-07 18:17] oesteban commented on #1558
I think this can be closed

[2016-09-07 18:17] #1558 closed

[2016-09-07 18:19] #1553 closed

[2016-09-07 18:20] oesteban commented on #1538
This is already in place

[2016-09-07 18:20] #1538 closed

[2016-09-07 18:37] satra commented on #1603
@hjmjohnson - any thoughts here

@oesteban - can you post the git hash of the version of ants you are using?

[2016-09-07 18:44] oesteban commented on #1603
I'm using the latest release for ubuntu here: https://github.com/stnava/ANTs/releases

[2016-09-07 22:25] #1362 closed

[2016-09-07 22:27] #1350 closed

[2016-09-08 04:11] #1595 closed

[2016-09-08 15:24] satra opened #1605 "remove dependency on distutils"
let's see if we can remove distutils dependencies

[code]

[2016-09-08 17:05] oesteban commented on #1407
up!

[2016-09-08 17:11] chrisfilo commented on #1407
+1

[2016-09-08 17:14] oesteban opened #1607 "[BUG] Test fails from time to time"
Very scarcely, a test on memory profiling fails this way (see below). Re-running the build in Travis fixes the problem in almost all the times.

[code]

[2016-09-08 17:17] chrisfilo commented on #1607
Let's disable this test in master until we figure it out.

On Thu, Sep 8, 2016 at 10:14 AM, Oscar Esteban <notifications@github.com>
wrote:

[2016-09-08 23:57] oesteban opened #1611 "CircleCI around 4h is a bit excessive"
What would be a good solution for you?
- subsample data
- remove duplicity (py27, py35) of  the fmri_spm_nested examples and exercise them only in py27 (versus the other examples which are run in py35).
- remove examples / reconsider what we want to include

[2016-09-09 01:54] ashgillman opened #1612 "Conditional keep outputs"
I have developed some interfaces that work with Interfiles, which are a two (or three) part file. One (or two) header(s) and one data file.

Currently, to prevent deletion of the data files I have to pass every file around twice, so I have `inputs.in1_header`, `inputs.in1_data`, etc. Whereas for these filetypes, if the header is required, the data file is always required. It would be great if I co

[2016-09-09 02:05] oesteban commented on #1612
Quick question - Have you tried the ```keep_inputs``` and the ```remove_unnecessary_outputs``` options (see http://nipype.readthedocs.io/en/latest/users/config_file.html)?

[2016-09-09 02:07] satra commented on #1612
@ashgillman - perhaps you can add to things here:

https://github.com/nipy/nipype/blob/master/nipype/utils/filemanip.py#L317

and here:

https://github.com/nipy/nipype/blob/master/nipype/utils/filemanip.py#L336

[2016-09-09 02:08] ashgillman commented on #1612
Yes to `remove_unnecessary_outputs`, and I imagine it should also work with `keep_inputs`. But it would be nice to have these conditional on whether the other output is actually used.

[2016-09-09 02:09] ashgillman commented on #1612
@satra Wow, I haven't come across those bits of code in my searches so far. That looks very similar to what I need.

[2016-09-09 02:25] shoshber commented on #1611
In a recent successful build, this command:
`$ docker run -v /etc/localtime:/etc/localtime:ro -v ~/examples:/root/examples:ro -v ~/scratch:/scratch -w /scratch nipype/nipype_test:py35 /usr/bin/run_examples.sh fmri_spm_dartel Linear /root/examples/ level1`

took more than twice as long to complete (72 minutes) as the other commands

[2016-09-09 02:39] chrisfilo commented on #1611
When this will be merged https://github.com/nipy/nipype/pull/1609 we should
get a better understanding of how much coverage we gain from those tests.

On Sep 8, 2016 7:25 PM, "Shoshana Berleant" <notifications@github.com>
wrote:

[2016-09-09 02:45] oesteban commented on #1611
I think CircleCI has started to bounce our builds https://circleci.com/gh/oesteban/nipype/292

[2016-09-09 02:49] chrisfilo commented on #1611
Doubt it:

"run_examples.sh fmri_spm_nested MultiProc /root/examples/ level1 took more
than 10 minutes since last output"

Question is why it didn't print anything for 10 minutes.

On Sep 8, 2016 7:46 PM, "Oscar Esteban" <notifications@github.com> wrote:

[2016-09-09 03:40] shoshber opened #1613 "Refactor algorithms/misc.py"
see https://github.com/nipy/nipype/pull/1599

[2016-09-09 10:00] alexsavio opened #1614 "nipype2boutiques improvement suggestion"
Hi,

I suggest to use `importlib.import_module()` instead of `__import__` to import a module programmatically.
Some code from here would help: https://github.com/Neurita/darwin/blob/master/darwin/instance.py

[2016-09-09 18:45] arokem opened #1615 "Diagram on front page of docs contains a typo"
"Idiosynchratic" should be "Idiosyncratic"

[2016-09-09 19:13] oesteban commented on #1615
ugh!

[2016-09-12 00:53] shoshber opened #1616 "fix up rsfmri_vol_surface_preprocessing_nipy.py"
It doesn't run in the canonical docker image or in my environment. It depends on a package called dcmstack that is not on pip (?)

[2016-09-12 00:56] shoshber commented on #1594
I can't get the example .py file to run (https://github.com/nipy/nipype/issues/1616), so I can't test my refactoring.

[2016-09-12 01:01] chrisfilo commented on #1616
You can find this package here: https://github.com/moloney/dcmstack

Many more examples depend on various pieces of software and data that are not included in the "canonical docker" container. I'm not sure if we want to blow it up by installing everything that the examples depend on.

[2016-09-12 01:27] oesteban commented on #273
See #1563

[2016-09-12 01:27] #273 closed

[2016-09-12 03:37] shoshber commented on #1616
Ah, in that case, documentation would help--I didn't know where to find dcmstack. It is also missing the dicom package--I presume it's somewhere on github? (Couldn't find it when I searched)

[2016-09-12 03:41] chrisfilo commented on #1616
pip install pydicom

On Sun, Sep 11, 2016 at 8:37 PM, Shoshana Berleant <notifications@github.com

[2016-09-12 03:46] shoshber commented on #1602
I believe we've replaced coveralls with codecov

[2016-09-12 03:46] #1602 closed

[2016-09-12 06:01] shoshber commented on #1592
#1619

[2016-09-12 06:14] shoshber commented on #1616
They are installed, now it throws up a new error. I think it just hasn't been run/tested in a while. I will update the issue title to more accurately describe the issue.
'''
Traceback (most recent call last):
  File "examples/rsfmri_vol_surface_preprocessing_nipy.py", line 1024, in <module>
    wf = create_resting_workflow(args)
  File "examples/rsfmri_vol_surface_preprocessing_nipy.py", line 974,

[2016-09-12 12:01] satra commented on #1616
@shoshber - that particular workflow is one i'm converting for bids-apps from this repo (https://github.com/gablab/openfmri/tree/master/resting_state).

it requires a few things to run:

- current nipy dev
- ants > 2.1.0
- freesurfer
- fsl preferably >=5.0.9

also does the example you are testing on actually contain freesurfer data and does it only have 14 slices per volume?

thanks for testing th

[2016-09-12 18:00] shoshber commented on #1616
The data is downloaded from the nipype: http://nipype.readthedocs.io/en/0.12.0/users/pipeline_tutorial.html

Honestly I don't know how to tell if the data has freesurfer data--I've just been cobbling together the command from the comments in the file. Maybe you could send me the command you are using in your development?

Sounds like you are already on the ball with this one. Could you tell me

[2016-09-12 19:04] oesteban opened #1620 "[BUG] Problems hashing inputs derived from encoding in corner cases"
The new feature of reading settings from a json file (#1591) has introduced/uncovered the following issue derived from encoding when hashing inputs:

[code]

This leads (py27, at the very least) to:

[code]

I'm already working on the patch.

~~If the ```from_file``` feature is not used everything will work fine.~~

[2016-09-12 19:35] bpinsard opened #1621 "python 2.7 string issue in plugins"
with recent updates, I get the following error using SGE plugin:
[code]
It seems that the traits definition uses the future newstr which does not match with what os.environ contains (old str). It is certainly the same for other plugins, and this is the only places where environ is fed to CommandLine in whole nipype.

Any idea how to fix this?
Thanks

[2016-09-12 20:23] shoshber opened #1622 "Automate retries in travis/circleci"
Ideally, tests should be 100% deterministic. However, in practical terms, there are some situations that cannot be controlled for, for example when network issues prevent a `pip install` during setup. In these cases, a simple retry will often fix the issue without manual intervention.

Implementing this would require some thinking, as we definitely do not want blind retrying on real bugs!

[2016-09-12 21:50] oesteban commented on #1621
Ok, I'll look at this now

[2016-09-13 00:05] shoshber commented on #1531
It is striking that `_check_iterfield` does not also check that `getattr(self.inputs, self.iterfield[i])` is an ordered container (when len(self.iterfield) > 1). Is this handled elsewhere? I didn't see it in `nodes.py`.

Aside from `_check_iterfield`, do MapNodes handle `None` inputs well? The answer determines how hard this will be.

[2016-09-13 00:20] oesteban opened #1625 "[BUG] New initialization of interfaces with from_file fails with lists of lists of ints"

[2016-09-13 00:30] shoshber commented on #1527
Instructions to reproduce and/or an error log would be helpful here.

[2016-09-13 15:55] oesteban commented on #1605
I'm working on this here https://github.com/oesteban/nipype/tree/enh/MigrateToSetuptools

[2016-09-13 18:47] shoshber commented on #1616
update--in the compcor pr #1599 I started refactoring this to use the compcor interface but didn't finish/test it. So maybe that will be something to think about. I'm closing this issue for now.

[2016-09-13 18:47] #1616 closed

[2016-09-13 18:49] blakedewey commented on #1620
This is also occurring in my MultiProc runs without using the from_file option.

[2016-09-13 18:54] oesteban commented on #1620
Thanks @blakedewey . This fix should work for you. Could you give it a quick try?

[2016-09-13 19:00] chrisfilo opened #1628 "Signal extraction interface"
It's common to extract time series averaged over a tissue class or a brain region. Such signals could be used to perform:

- global signal regression (average over the whole brain)
- white matter and CSF signal regression (averaged over voxels belonging to the same tissue class)
- graph based analysis (average over voxels belonging to the same parcel)

It would be good to have a dedicated interfac

[2016-09-13 20:37] bpinsard commented on #1621
Thanks but in fact in seems something more global, the __future__ newstr seems to interact with all traits string type checking. Each string that comes from os.environ causes crash.
[code]

I do not know if there is a simple way to change this except removing all __future__

[2016-09-13 20:40] oesteban commented on #1621
That's the thing: without ```unicode_literals``` from ```__future__``` and the ```newstr``` we break python 3 compatibility. We've dealt with this issue in most of the situations, but of course some are not tested (our coverage is around 70% now, we want to raise that).

[2016-09-13 20:43] bpinsard commented on #1621
ok, I am just surprised that it got merged in master considering that it breaks a lot of nipype interfaces/plugins when used in  2.x  environment. Or am I the only one to experience problems with 2.x?

[2016-09-13 20:45] oesteban commented on #1621
It doesn't break a lot nipype interfaces. We are constantly checking the circleCI examples for both 2.7 and 3.5 (https://circleci.com/gh/nipy/nipype/1475).

The alternative would be stick with 2.7 forever.

[2016-09-13 21:08] bpinsard commented on #1621
I have been running nosetest on nipype in my freshly cleaned conda 2.7 environment, and in fact it seems that any inputs that requires string from os.environ (most inheriting from CommandLine) crashes, which is a huge problem for most pipelines that I use.
I am preparing a PR to change DictStrStr
[code]
This will solve my case for environ problem, nosetests crashes for unicode string in other plac

[2016-09-13 21:11] chrisfilo commented on #1621
This is weird... Are you testing current master? Travis was suppose to run tests in python 2.7, 3.4 and 3.5 to ensure all of those are supported. See: https://travis-ci.org/nipy/nipype

[2016-09-13 21:16] bpinsard commented on #1621
yes I am testing the current master

[2016-09-13 21:17] bpinsard commented on #1621
Since I updated, I have tested on my regular python and also anaconda.

[2016-09-13 21:22] chrisfilo commented on #1621
I wonder if this could have something to do with the version of futures/six on your system.

[2016-09-13 21:25] bpinsard commented on #1621
six==1.10.0
future==0.15.2

[2016-09-13 21:29] chrisfilo commented on #1621
It's the same as on Travis :/ https://s3.amazonaws.com/archive.travis-ci.org/jobs/159706130/log.txt

[2016-09-13 21:31] satra commented on #1628
this sounds like a python equivalent of an mri_segstats interface. it may be nice to just clone that in python. also keep in mind that most of these stat generating interfaces can also (optionally) take into account partial voluming.

[2016-09-13 21:32] oesteban commented on #1621
With nipype installed from conda and updated with current master:

[code]

[2016-09-13 21:36] oesteban commented on #1621
@bpinsard may you handle me a simple workflow that fails for you, using the SGE plugin? I have already set up a Docker image with SGE and I can try to replicate the problem. I will think of some tests for the SGE plugin as well. Current coverage is not very comprehensive:

[code]

[2016-09-13 21:39] oesteban commented on #1628
@satra - wouldn't the _4D probability maps_ take into account the partial voluming?

[2016-09-13 22:02] shoshber commented on #1613
I'm going to start this unless anyone has any objections

[2016-09-13 22:06] oesteban commented on #1613
I think #1628 is more interesting

[2016-09-13 22:18] shoshber commented on #1613
definitely more interesting :)

[2016-09-14 03:08] shoshber commented on #1628
@satra what do you mean by cloning mri_segstats? You mean re-implementing? Or writing it as a FreeSurfer interface that calls mri_segstats behind the scenes?

[2016-09-14 04:44] shoshber commented on #1594
closed with https://github.com/nipy/nipype/pull/1599

[2016-09-14 04:45] #1594 closed

[2016-09-14 14:14] bpinsard commented on #1621
just to show the output of the command line above
[code]

looking at the output of ``` nosetest .``` in nipype git clone on master, many interfaces yield the exact same error.

The plugins do not yield errors in nosetest because the environ is not an input, but is set when job is submitted, so I do not know if this is possible to write test that would work without SGE installed.

[2016-09-14 14:44] salma1601 opened #1632 "dipy EstimateResponseSH crashes without input in_mask"
Hi,
I am trying to use nipype to do some caching with dipy but I have some problems
[code]
throws the following error

    214             msk[msk < 0] = 0
    215         else:
--> 216             msk = np.ones(imref.get_shape())
    217
    218         data = img.get_data().astype(np.float32)
NameError: global name 'imref' is not defined

[2016-09-14 16:18] bpinsard commented on #1621
I think there is something really weird happening.
If I run this call in ipython, it crashes similarly (type unicode)
[code]
Then I go into debug and run the exact same line that crashed, it crashes with (type str):
[code]

When I import os an check type of os.environ values
[code]

So when it is in the nipype code running, all my strings (even the one written in nipype code, such as 'SUBJECTS_DIR

[2016-09-14 16:27] oesteban commented on #1621
Does it replicate if you do

[code]

?

Thanks

[2016-09-14 16:30] bpinsard commented on #1621
yes it replicate the bug

[2016-09-14 21:06] #1620 closed

[2016-09-14 21:06] #1625 closed

[2016-09-14 22:20] #1613 closed

[2016-09-14 22:23] chrisfilo commented on #1628
I think reimplementing this in python was what @satra meant by "cloning". FreeSurfer is a big dependency for such a simple functionality. In addition we can add some functionality in the future - for example using the first eigenvector instead of the mean.

[2016-09-15 03:02] TheChymera opened #1635 "Don't use matplotlib in a GUI-dependent fashion"
On my headless data analysis servers, on which I do not need and have disabled GUI support, I get [this error](https://github.com/matplotlib/matplotlib/issues/7115) from nipype. It seems matplotlib's default behaviour here is to use tkinter (a GUI package) for plotting.

Since from what I can tell we only use `plt.show` in `tools/make_examples.py` I suggest prepending all other `matplotlib.pyplot`

[2016-09-15 04:00] satra commented on #1635
`matplotlib.use('agg')` should be imported before anything in the nipype library and when used through plugins. and since matplotlib is not a dependency of nipype as a whole, interfaces which need it import it specifically.

perhaps the error that you are seeing is outside of the typical use case and should be handled separately.

do you get the same error if you try one of the interfaces that use

[2016-09-15 04:52] TheChymera commented on #1635
ah, I believe this is a nipy issue.

[2016-09-15 04:52] #1635 closed

[2016-09-15 12:57] TheChymera opened #1636 "Experiencing fatal error with test suite"
I'm getting these 4 errors by running the nipype test suite (live HEAD):

[code]

Any idea what I can do about this? Am I missing some dependency?

[2016-09-15 15:49] oesteban commented on #1636
Seems like your matplotlib installation is set to use the ```gtk3``` backend.

I guess changing the default in the ```matplotlibrc``` file to ```agg``` would do. Also, adding this at the top of your entrypoint script should do:

[code]

[2016-09-15 17:36] TheChymera commented on #1636
@satra said that snippet of code [should be imported before anything in the nipype library](https://github.com/nipy/nipype/issues/1635#issuecomment-247228322). Is it possible it's missing somewhere?

[2016-09-15 17:41] oesteban commented on #1636
I guess you are setting the matplotlib backend somewhere before (maybe shadowed by another tool)

[2016-09-15 18:11] chrisfilo commented on #1622
Something like this could work: http://unix.stackexchange.com/a/82602 I would only use it for set up/download steps not the tests themselves.

[2016-09-15 18:31] oesteban commented on #1622
It'd be interesting when building the docker images, some times conda fails when fetching packages. Do you think it is best inside the Dockerfile or outside wrapping the docker build?

[2016-09-15 19:29] bpinsard commented on #1621
ok just to update on this issue, that is in fact not solved for me.
The sourced script in my bashrc was in fact Freesurfer setup script, that I of course need as most of us.

So as to try the [exact line](https://github.com/nipy/nipype/blob/master/nipype/interfaces/freesurfer/base.py#L115) that fail for string being unicode I did a small script:
As the class was different in debug than in
[code]
W

[2016-09-15 19:38] TheChymera commented on #1636
I'm sorry. I believe this is again a nipy issue :-/ why does nipype test modules from nipy?

[2016-09-15 19:39] bpinsard commented on #1621
the above PR fixes the bug...

[2016-09-15 19:39] oesteban commented on #1621
The rationale behind importing ```unicode_literals``` is that it makes python 2 behave as python 3 as regards strings.

Regarding your examples, how is that possible that your in your first example you have two different types? I get unicode for both strings.

[2016-09-15 19:42] bpinsard commented on #1621
does os.environ includes future? I don't know.
But if you get unicode in both cases, how type checking in traits work for you with all the dictstrstr that requires newstr or newbytes??

[2016-09-15 19:48] oesteban commented on #1621
I mean:

[code]

Maybe you meant:

[code]
?

[2016-09-15 19:52] bpinsard commented on #1621
oups sorry, I pasted  then updated my code, you got it correct it was

[code]

[2016-09-16 02:59] oesteban opened #1641 "Need for a development branch"
I think that lately there is a lot of activity in our project (which is really good!) and it is true that maybe some changes are going too quickly into master.

Could we re-think our current version control protocol so that we have a dev branch where we can have PRs testing without merging into master? The refactoring plans we have also point to do something like this.

Only when we are close to r

[2016-09-16 03:01] blakedewey commented on #1641
This is a good article about different flow styles that could be considered.

https://about.gitlab.com/2014/09/29/gitlab-flow/

[2016-09-16 03:05] oesteban commented on #1641
Yeah, that's a good reference. We could also use the release branch we have, which is (I think) the same as the production branch in that article, if we prefer to keep master as a development branch

[2016-09-16 03:08] blakedewey commented on #1641
That could work. The problem I had with that model was the instinct to "pull from master" is broken as that would get you the development branch. However, that is what people are getting now anyways, so maybe the point is moot.

[2016-09-16 11:27] satra commented on #1641
actually i would keep our current process and make sure that we keep improving our CI framework. we have mostly maintained that master is ready for deployment and we should keep that model.

what we can do is a separate release branch to simplify releasing.

[2016-09-16 21:31] oesteban opened #1644 "[BUG] Parameterization in python 2 contains 'u' prefixes in parameter names"
This is probably derived from using some sort of ```__repr__```

[2016-09-16 23:37] chrisfilo commented on #1628
I had some more discussions about the probabilistic tissue maps, and it seems more common for those to come as a set 3D files instead of a single 4D file. This is how FSL FAST outputs them for example. This is how we defined them in BIDS Derivatives a while ago (see https://docs.google.com/document/d/1Wwc4A6Mow4ZPPszDIWfCUCRNstn7d_zzaWPcfcHmgI4/edit#heading=h.6wlyh7diehqc).

I would vote for addin

[2016-09-18 02:12] satra opened #1646 "add demeaning and axis input to regress_poly function"
the regress poly function can be made a bit more generic

https://github.com/nipy/nipype/blob/master/nipype/algorithms/confounds.py#L516

for example the following could be the default signature:

`def regress_poly(degree, remove_mean=False, axis=-1):`

[2016-09-18 21:17] shoshber commented on #1628
Sure, that should be easy to do. For future reference, is it usually the case that an input that takes a 4D file should also support a list of 3D files?

[2016-09-18 22:24] chrisfilo commented on #1628
It differs from one case to another.

On Sun, Sep 18, 2016 at 2:17 PM, Shoshana Berleant <notifications@github.com

[2016-09-19 00:02] shoshber opened #1648 "Overhaul test suite"
I believe this is already agreed on, I'm just making the issue for the sake of completeness. The main thing is that nosetests is/will be no longer supported. We need to move to either pytest or unittest.

Some additional brainstorming:
- shorten test runtime to reduce friction
- refactor tempfile stuff, perhaps into a decorator
- refactor the @skipif(no_pkg) statements
- take out non-empty .nii fi

[2016-09-19 02:10] satra commented on #1648
+1 for pytest. i was able to hack a quick test on a branch a few weeks back. the main things to change are all the cases where we create directories and then delete them. pytest has a specific form for those. also pytest comes with assert, so we may have to recreate some of the utility asserts in terms of the simply assert.

+1 to remove warnings and print statements

now that we have better testi

[2016-09-19 03:04] chrisfilo commented on #1648
I would also put on the discussion removal of the "auto_" tests. Do they
serve any other purpose than hinting that the API has changed?

On Sun, Sep 18, 2016 at 7:10 PM, Satrajit Ghosh <notifications@github.com>
wrote:

[2016-09-19 05:18] shoshber commented on #1607
Looks like it was introduced here: https://github.com/nipy/nipype/commit/cf1609154d2a58d97132b9e6cb36e828fd7a010d#diff-6754f59514753626dc2de4293709ce5dL148

Fix (I think): https://github.com/nipy/nipype/pull/1650

[2016-09-19 16:37] mgxd commented on #1632
this should be fixed with #1633 , if you run into further issues with that interface feel free to reopen this issue

[2016-09-19 16:37] #1632 closed

[2016-09-19 16:50] mgxd commented on #1648
In place of these empty .nii files, having some real data files would allow actually running the interface - a) making sure the interface successfully runs and b) expecting certain outputs (as satra said output can change with versions)

[2016-09-19 17:47] shoshber commented on #1607
This makes me think there should be an error thrown if someone tries to set a plugin arg that doesn't exist. Thoughts?

[2016-09-20 00:29] shoshber commented on #1648
The question is whether we want real data files in our repo. It's convenient, but they are (potentially) big and not suited to version control. I vote for keeping "real" data integration testing in travis/circle.

We might also establish a rule/guideline on what tolerance we should expect for checking equality of floats (in, e.g., `numpy.close`, `assert_almost_equal`, etc.). At what point does the

[2016-09-20 11:58] forwho opened #1652 "[bug]a bug in the interface of diffusion_toolkit"
the attribute random_seed defined in the DTITrackerInputSpec Class has some mistake,the defination should be `random_seed = traits.Int(desc="use random location in a voxel instead of the center of the voxel to seed. can also define number of seed per voxel. default is 1", argstr="-rseed %d")` not `random_seed = traits.Int(desc="use random location in a voxel instead of the center of the voxel to s

[2016-09-20 12:46] satra commented on #1648
@shoshber - no files directly in the repo. but a versioned repo of files.

we can use git annex to download it for testing when necessary.

[2016-09-20 13:32] blakedewey commented on #1652
This seems like a pretty simple change. Do you know how to submit a pull request? You can check our Contributing information to check our policies. Otherwise, we can leave this as an open issue and someone will get to it (probably after some refactoring that is being done is complete).

[2016-09-20 13:47] forwho commented on #1652
Where could I check contribution information.

[2016-09-20 14:22] blakedewey commented on #1652
It is in Contributing.md in the nipype repository

[2016-09-20 16:37] shoshber commented on #1628
[  ] threshold the map sums

[2016-09-21 03:26] oesteban opened #1655 "[BUG] Help string always contains References::"
Even though ```self.references_``` is empty.

[2016-09-21 04:38] shoshber opened #1657 "Make noise if plugin is instantiated with nonexistent parameter"
Maybe an error, maybe just a warning.

This led to test failures: https://github.com/nipy/nipype/issues/1607

Unfortunately this may not be as trivial as it sounds, as the parameters are passed up through multiple superclasses, all of which may have completely different parameters. (see https://github.com/nipy/nipype/blob/master/nipype/pipeline/plugins/multiproc.py#L137)

[2016-09-21 04:39] shoshber commented on #1607
made a new issue for that larger question

[2016-09-21 04:39] #1607 closed

[2016-09-21 15:50] #1641 closed

[2016-09-22 14:52] blakedewey opened #1658 "CHANGES file should be updated for each PR"
Just putting in an issue for visibility. We have had a lot of PRs merged recently and quite a few do not update the CHANGES file to reflect the PR. Just keep it in mind if you are doing a review!

[2016-09-22 15:22] satra commented on #1658
+1 - we have been sloppy about this.

[2016-09-22 22:46] #1628 closed

[2016-09-23 18:39] mgclark opened #1660 "[QUESTION] Freesurfer terminal_output"
I would like to silence the terminal output of interfaces/freesurfer/preprocess ReconAll -- is this possible? Setting ReconAll().inputs.terminal_output was not effective (and does not appear to be in the input spec for ReconAll?) Do I set terminal_output elsewhere? Should I add terminal_output to ReconAllInputSpec?

Potentially relevant PR: #1070

[2016-09-23 21:48] shoshber opened #1661 "Move no_nitime, no_nilearn checks"
see https://github.com/nipy/nipype/pull/1647#discussion_r80225329

[2016-09-25 02:10] shoshber commented on #1502
One of the above errors just failed a circle ci build of mine: https://circleci.com/gh/shoshber/nipype/182

So I looked into it--it seems to be the same problem as https://github.com/nipy/nipype/issues/1607, so I've made another pr for the fix:

(I /should/ have caught this last week when I fixed the other sporadic multiproc test failure.)

I believe this constitutes a +1 for https://github.com/ni

[2016-09-25 02:11] chrisfilo commented on #1657
+1!

[2016-09-26 19:13] shoshber opened #1663 "Fix subtle memory profiler bug"
This test fails sometimes: https://github.com/nipy/nipype/blob/master/nipype/interfaces/tests/test_runtime_profiler.py#L422

I'm 80% sure the problem is here, but I'd like to get confirmation from the original author ():
https://github.com/nipy/nipype/blob/master/nipype/interfaces/base.py#L1368

When there are grandchildren processes and pyfunc=True, the above code will double-count the memory fro

[2016-09-26 19:19] chrisfilo commented on #1663
I'm afraid the original author switched his focus to other projects. I
would not hold back on waiting for his feedback.

On Mon, Sep 26, 2016 at 12:13 PM, Shoshana Berleant <
notifications@github.com> wrote:

[2016-09-26 20:36] oesteban commented on #1663
I am continuing with an old PR here #1643. I wonder if that PR would fix this issue.

[2016-09-27 02:07] shoshber commented on #1663
@chrisfilo Noted!
@oesteban  I don't think that PR would fix the problem, but I only skimmed it. You would know better than I

[2016-09-30 05:14] shoshber opened #1666 "IdentityInterface mandatory inputs does not behave as expected"
[code]

[2016-09-30 05:34] chrisfilo commented on #1666
You set `mandatory_inputs=True` you did not set the inputs listed in `fields`, the interface failed to run. Isn't his the expected behavior?

[2016-09-30 10:48] sabfon opened #1667 "Nipype and logging module of Python 2.7"
I have also posted the question on Neurostars (http://neurostars.org/p/4239/).
I need to use Nipype for a program that I'm writing, but I've noticed a strange behavior when I import Nipype and the Python logging module together.
I'll try to explain my problem with more details.

[code]

With this simple piece of code, I obtain a log file containing the message "This is a warning".
If I import Nipy

[2016-09-30 13:06] satra commented on #1666
ps. also as a quick note in the traits, only the presence or absence of the keyword counts rather than the value of the keyword. as in `mandatory=True` and `mandatory=False` i believe have the same effect of making that input mandatory. we currently check this with `make specs`, but perhaps can simply be avoided. the primary goal of not allowing `mandatory=False` is that the explicit nature doesn'

[2016-09-30 13:56] mgxd commented on #1667
@sabfon I see you've tried updating the config - have you also tried updating [nipype's logging](http://nipype.readthedocs.io/en/0.12.1/users/config_file.html#enabling-logging-to-file)?
[code]

[2016-09-30 14:48] sabfon commented on #1667
[code]

I've tried this code, but still the python logging module doesn't work properly and starts to print everything on the console.

[2016-10-01 20:26] #1644 closed

[2016-10-01 20:26] #1655 closed

[2016-10-01 20:57] shoshber commented on #1666
@chrisfilo I was referring to the results of `idi.inputs.traits(mandatory=True)`. I should have made that clearer.
@satra that is extremely unintuitive behavior--@oesteban had recommended using `traits(mandatory=True)` to find mandatory inputs, so I'm not the only one with this confusion! Is there a preferred way to get all mandatory inputs of a Node/Interface?

[2016-10-01 21:08] satra commented on #1666
@shoshber - sorry there are two notions of mandatory being tossed around here.

the `IdentityInterface` has a special check for mandatory inputs.
https://github.com/nipy/nipype/blob/master/nipype/interfaces/utility.py#L89

it does not actually set a metadata field for each trait: https://github.com/nipy/nipype/blob/master/nipype/interfaces/utility.py#L79

but uses the list_outputs function to chec

[2016-10-01 21:29] shoshber commented on #1646
closed by PR #1651

[2016-10-01 21:29] #1646 closed

[2016-10-02 21:16] satra commented on #1660
@mgclark - `ReconAll` is derived from `CommandLine` and therefore should inherit all the inputs including terminal output, as noted in the online documentation or if you do ReconAll.help().

this didn't show me any output in the terminal:

[code]

[2016-10-03 15:25] mgclark commented on #1660
Aha -- my error was using `os.system(ra.cmdline)` (instead of `ra.run()`) to execute the process. The `os.system()` method does not benefit from the `terminal_output` functionality. Thanks for the help @satra!

[2016-10-03 15:25] #1660 closed

[2016-10-04 21:27] mgxd commented on #1667
@sabfon this is really a case of defining logger's basicConfig first. Since nipype is also defining this when it's imported, you'll need to set this before importing nipype - however, this will disable the nipype logs.
[code]

[2016-10-04 22:36] #1605 closed

[2016-10-05 00:30] satra opened #1670 "nipype nosetests documentation broken"
either we have to ask everyone to do their tests using docker containers, or we need to ensure the relevant nose components are present. for @djarecka and myself running the tests with instructions in the docs gave unicode errors.

a `pip install doctest-ignore-unicode` fixed the issue. based on our new setup.py perhaps we should update the install docs.

i've asked @djarecka to look into py.test

[2016-10-05 00:41] oesteban commented on #1670
Ok, so the extra component doc (https://github.com/nipy/nipype/blob/master/nipype/info.py#L159) needs ```doctest-ignore-unicode```. We also will want to add the package to ```requirements.txt``` for readthedocs to build, most probably.

I've also found out that nipype.testing requires ```nose```. However, it is not installed if you do not request the "test" extra. I think we should try not to impo

[2016-10-05 03:42] oesteban opened #1672 "New test-data shelter: OSF Storage"
I have moved the data packages downloaded by CircleCI because Google Drive is taking down the API we were using to access them.

I have created this OSF project: https://osf.io/nefdp/ - for now @satra, @chrisfilo and me are the Admins. Please, feel free to modify.

I have merged it quickly since it was pretty urgent (these days the Google Drive service has been intermittent, but today it seems tot

[2016-10-05 13:51] djarecka commented on #1670
In my case `pip install doctest-ignore-unicode` generates other errors, e.g. '.nii.gz' vs u'.nii.gz'.  I'm testing using `nosetests --with-doctest nipype`.

[2016-10-05 13:56] satra commented on #1670
@djarecka: the current command looks something like this, which is quite different from what's in the docs.

[code]

[2016-10-05 14:03] djarecka commented on #1670
@satra : ok, much better now!

[2016-10-06 03:01] shoshber opened #1674 "fully test FUGUE, PRELUDE or rm warnings"
tbh I'm sick of seeing the messages. Why were they necessary, and can we resolve it?

https://github.com/nipy/nipype/commit/2bd7a296fd20f34413dc952ea21bc722669a5425

[2016-10-06 10:57] #1670 closed

[2016-10-06 15:42] #1672 closed

[2016-10-06 15:44] #1636 closed

[2016-10-06 18:04] mgxd commented on #1661
@shoshber is this all set? if so, can we close?

[2016-10-07 16:11] alexsavio opened #1677 "Add `logging` for `nipype_cmd`, replace `print`"
A suggestion done here #1608, by @oesteban.

[2016-10-12 22:05] #1621 closed

[2016-10-13 15:55] tsalo opened #1681 "afni.preprocess.TCorrMap is failing."
Running the cmdline doctest raises an error:

[code]

[2016-10-14 19:43] lebedov opened #1683 "Reorient2Std failure when processing correctly oriented image with different output type"
I've noticed that if one attempts to run fslreorient2std on a nifti file that doesn't need to be reoriented but with an output file type that differs from that of the input (e.g., `fslreorient2std input.nii output.nii.gz` or `fslreorient2std input.nii.gz output.nii`), the output file will always be of the same type as the input regardless of what one specifies on the command line. This behavior ca

[2016-10-15 22:22] effigies commented on #1657
Quick thought: Use a dictionary that keeps track of accesses, and use context managers so that every superclass has a chance to touch the dictionary before raising a warning.

There might be a nicer implementation and better names, but this should get the general idea across:

[code]

Tests:

[code]

I think that as long as you drop this in `PluginBase` and subclasses that add new plugin args, you

[2016-10-16 12:34] satra commented on #1683
@lebedov - is this an fsl issue that we should check for in nipype? has this been reported to FSL?

[2016-10-16 12:53] lebedov commented on #1683
I suspect that it is unintended behavior, but I'm waiting to hear back from the FSL folks to confirm - discussion thread [here](https://www.jiscmail.ac.uk/cgi-bin/webadmin?A2=ind1610&L=FSL&F=&S=&P=203720).

[2016-10-16 16:52] lebedov commented on #1683
Quick-and-dirty workaround posted [here](https://gist.github.com/lebedov/d52672be50e65ab1175be4941a6ec3c8) - probably should use `nipype.interfaces.base.run_command` rather than calling `os.system` directly to run gzip/gunzip if deemed appropriate for incorporation into the Reorient2Std class.

[2016-10-17 15:42] alexsavio opened #1684 "Two inline functions ValueError exception message"
Hi,

I think I can improve the error message that comes out when you have two inline functions in series. This message is here: https://github.com/nipy/nipype/blob/master/nipype/pipeline/engine/utils.py#L655

First, I would like to understand why the indices of the split are [6:-1] ? It doesn't make sense to me and the output is wrong.

Second, would you mind if I add the destnode and srcnode name

[2016-10-17 23:03] satra commented on #1684
@alexsavio - that looks like ancient code. please feel free to add a test and a corrected form. you can make the message as informative as possible since this happens during workflow construction.

[2016-10-17 23:05] #1499 closed

[2016-10-18 13:31] tsalo opened #1685 "AFNItoNIFTI not in documentation"
The AFNI util [AFNItoNIFTI](https://github.com/nipy/nipype/blob/591226cd956c38c185854e9d2860ba26e2b2d025/nipype/interfaces/afni/utils.py#L72) isn't showing up in the [documentation](http://nipype.readthedocs.io/en/latest/interfaces/generated/nipype.interfaces.afni.utils.html). Is it maybe ignoring things that start with AFNI or something, so it won't catch AFNICommand and other private classes?

[2016-10-18 14:48] satra commented on #1685
indeed:

https://github.com/nipy/nipype/blob/master/tools/build_interface_docs.py#L43

[2016-10-18 14:56] tsalo commented on #1685
Would your preference be to change the name of the class to something like ConvertAFNItoNIFTI or to just leave it out of the documentation?

[2016-10-18 14:59] satra commented on #1685
it should not be left out of the documentation. the options are:

1. change the name
2. change the pattern

if this is a new interface, perhaps changing name is easier. if this is an older interface and backward compatibility is required, then changing the pattern should be more appropriate.

[2016-10-18 16:09] tsalo commented on #1685
The interface has been around for awhile, so I've changed the pattern from 'AFNI' to 'AFNICommand' in #1687.

[2016-10-20 04:35] #1666 closed

[2016-10-20 13:34] lebedov commented on #1683
Folks on the FSL list confirmed the behavior I reported, although it still isn't clear whether the behavior was intended or not.

[2016-10-23 20:15] #1254 closed

[2016-10-24 15:57] oesteban opened #1690 "Bunch has no attribute insert (from neurostars)"
[Just seen this in neurostars](https://neurostars.org/p/4283/):

[code]

[2016-10-24 17:41] mvdoc commented on #1690
@oesteban just following up here instead of on neurostars: if I disable the debug mode, the pipeline seems to execute that node

[2016-10-24 17:49] mvdoc commented on #1690
And for reference:
[code]

[2016-10-25 07:14] deajosha opened #1691 "nipype 0.12.1 test failed"
I downloaded nipype-0.12.1 source package under ubuntu-16.04 x64 system.
and then run the command on the terminal to install it : sudo pip install nipype-0.12.1.tar.gz.
install all the dependancies as writed in requirements.txt.
after that, run the test command on the page http://nipype.readthedocs.io/en/0.12.1/users/install.html:
sudo python -c "import nipype;nipype.test()"
it ocurred:
Exeeption:

[2016-10-25 10:55] satra commented on #1691
@deajosha - could you please give us the final output of that command? it should say something like:

[code]

[2016-10-26 02:09] deajosha commented on #1691
`======================================================================
FAIL: Doctest: nipype.interfaces.bru2nii.Bru2
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/usr/lib/python2.7/doctest.py", line 2226, in runTest
    raise self.failureException(self.format_failure(new.getvalue()))
AssertionError: Failed doctest test for nipyp

[2016-10-27 17:24] jpellman commented on #1370
Just fyi, we had a similar issue on one of our servers recently, which turned out to be a relatively straightforward fix.  server1 was trying to run a pipeline and save outputs to an NFS share hosted by server2, which we had recently upgraded.  It turns out that the /etc/fstab on server1 specified the NFS version in the options columns, and was mounting NFS 4 shares as NFS 3 shares.  We were able

[2016-10-27 18:10] oesteban commented on #1370
Another limitation of portalocker (and all? file locks in python) is that it does not work with several simultaneous python processes. For example, running the same workflow once per subject on the same base_dir directory, like you'd have submitting several jobs to run in different nodes against a shared filesystem

cc - @rwblair, @chrisfilo

[2016-10-28 14:50] blakedewey opened #1692 "MulitProc Workflows locking up"
I think this may be a result of #1689. When I run a large MultiProc workflow, it runs for one or two nodes, then hangs. There is nothing reported and the nodes have finished successfully. I am also unable to use SIGTERM to end the process and have to manually close the terminal window. Moving back before this change seems to fix the issue.

[2016-10-28 15:02] satra commented on #1692
@carolFrohlich - could you please take a look at this?

[2016-10-29 03:10] #1691 closed

[2016-10-31 13:24] mvdoc opened #1695 "Mismatch for out_type 'nii.gz' between MRIConvert and Binarize"
Hi all,
MRIConvert fails if `out_type='nii.gz'` (it wants `='niigz'`) while `'nii.gz'` seems to be fine for the other freesurfer interfaces I used. Is there any reason for this? Or can I go ahead and make a PR?

thanks!

[2016-10-31 14:37] satra commented on #1695
@mvdoc - it would be great if you can take a look. there are a couple of weird things there:

https://github.com/nipy/nipype/blob/master/nipype/interfaces/freesurfer/preprocess.py#L364

i think that mri_convert may have it's own notion of output type:

https://github.com/nipy/nipype/blob/master/nipype/interfaces/freesurfer/preprocess.py#L368

[2016-10-31 14:44] blakedewey commented on #1695
I believe this is because `mri_convert` does not technically have a compressed nifti output. You must specify `nii` for a combined nifti header and image, then specify an output file with the extension `.nii.gz` to create a compressed nifti.

[2016-11-01 15:48] dangom commented on #1147
@TheChymera did you finish your `meica.py` wrapper implementation? I can't seem to find it anywhere on the documentation - so I assume it's not been added to nipype?

[2016-11-01 16:08] TheChymera commented on #1147
@dangom I have a [working draft in SAMRI](https://github.com/TheChymera/SAMRI/blob/master/samri/pipelines/nipype_based/extra_interfaces.py#L627). Haven't tested it much, and won't be using it personally, so this is on hold any may remain so for a long time :-/. If you want to try and merge it into nipype, I'd be grateful, though!

[2016-11-01 21:16] dangom commented on #1147
@TheChymera Thanks for the quick answer =) The draft looks awesome.

[2016-11-01 21:47] jpellman opened #1699 "[BUG] "No module named configparser" when using nipype w/ future 0.16"
When importing nipype with future 0.16 (released 10/27/16) I get the following error:

[code]

When I downgrade to future 0.15.2, this error no longer occurs.

[2016-11-01 22:48] oesteban commented on #1699
I think this could be duplicated of #1697.

Can you test if installing configparser this is solved?

[2016-11-02 00:18] jpellman commented on #1699
Isn't configparser part of the Python standard library?  Is there any reason why it wouldn't be included by default with Python / would need to be installed?

[2016-11-02 01:19] oesteban commented on #1699
Yes, but it is one of those that change between python 2 and 3. Installing the package configparser we get the Python 3 interface to work in python 2.

[2016-11-02 02:55] TheChymera commented on #1147
Happy you like it! Let me know if you get it merged so that I can remove it from SAMRI.

[2016-11-02 04:09] jpellman commented on #1699
Right, but wouldn't it also mean that you would have two copies of configparser?  I mean it certainly works but it seems a little redundant.  It also doesn't explain why when I downgraded from future 0.16 to future 0.15.2 the issue disappeared.

Furthermore, the lines [here](https://github.com/nipy/nipype/blob/a746633d72d3e861a4b1a52038dd40a590792e24/nipype/utils/config.py#L15-L16) should prevent

[2016-11-02 12:32] #1685 closed

[2016-11-02 17:05] oesteban commented on #1699
I was to suggest that it could be future adding the wrapper to configparser...

I agree: python 2/3 adds a lot of verbosity, and more worryingly, it is going to stay for a while. I don't see when python 2.x will be deprecated for good. On the other hand, I don't think it'd be a good idea to stick with 2.x.

Can we say that this issue/question is answered?

[2016-11-02 23:11] jpellman commented on #1699
Hi @oesteban ,

Just to clarify, when you say that you can remove the configparser dependency, you mean add the configparser dependency right?  The 0.16 update to future removed the configparser alias that is created by standard_library in favor of using the backported configparser, so the backported configparser would be a dependency you would need to add for people using future>=0.16.  If you us

[2016-11-02 23:19] jpellman commented on #1699
Actually, I'm not certain that adding the backported configparser as a dependency won't cause issues for people running  older versions of future.  In the release notes the future developers noted that having the backported configparser installed alongside future caused clashes/compatibility issues.

[2016-11-03 10:20] Yuan-fang opened #1701 "bug with IPython plugin"
With IPython plugin initiated and ipcluster start --n=4 set successfully in the shell terminal, the script breaks up after a while and print error messages below:
--------------------------------
[code]
------------------------------------

After some line by line debug, to my surprise I found if I switch the sequence of two lines of code, the script would run successfully. The two lines after seq

[2016-11-03 12:41] blakedewey commented on #1701
I would really suggest rewriting this as a workflow so that the IPython plugin can be effective here. There are FSL interfaces available. Also, it is generally bad practice to utilize os.system, as it has very limited functionality. If you were to run this, I would suggest at least utilizing subprocess.call.

[2016-11-05 07:51] Yuan-fang commented on #1701
Thank you blakedewey. I changed the os.system parts with subprocess call and the script seemed more steady.
I would like to use FSL interfaces, but I dislike defining too many nodes for simple fslmaths, which can be implemented  in the shell with just one simple line of script. Do you have any idea on this?
Thanks.

[2016-11-05 12:37] blakedewey commented on #1701
Glad it helped! In terms of interfaces, you get a lot of benefit for using them! That is the whole point of Nipype, as I'm sure you know. By having each piece in a Node/Interface, you get the benefit of all of the Nipype code. Things like error and runtime reporting and the ability to restart workflows after a failure. Lots of the interfaces have simple command line structures, but simplifying the

[2016-11-07 02:56] mattcieslak commented on #1690
Any word on this?  I'm also running into it when trying anything that uses a MapNode

[2016-11-07 03:41] satra commented on #1690
@mvdoc - any chance you could test this with current master?

[2016-11-07 10:49] maxwichmann opened #1703 "Error when I try to use fsl.dti via nipype."
Dear all,

I m new to python and nipype thus I really dont know what I should do with this error message!

I want to do the fsl.dit command with nipype. I did it like it is explained on this site: http://nipy.org/nipype/interfaces/generated/nipype.interfaces.fsl.dti.html#dtifit

so this is my code

[code]

But I get always error messages like these:

[code]

Maybe its because I'm using: Python 3.5

[2016-11-07 16:41] mattcieslak commented on #1690
I get the same error on 0.13.0-g5e0597b.dev

[2016-11-07 16:42] satra commented on #1690
@mattcieslak - thanks for the update. it would really help if you can create a simple example? because we do run many pipelines with mapnodes in our test suite, so we are trying to figure out why we don't see this error.

[2016-11-07 16:49] oesteban commented on #1703
Hi @maxwichmann, have you checked on [this](https://neurostars.org/p/4311/#4315)?

[2016-11-08 00:50] mvdoc commented on #1690
@satra I found something interesting and subtle while writing up a small example. It seems that if there is an error in the pipeline, and `config.enable_debug_mode()` is set, the pipeline fails with `AttributeError: 'Bunch' object has no attribute 'insert'`. But if the pipeline exits fine, no such error is thrown. Example below:

This is the small working example
[code]

And this is the output, ru

[2016-11-08 00:53] satra commented on #1690
@mvdoc - awesome that helps a lot - we need to create a pipeline+mapnode test with an error :) - i'll add this as a test. should be a relatively easy fix.

[2016-11-08 00:57] mvdoc commented on #1690
Just run with master and got the same error

[code]

[2016-11-08 09:29] maxwichmann commented on #1703
Thanks @oesteban but this question is also from me :)) Just got another name on that website.

[2016-11-09 13:33] anbai106 commented on #130
I have the same failure, does this really matter?????

[2016-11-09 14:01] satra commented on #130
as long as you see an OK at the end, it's fine. if there are other errors please report.

[2016-11-09 14:02] satra opened #1705 "make sure nipype test runs without docker"
although we are using docker for testing, we really need to make sure that the following works on py 27 and 35

[code]

[2016-11-09 14:15] anbai106 commented on #130
here is the result,  as i dont see OK, so i guess there is some problem, but the failure is the same with this page, some failure with FSL:

FAILED (SKIP=26, failures=1)
<nose.result.TextTestResult run=17290 errors=0 failures=1>

[2016-11-09 14:16] satra commented on #130
ah - can you paste the failure here?

[2016-11-09 14:18] anbai106 commented on #130
Sure, It is just a test code for nipype and its interfaces:
`# Import the nipype module
import nipype

# Optional: Use the following lines to increase verbosity of output
nipype.config.set('logging', 'workflow_level',  'CRITICAL')
nipype.config.set('logging', 'interface_level', 'CRITICAL')
nipype.logging.update_logging(nipype.config)

# Run the test: Increase verbosity parameter for more info
nipy

[2016-11-09 14:27] satra commented on #130
that's a failure that should be fixed soon in #1704

[2016-11-09 14:34] anbai106 commented on #130
Ok, thanks, good to know, later, we should just update the newest version? I did install nipype from source, from ananconda

[2016-11-09 14:41] satra commented on #130
yes you can just update to the newest version. we will probably be cutting a new release this month as well.

[2016-11-10 16:31] anbai106 opened #1709 "one bug for nipype.workflows.smri.freesurfer.autorecon1.py"
Hello, nipype experts:
I have found a bug(at least i thought, if i am wrong, correct me please)
I know that recently, you implemented the reconall workflow for FreeSurfer, that was great and I am also working on that, from the code here:
[https://github.com/nipy/nipype/blob/master/nipype/workflows/smri/freesurfer/autorecon1.py](url)
I have two questions:

1)When you check out every image's number

[2016-11-15 14:02] satra commented on #1709
@ellisdg - could you take a look at this?

[2016-11-15 19:45] ellisdg commented on #1709
@anbai106
1. The workflow interface is designed to work in a similar way to calling the ReconAll interface where the "T1_files" input takes in one of two things:
  a) a single T1 file.
  b) a list of T1 files from the same session. The list ["file1.nii.gz", "file2.nii.gz"] would be equivalent to running the following command:
`recon-all -i file1.nii.gz -i file2.nii.gz`
**Note that this is not the

[2016-11-16 15:48] anbai106 commented on #1667
@mgxd
In nipype, the link that you gave is not so clear to create a log file, for example, in python, after we create the log file, we can use logging.info, logging.warning to write, but in nipype, how do we write and by default, you will create a pypeline.log, how can we define the name of the log file??? it is rally not very clear...

[2016-11-16 17:03] mgxd commented on #1667
@anbai106
You can enable nipype's logging simply with the following block of code:
[code]
This turns on nipype's logger that tracks at three levels:
- workflow_level
- filemanip_level
- interface_level
and outputs a log file named `pypeline.log` (As of now, I believe you can't define the name of the log file, but you can specify which directory it should go to).

If you want to log anything else i

[2016-11-16 17:36] anbai106 commented on #1667
@mgxd
Thanks for your rapid response, I think the name of the log is not a big deal, the post that you offered is this:

`import logging
logging.basicConfig(filename='/Users/sabfon/log', level=logging.INFO)
import nipype`

This does not suit for my case, cuz i am logging some information from some other log files, and write them inside the summary.log in a Nipype Node(Function node, so I have to i

[2016-11-21 17:55] tfunck commented on #1062
Hi, I was wondering if this had been clarified? I'm trying to figure out how to use "JoinNode" and it's not clear to which node "joinsource" is supposed to refer.

[2016-11-21 18:08] mgxd commented on #1062
@tfunck you can set both. If you pass in a node, JoinNode will get its name

[2016-11-22 11:18] anbai106 commented on #1709
Hello, sorry to reply you in delay.
1)Thanks for your reply, I got it, So i guess it is not our case, in our case, we use mapnode to run multiple reconall, so they can come from different session, i totally agree with your explanation with one recon-alll for more than one T1 files in the same session.

2)For the second point, I tried to fork nipype into my githup, and changed it locally, and make

[2016-11-23 21:10] djarecka opened #1715 "DOC: BaseInterface docstring"
Consider improving the docstring for `BaseInterface`, the sentence about instantiating (https://github.com/nipy/nipype/blob/master/nipype/interfaces/base.py#L762) is not true.

[2016-11-24 11:35] alexsavio opened #1718 "Issue with dmri.fsl.artifacts.all_fsl_pipeline Workflow"
Hi @oesteban,

I am writing to you because I think you wrote these.

I am improving my DTI pre-processing pipeline.
I have been reading the ones in `workflows.dmri.fsl.artifacts`:
https://github.com/nipy/nipype/blob/8156eb46c4eab8cabc6458f6d79cfcaef6d6be25/nipype/workflows/dmri/fsl/artifacts.py

I was wondering if `all_fsl_pipeline` and `all_peb_pipeline` should do head motion correction before ex

[2016-11-24 14:39] alexsavio commented on #1718
I must add that the `pick_ref` node in:
https://github.com/nipy/nipype/blob/master/nipype/workflows/dmri/fsl/utils.py#L99

is not being used.

[2016-11-25 08:05] anbai106 opened #1720 "Broken down for neurostar.org"
Hello:
I just want to know if the websit of neurostar has been corrupt? because from my lab or my home, I can not access it...
Thanks in advance

[2016-11-25 14:13] satra commented on #1720
@anbai106 - it is down and we have likely lost a lot of the data.

please post any issues here on github.

[2016-11-25 15:41] satra commented on #1667
@mgxd - can you look into using two separate loggers, one nipype's logger and the other an additional logger from a remote script?

[2016-11-25 18:15] oesteban commented on #1720
We should update the README though (there are a couple of paragraphs about neurostars). I'll reopen this issue as a remainder to do so.

[2016-11-25 20:11] #1720 closed

[2016-11-28 02:15] shoshber commented on #1705
is `nipype.test()` really the canonical test command? I've been using `make test` and various modifications of `python -W once:FSL:UserWarning:nipype $(NOSETESTS) --with-doctest --with-doctest-ignore-unicode --logging-level=DEBUG --verbosity=3 nipype`

[2016-11-28 02:17] satra commented on #1705
it should be, but we are hopefully revamping all of this by the move to `py.test`.

the reason we use docker on circle is to ensure that we can check what went wrong easily by rerunning the same exact environment locally and also ensure that the proper dependencies are in place across the various interfaces we support.

for most users, they should simply be able to install  nipype and call `nipype

[2016-11-28 02:18] satra commented on #1705
as developers, we can run the other variants, but even that i'd likely to simplify.

[2016-11-28 22:26] mgxd commented on #1667
@anbai106
[code]

Take a look at this example if you want to log within a workflow - in a custom function I make a new FileHandler and write out to it. Nipype's pypeline.log is also logging, but there is no overlap between the two loggers.

[2016-11-29 17:46] #1684 closed

[2016-11-29 17:47] mgxd commented on #1703
@maxwichmann can you check that the file actually exists?

[2016-11-29 17:53] mgxd commented on #1612
@ashgillman did the PR clear this issue up?

[2016-11-29 21:07] shoshber commented on #1661
It isn't done. I've copied the original request here for clarity:

But of course, feel free to close the issue again if this is a minor enough issue.

[2016-11-29 22:41] ashgillman commented on #1612
Yes, the important part at least.

For anyone interested, you can add to the related filetypes with:

[code]

(but only as of master and presumably the next 0.13 releasse)

[2016-11-29 22:41] #1612 closed

[2016-12-01 13:14] alexsavio opened #1727 "interfaces.camino.convert.FSL2Scheme does not show up in documentation"

[2016-12-01 22:05] bpinsard opened #1728 "OMP_NUM_THREADS is set default to 1 for all nodes because of AFNI interfaces"
I have problem having multi-threaded (numpy MKL) code running on multiple cores when launched through nipype, but not outside nipype.
The faulty line here changes environment variable, thus affecting all other interface, even when submitted through plugin such as SGE:
https://github.com/nipy/nipype/blob/a746633d72d3e861a4b1a52038dd40a590792e24/nipype/interfaces/afni/base.py#L165

I temporarily cir

[2016-12-01 22:16] chrisfilo commented on #1728
Good catch. To contain the change to one interface I would suggest replacing this line with:

`self.inputs.environ['OMP_NUM_THREADS'] = str(self.num_threads)`

[2016-12-02 03:14] oesteban commented on #1718
Hi @alexsavio, sorry for the wait, I just opened this issue. It'd be great to refactor the dmri workflows - there are many things to improve there.

- Regarding head motion correction before the average b0: this makes a lot of sense, we could use a quick and dirty correction using mcflirt on the b0s.
- Regarding the pick_ref - yes, adding the ability to change the reference would be great.

Let me

[2016-12-02 03:15] #1062 closed

[2016-12-03 03:30] oesteban opened #1729 "ants.BrainExtraction - offer intermediate results as outputs"
Particularly, it would be very interesting to expose (maybe subjected to boolean flags):

- The input image after removing bias field (N4ITK)
- The transforms of the inner registration step
- The results of the inner registration step
- The results of segmentation with atropos

[2016-12-03 17:58] chrisfilo commented on #1729
It's also running atropos - brain segmentation.

[2016-12-03 22:36] gciccarelli3 opened #1731 "smart join for multiple iterables"
https://neurostars.org/t/nipype-exponential-numbers-of-join-nodes/29/5

[2016-12-04 03:35] oesteban commented on #1729
Added one more item

[2016-12-04 04:48] chrisfilo commented on #1692
CCing @ccraddock who promised to help. We have experienced those as well. Deadlocks are stochastic in nature so there are no steps to reproduce. Here are nipype tests which timed out due to deadlocks in multiproc:

https://circleci.com/gh/nipy/nipype/1690
https://circleci.com/gh/nipy/nipype/1686
https://circleci.com/gh/nipy/nipype/1686
https://circleci.com/gh/nipy/nipype/1685
https://circleci.com/

[2016-12-04 17:07] chrisfilo commented on #1692
It seems to be affecting travis tests as well:

https://api.travis-ci.org/jobs/180558248/log.txt?deansi=true
[code]

On a [successful run](https://api.travis-ci.org/jobs/179964049/log.txt?deansi=true) the next test after `test_run_in_series` is `nipype.pipeline.plugins.tests.test_multiproc.test_run_multiproc`

[2016-12-04 23:15] djarecka commented on #1692
As far as I remember my problems with travis were always in the second run only (python2.7; INSTALL_DEB_DEPENDECIES=false), e.g. https://travis-ci.org/djarecka/nipype/jobs/180111821
Checking now my CircleCI builds I also can't find problems with python3.

[2016-12-05 10:58] anbai106 opened #1734 "Nibabel function explanation"
Hello,
I have a question about this function, i dont know if i put this question to the right place, if not, sorry...
so if i set orig_ids=False
Si the returned value labels will give me back the annotation id, like this:

array([11, 11, 11, ..., 27, 27, 27])
And names will give me the name of the labels, like:

['unknown', 'bankssts', 'caudalanteriorcingulate', 'caudalmiddlefrontal', 'corpuscallo

[2016-12-05 14:45] alexsavio commented on #1718
Hi @oesteban.

- What if we used one b0 volume instead of the average? mcflirt on the b0s would also be good.

- Did you want to connect `pick_ref` to what?

What other improvements do you suggest?

I will start working on these fixes as soon as I get my DTI workflow working (I am using Camino though).

[2016-12-05 20:09] jvarada commented on #1692
Is there a reason for using the multiprocessing library and handling locks for the main thread manually rather than using concurrent.futures (or futures in py2.7), sending threads out as Futures, and waiting on the Futures instead?

[2016-12-06 19:05] djarecka opened #1737 "make sure that pytest is properly installed in the docker containers"
Right now in order to run pytest within nipype_test containers, one has to:

    conda install pytest
    pip install pytest-raisesregexp
    conda install pytest-cov
    conda install click

CircleCI works fine since builds new containers using current `requirements.txt` (that covers pytest installation).

The description from testing_nipype.rst  should be tested with new containers.

Some of the

[2016-12-07 20:39] chrisfilo commented on #1692
@ccraddock is [asking for example pipelines](https://github.com/nipy/nipype/pull/1739#issuecomment-265563799) that experienced this problem. Please add to the list.

The fmri_spm_nested pipeline included in nipype has experienced this issue at least a couple of times: https://circleci.com/gh/nipy/nipype/1690
https://circleci.com/gh/nipy/nipype/1674

We have seen it while running [fmriprep](https:/

[2016-12-07 21:03] satra commented on #1692
@jvarada - mostly historical and our older support for 2.6. this would be a good thing to reconsider as we rewrite the engine.

[2016-12-07 21:34] djarecka commented on #1692
Not sure if you're testing on OSX, but I've just run locally and have problem with test_multiproc.py, python2.7.

@chrisfilo did you have any specific reason why you made skipif using 'TRAVIS_PYTHON_VERSION', i.e. `os.environ.get('TRAVIS_PYTHON_VERSION') == '2.7'`? Is it ok to change this using `sys.version_info`? Just trying to eliminate this problem when running `make tests`

[2016-12-07 21:37] mattcieslak opened #1740 "JoinNode index error when workflow is added to metaworkflow"
### Summary
When a workflow with multiple join nodes (that runs without error on its own) is added to a meta-workflow an index error is generated when expanding the graph.

### Actual behavior
[code]

Going into the debugger it shows that `slot_dicts` is `[{'vector': 'vectorJ1'}, {'vector': 'vectorJ2'}]
` and `in_idx` is 2 when the exception is raised.  Running outside of a meta-workflow `in_idx`

[2016-12-07 21:38] chrisfilo commented on #1692
@djarecka There was no specific reason. Using `sys.version_info` seems more robust.

[2016-12-07 21:39] djarecka commented on #1692
@chrisfilo ok, will add an extra commit to pytest PR

[2016-12-07 21:40] satra commented on #1740
@mattcieslak - this is fixed in current master via https://github.com/nipy/nipype/pull/1712

[2016-12-07 21:41] satra commented on #1740
btw, thank you very much for following the issue instructions !

[2016-12-07 21:43] ccraddock commented on #1692
@djarecka We found some interactions with nosetest that we believe we fixed here: https://github.com/nipy/nipype/pull/1739. Would you be able to see if these changes fix your problems?

[2016-12-07 21:52] djarecka commented on #1692
@ccraddock well, it will be hard to say since the problem doesn't occur every time. I'll pull your PR later and try to run a few times.

[2016-12-07 21:57] ccraddock commented on #1692
@djarecka We have figured out a way to make this problem easier to reproduce with nosetests. The problem is most likely to occur the first time you run the nosetest. If it hangs and you kill it, then it is very likely that it will work the second time. But if you wait approx 10min (maybe more) it will happen again. In our experience, you _have_ to delete the workflow directory (called pipe) in ord

[2016-12-07 21:58] chrisfilo commented on #1692
@ccraddock The PR also does not touch any of the MultiProc plugin code (only the tests) so I don't see how it could fix the core of the problem (causing deadlocks when running workflows - see example above). What am I getting wrong?

[2016-12-07 22:25] djarecka commented on #1692
@ccraddock I'm not completely sure, but I think the problem I had locally on my OSX today was not during the first run (within 10min).  FYI, I run pytest, not nosetest

[2016-12-07 22:26] ccraddock commented on #1692
Thanks for the info

Sent from my iPhone

[2016-12-07 22:45] mattcieslak commented on #1740
Thanks for the quick response!  Updating to the latest master does fix that error but produces a new one.  With the code from above unchanged the error is now:

[code]

Running `single_wf` still works.  Any ideas?

[2016-12-07 22:49] satra commented on #1740
@mattcieslak - i'll let @mgxd take a look since he wrote the other fix.

[2016-12-07 22:52] djarecka commented on #1692
@chrisfilo : travis just gave me timeout running `nipype/pipeline/engine/tests/test_engine.py` https://travis-ci.org/nipy/nipype/jobs/182112718
Not sure if this is the reason, but it was my first push after rebase  current master (after your PR).

[2016-12-07 22:57] chrisfilo commented on #1692
It's still Python 2.7. Maybe there are some left over MultiProc tests in
test_engine.

On Wed, Dec 7, 2016 at 2:52 PM, Dorota Jarecka <notifications@github.com>
wrote:

[2016-12-07 23:01] djarecka commented on #1692
@chrisfilo it uses `plugin='Multiproc`: https://github.com/djarecka/nipype/blob/pytest/nipype/pipeline/engine/tests/test_engine.py#L658
Yes, python the same (and the same second run), just want to mention, sine never seen timeout in this test.

[2016-12-07 23:02] chrisfilo commented on #1692
Ok - we should disable those tests for 2.7 as well (temporarily). Sorry I missed this.

[2016-12-07 23:04] djarecka commented on #1692
I will do it

[2016-12-07 23:14] mattcieslak commented on #1740
Ah! My nipype installation got messed up when I reinstalled. Everything works now.

Thanks again for your help.

[2016-12-07 23:14] #1740 closed

[2016-12-07 23:20] djarecka commented on #1692
@chrisfilo : just that you know there are more tests that uses `plugin="MultiProc`. I can disable them all, but we can also disable ones that cause problems. I don't know what is your suggestions, still don't understand which exactly part leads to the problem.

[2016-12-07 23:24] chrisfilo commented on #1692
I don't think anyone knows yet :) I would disable all of the tests using
MultiProc on python 2. We should avoid confusing contributors with tests
failing randomly.

On Wed, Dec 7, 2016 at 3:20 PM, Dorota Jarecka <notifications@github.com>
wrote:

[2016-12-08 01:07] djarecka commented on #1692
@chrisfilo : not sure how to use this information, but it looks like some tests fail more often (the ones that mostly caused problems last week are not the ones that are run first).
Anyway, I've changed 3 more files: https://github.com/nipy/nipype/pull/1722/commits/fdb71ad7cf4a8a8c7a47625c02eefcb3136760b9

[2016-12-08 01:09] chrisfilo commented on #1692
The tests fail more often than they did in the past?

On Wed, Dec 7, 2016 at 5:07 PM, Dorota Jarecka <notifications@github.com>
wrote:

[2016-12-08 01:18] djarecka commented on #1692
no, I can't say this, fortunately don't have enough good statistics...
I tried to say that for some reason mostly/only `nipype/pipeline/plugins/multiproc.py` was failing last week (at least for me), even though it is not the first test to run with plugin="MultiProc". Don't know if this is important.

[2016-12-08 01:21] djarecka commented on #1692
the only thing about frequency I can say is that it didn't happen with the master from Oct 19th (I run tests many times, so I'd notice), but I understand that this you know.

[2016-12-08 23:53] djarecka commented on #1692
@chrisfilo  I was wrong thinking that some tests with `plugin="MultiProc"` don't fail.  Today I run multiple times (in a simple loop)  each test that has  `plugin="MultiProc"` and they all fail from time to time.

[2016-12-09 00:48] ccraddock commented on #1692
Which tests exactly? We have been doing same loop with test_multiproc and haven't had a problem yet and it's been 6 hours.

Sent from my iPhone

[2016-12-09 00:51] chrisfilo commented on #1692
@djarecka let's disable those tests in python 2 in master ASAP

@djarecka and @ccraddock which exact python versions are you testing with?

[2016-12-09 00:54] djarecka commented on #1692
@chrisfilo : I did in my pytest PR yesterday, @satra asked me to change Dockerfiles and Circle is running. If I don't have to do anything else, I'd just suggest to wait for the PR to be merged.

[2016-12-09 00:57] chrisfilo commented on #1692
Ok I see - so this will be merged together with the bit pytest PR. Thank you!

[2016-12-09 01:01] djarecka commented on #1692
@chrisfilo @ccraddock : running Python 2.7.12, OSX 10.12.1
running tests `test_run_multiproc`, `test_no_more_memory_than_specifie` from  nipype/pipeline/plugins/tests/test_multiproc.py; `test_serial_input` from nipype/pipeline/engine/tests/test_engine.py; `test_callback_multiproc_normal` and `test_callback_multiproc_exception` from nipype/pipeline/plugins/tests/test_callback.py

I'm running test u

[2016-12-09 01:10] djarecka commented on #1692
@chrisfilo I should have created a separate PR, but didn't want to rebase again... If my PR will still need some work, I'll create a new PR tomorrow, just to "fix" this issue

[2016-12-09 01:38] #1584 closed

[2016-12-09 18:04] djarecka commented on #1705
I've missed that you're using `nipype.test()`, so unfortunately didn't change this in my PR. Can I ask why do you want to keep this option for testing? it's not enough to run`make tests` or simply `py.test nipype`?

[2016-12-10 20:56] chrisfilo opened #1744 "tCompCor ignores the input mask"
### Summary
tCompCor does not restrict the percentile calculation to the input mask instead it ignores it.

### Actual behavior
Input mask is ignored.

### Expected behavior
Percentile calculation should be restricted to voxels withing the mask if a mask is provided.

### How to replicate the behavior
Run tCompCor with different masks. Results should not change

### Platform details:
n/a

[2016-12-11 15:06] #1744 closed

[2016-12-12 10:10] wtriplett commented on #1692
We've seen this deadlock issue as well in production workflows. Some of the cases mentioned previously are with spm, and our workflows also use compiled matlab code (via MCR) unrelated to spm.

To get around this temporarily we've switched to `multiprocessing.semaphore` and give the `acquire()` a 15 sec timeout to keep things moving.

Unfortunately our workflow is really good about reproducing the

[2016-12-12 13:48] gciccarelli3 opened #1747 "modelgen boxcar array creation warning"
### Summary
Boxcar model gen warning with non integer array creation.

### Actual behavior
Generates warning that will in the future cause error.

### Expected behavior
Round length?  Ceil, floor? Match another array in length?

### How to replicate the behavior
import numpy as np
np.zeros((.5))

### Platform details:
please paste the output of: `python -c "import nipype; print(nipype.get_info())"

[2016-12-12 13:51] gciccarelli3 opened #1748 "Non integer indexing into boxcar modelgen"
### Summary
Warning with non integer slice into array

### Actual behavior
nipype/algorithms/modelgen.py:663
 VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  boxcar[(1.0 * 1e3 / dt):(2.0 * 1e3 / dt)] = 1.0

### Expected behavior
No warnings.

### How to replicate the behavior
import numpy as np
a = np.arange(3)
a[0.5]

### Platfor

[2016-12-15 03:09] oesteban opened #1750 "To consider: add retry check in the File trait (workflows more tolerant to NFS delays)"
I am gauging the interest in this idea.

### Summary
In NFS systems, sometimes files are not synchronized fast enough and workflows may fail when propagating the outputs of a node into the inputs of the next.

### Actual behavior
The File trait with metadata ```exists=True``` only checks once, instantly, when the interface is run or the command line queried.

### Expected behavior
Modulated by a n

[2016-12-15 03:39] satra commented on #1750
@oesteban - this is what the timeout setting in the execution config is for.

[2016-12-15 04:15] oesteban commented on #1750
@satra - you mean ```job_finished_timeout``` ? We are using the linear plugin, and it crashes for this reason (file not found). Then you check yourself and the files are there.

[2016-12-15 04:42] satra commented on #1750
indeed. yes the linear plugin does not use that flag, but could be augmented to do the same thing that's done in the parallel execution plugin.

[2016-12-15 21:44] shoshber commented on #1750
What about building a retry mechanism for node failures?

[2016-12-16 14:21] bpinsard opened #1752 "JoinNode bug appears only on a different computer"
### Summary

I have a simple code that have an iterable connected to a  join node.
[code]

I tried to install nipype (master branch) on a HPC, and use the same pipeline as before, but when I try to run I get the following error:

### Actual behavior

[code]

So it seems that all iterate fields are listed in copyable_trait_names while it is not on my desktop with the exact same code, this is crazy.

[2016-12-16 18:00] satra commented on #1752
@bpinsard - since we switched to pure setuptools it looks like nipype may get confused with a few things. to make sure we rule out such issues, could you please uninstall nipype (`pip uninstall nipype` a few times till it doesn't find any) and make sure that this location does  not contain any nipype directories `/home/bpinsard/.conda/envs/prod/lib/python2.7/site-packages/` .

also please remove a

[2016-12-16 18:20] bpinsard commented on #1752
Cleaned everything, re-clone the git folder, the same problem occurs.

[2016-12-16 18:23] bpinsard commented on #1752
I checked with the pipy version, and also have the same bug.

[2016-12-16 19:28] chrisfilo commented on #1752
Does using python 2 vs 3 make any difference?

On Fri, Dec 16, 2016 at 10:23 AM, bpinsard <notifications@github.com> wrote:

[2016-12-16 21:03] bpinsard commented on #1752
Is nipype really python3 compatible? I am battling to have it work, and it crashes at deepcopy stuff again, but with a different message:

[code]

[2016-12-16 21:09] chrisfilo commented on #1752
We've been using nipype with python 3.5 on a daily basis now with no such
problems. Is this master?

On Fri, Dec 16, 2016 at 1:03 PM, bpinsard <notifications@github.com> wrote:

[2016-12-16 21:13] bpinsard commented on #1752
this is both with pip and github master.
Are you using anaconda?

[2016-12-16 22:09] satra opened #1753 "REQ: replace graphviz based graph generation with vis.js"
http://mdaines.github.io/viz.js/

[2016-12-16 22:29] oesteban commented on #1752
I daily use anaconda + python 2.7 without issues. Could you print out the environment in your laptop? Maybe looking at the differences we can get some lead to the problem.

[2016-12-17 04:09] ccraddock commented on #1692
I think I have figured this out, https://github.com/nipy/nipype/pull/1754. After making the fixes I ran the nosetests 1000 times without deadlock (or timeouts in the wait()). @wtriplett would you mind seeing if this fixes the problems you are seeing with your workflow?

[2016-12-17 08:45] wtriplett commented on #1692
@ccraddock: definitely & thanks. Will report back soon.

[2016-12-17 16:36] #1692 closed

[2016-12-19 18:42] bpinsard commented on #1752
I just upgraded my traits using pip on my desktop and the same bug as on the HPC occurs.
with traits4.5 it's ok, with 4.6 it bugs, can you try on yours?

[2016-12-20 14:45] gciccarelli3 opened #1759 "bug: doc str: ants fixed vs moving description"
### Summary
Doc strings for moving img and fixed img help are identical.  I think only one of the images has the transformation applied to it.

### Actual behavior

### Expected behavior
I think the moving image is the image that is warped and the fixed image is the space to which the moving image is warped.

From pg 4 of the ants pdf doc:
"The moving image will be deformed to match the fixed imag

[2016-12-20 16:03] mgxd commented on #1752
@bpinsard could you make a simple standalone working example of the error? If this is a bug, it would be great to have a test

[2016-12-20 16:20] bpinsard commented on #1752
Ok, here is the example, just to know it requires iterable and joinnode nested in a iterable (eg. iterate sessions then join in a subject iterable) to happen.
[code]

with traits4.5 it works
with traits4.6 it doesn't

[2016-12-20 16:58] mgxd commented on #1752
Thanks - seems to be happening with any iterable workflow. Will have to investigate

[2016-12-22 15:05] bpinsard opened #1761 "sge qjobinfo __repr__ raises exception (silently)"
Sorry, I am finding again some weird deep dark hidden bug. =]
The changes to the following line raises exception:
https://github.com/nipy/nipype/blob/6c6cd787e71ca730fceae0764a2f55dacdd5baf4/nipype/pipeline/plugins/sge.py#L53
but is caught by run_qstat here:
https://github.com/nipy/nipype/blob/master/nipype/pipeline/plugins/sge.py#L264
when it calls _parse_qstat_job_list which calls __repr__  in:

[2016-12-24 20:02] #1690 closed

[2016-12-25 12:50] wtriplett opened #1762 "parameterize_dirs = False broken in python 3"
### Summary
Using hashed dir parameterization is not working as expected.

### Actual behavior
[code]
### Expected behavior
[code]
### How to replicate the behavior
[code]
### Platform details:
[code]

[2016-12-29 20:58] ariekahn opened #1766 "AFNI autobox out_file broken"
### Summary

The interface for Autobox automatically generates a cropped file, but the file doesn't get assigned as a node output.

### Actual behavior

If out_file is not provided, ```<result>_generated.nii.gz``` is generated but not assigned.

e.g.:
[code]

[code]

If out_file is provided,

[code]

### Expected behavior

Based on the AFNI documentation, the cropped file isn't a mandatory input.

[2016-12-30 07:16] djarecka commented on #1752
It looks like `traits.HasTraits.traits` has changed in version 4.6. I believe this is a new part (https://github.com/enthought/traits/blob/master/traits/has_traits.py#L2989) that leads to the error here: https://github.com/nipy/nipype/blob/master/nipype/interfaces/base.py#L646

[2016-12-30 18:45] chrisfilo commented on #1184
@oesteban Not this is something else. The problem is that displaying crash files populates the Traits from the failed Interface. This triggers checks - for example, file existence - which can fail on a nother machine.

This is the same thing that was reported in https://github.com/poldracklab/fmriprep/issues/160.

We should really work on making crashfiles portable (disable file existence checks?)

[2016-12-31 16:35] #1752 closed

[2017-01-03 15:42] djarecka commented on #1752
@bpinsard : does the new master work for you or you're still getting errors? I was not able to reproduce your error from Python3 (I simply had the same error for both Pythons: `AttributeError: 'DynamicTraitedSpec' object has no attribute...`), so your problem with Py3 might be related to something else.

[2017-01-03 15:47] bpinsard commented on #1752
@djarecka : yes I think it was related to misconfiguration of anaconda environment when having python 2&3 in the meantime, I fixed this.
I guess the PR should fix the current problem which was only due to traits 4.6 changes.

[2017-01-04 21:43] #1762 closed

[2017-01-05 18:38] chrisfilo commented on #1184
Alternatively, we could add a config field `crashfile_format` and with a `plain text` option. This would make crashfiles more portable and easier to view.

[2017-01-06 09:28] himito opened #1775 "Load SPM 12 batch"
Hello,

I would like to know if it is possible to load a spm batch file to configure the pre-processing pipeline.

Thank you in advance,

Best,
Jaime

[2017-01-06 14:00] satra commented on #1775
@himito - currently it is not possible to automatically convert an spm batch into a nipype pipeline. however, looking at the batch file, it should be mostly straightforward to construct the corresponding nipype pipeline.

going the other way, each nipype spm command does right out a batch file that could be used in matlab/spm.

[2017-01-08 14:10] himito commented on #1775
Thank you so much for your answer

[2017-01-10 21:48] chrisfilo commented on #1729
Closed by #1742

[2017-01-10 21:48] #1729 closed

[2017-01-12 22:13] mgxd commented on #1583
@navotnaor has this been resolved?

[2017-01-12 22:14] #1622 closed

[2017-01-12 22:14] mgxd commented on #1611
#1769 closes

[2017-01-12 22:14] #1611 closed

[2017-01-12 22:17] #1667 closed

[2017-01-12 22:18] #1389 closed

[2017-01-17 20:56] effigies opened #1782 "FreeSurfer v6.0 entorhinal cortex labeling"
### Summary
In FreeSurfer v6.0 ([release candidate](https://surfer.nmr.mgh.harvard.edu/pub/dist/freesurfer/6.0.0-release-candidate/)), `-(no)label-exvivo-ec` are no longer valid options. Entorhinal cortex labeling appears to be done by `-balabels` (see the final line of the [recon-all table](https://surfer.nmr.mgh.harvard.edu/fswiki/ReconAllTableStableV6.0#line-175)).

I'm guessing the solution wi

[2017-01-18 14:17] djarecka commented on #1705
@satra : shall we close it?

[2017-01-18 14:23] #1705 closed

[2017-01-18 14:23] satra commented on #1705
fixed via py.test updates

[2017-01-18 19:46] anbai106 opened #1783 "Datagrabber bug with the flag raise_on_empty"
Hello:
Recently, I tried datagrabber to grab some files from my dataset, but I found a problem which datagrabber does not work so well, here is the case:

here is the debug code:

[code]

For example, I have a dataset which has two subjects, and one of them has the the nifti image .nii, and another one does not have the image, so what i want is to not let my workflow die in the datagrabber even on

[2017-01-19 19:42] effigies commented on #1782
@satra Any opinion on the best way forward, here?

I suppose the first question is: Is `ReconAll` superseded by `workflows.smri.freesurfer.create_reconall_workflow`? Since that was designed with FreeSurfer 6 in mind, I don't want to waste too much time retrofitting `ReconAll` if it's due to be deprecated.

[2017-01-20 15:44] mgxd opened #1785 "seemingly random CI failures"
### Summary
#1776 - crashed in both travis/circle on different builds
### Actual behavior
"Random" crashes
### Expected behavior
No crashes
### How to replicate the behavior
Not sure
### Platform details:
master branch

[2017-01-23 09:26] gladomat opened #1786 "First Level Bayesian Estimation fails"
### Summary
The Bayesian estimation isn't fully implemented in nipype.

### Actual behavior
Since the Bayesian implenetation writes `Cbeta` imags instead of `beta `images, the code runs into problems. For example it cannot find an entry in the `SPM.ma`t with the name `Vbeta`, and rightly so, because this is named `VCbeta`. This is unfortunate, as I had to wait 4 days for this error to appear (sinc

[2017-01-24 11:06] salma1601 opened #1787 "ecc_pipeline discrepency in intensities"
### Summary
ecc_pipeline change intensity range for non B0 scans

### Actual behavior
I have a raw diffusion image with B0 scan intensities around 1000 and other scans around 200.
After the ecc_pipeline, the B0 scan intensities have the same range while the other scans are between 0 and 1

### Expected behavior
I expected the range of the scans to remain comparable to the raw image

### How to rep

[2017-01-24 12:24] satra commented on #1786
@gladomat - thanks for reporting this. we will take a look.

[2017-01-26 23:49] djarecka opened #1788 "segfault running /pipeline/engine/tests/test_utils.py"
### Summary
Segfault when running tests from /pipeline/engine/tests/test_utils.py

### Actual behavior
See e.g. https://travis-ci.org/nipy/nipype/builds/195258843
appears randomly, but never seen outside py2.7
It's probably the same problem as described in #1757, but the temporary @satra  solution doesn't always work(?).

Not sure, if my recent failure in different tests might be related: https://

[2017-01-27 00:38] satra commented on #1788
and those particular tests will pass if `unicode_literals` is turned off. so it's some interaction between the traits and unicode literals

[2017-01-27 05:19] oesteban commented on #1788
traits has C "fast" checking on some types. It looks to me that could be the source of the segfault

[2017-01-27 05:25] djarecka commented on #1788
looks better after updating traits to 4.6, but have to test more.

[2017-01-27 13:22] jnecus opened #1789 "nipype tbss pipeline error"
### Summary

I am using the template: ' pipeline to do a TBSS analysis on the NKI rockland sample data' for use on my own data. The script succesfully passes the first stage, i.e. generation of FA maps. However, once it reaches the TBSS processing steps it fail on the node 'tbss1.prepfa'

Here is a copy of the crash file information:

[code]

### Platform details:

[2017-01-27 14:28] jnecus commented on #1789
#### Update

I wondered whether the issue was being caused by the fact that tbss1.prepfa might require more than on e subject in order to run as I was initially trialling the script with just one subject.

After re-running with 2 subjects it seems to pass this phase, however I now get a new crash file. Any ideas on the causes of this crash?

crash file:

[code]

Thanks,
Joe

[2017-01-27 15:27] jguillon commented on #1783
I had the same issue and replaced line 1184 by the following:
[code]
simply to remove the `None`s from the files list.

[2017-01-29 04:43] djarecka commented on #1788
Traits 4.6 either solves the problem or hides it pretty well so the segfault occurs very rare (having problem with getting one). Since I don't understand this segfault, can't really say which one is true.

btw. I've just found that this is not the first time you have problems with traits&unicode_literals  errors that are not reported by Travis (at least not in every run) #1621

[2017-01-29 15:43] satra commented on #1788
@djarecka - the change you made in `interfaces.base` in dynamic traits was based on traits 4.6. perhaps we should set that as the minimum version.

[2017-01-30 14:51] djarecka commented on #1788
yes, all test should pass with traits 4.6. I've created a PR, but would keep the issue open

[2017-01-31 16:35] bartoli commented on #1635
I will comment here to avoid opening something potentially useless. I'd rather not have to add matplotlib.use('agg') at some place matplotlib can be imported.

I had no issue with mpl 1.5.1, but i now do in 1.5.3. I am actually building matplotlib myself so i figured i would disable tkagg backend at build time.
So i modified setup.cfg from
[code]
to
[code]
And yet, setup.py is still saying
`

[2017-01-31 17:59] TheChymera commented on #1635
Maybe something is wrong with your matplotlib build?

I also build it myself (seeing as I am using Gentoo, I build all packages), and I have successfully and very easily deactivted the `tk` backend, as seen here (eix reports with what features the package was built):

[code]

There's even a live pakage for matplotlib in Gentoo, so if you want to build matplotlib yourself and work in a highly custo

[2017-02-02 17:40] oesteban opened #1795 "ComputeDVARSOutputSpec instance must be a float"
### Summary
Using uncompressed nifti, nibabel opens up the images as ```memmap``` objects

### Actual behavior
A trait error is raised because the value is not purely float

### Expected behavior
The trait successfully accepts a float

### How to replicate the behavior
Calling ComputeDVARS with an uncompressed nifti

### Platform details:
Only happens with nipype<1.12.0
~~Any platform~~

Please se

[2017-02-02 18:42] oesteban commented on #1795
I've been playing around this, and the only safe solution I can come up with is requesting nipype>=1.12.0

WDYT @satra , @chrisfilo ?

[2017-02-03 02:06] cgc opened #1797 "FSL FNIRT intensity mapping files"
### Summary
When porting an FSL script to nipype, I noticed different results coming from a series of `fnirt` commands. Looking more closely, I found the outputs of the first `fnirt` command were correct, but the outputs of the second `fnirt` command were incorrect. In investigating the input parameters of the second `fnirt`, I found a slight difference with intensity map file names: because nipyp

[2017-02-03 04:19] cgc commented on #1797
i'm also happy to do the work to fix this issue if you can point me to cases like this. my rough guess for the work: add a file to output spec for the txt intmap, make the `intout` param not have an extension, add a txt intmap input, make the `intin` param not have an extension (and errors if txt intmap and nii intmap don't have the same extensionless path)

[2017-02-03 09:36] satra commented on #1797
@cgc - you could try adding an `if` here to capture both outputs:

https://github.com/nipy/nipype/blob/7d4d5e4b15bdabcae8edd8af0681c8820d23876b/nipype/interfaces/fsl/preprocess.py#L961

and change this line to `List(File)`

https://github.com/nipy/nipype/blob/7d4d5e4b15bdabcae8edd8af0681c8820d23876b/nipype/interfaces/fsl/preprocess.py#L910

change this to accept two files (so also `List(File)`) an

[2017-02-03 13:55] djarecka commented on #1788
it looks like travis with traits4.6 still have sagfault

[2017-02-03 18:23] djarecka opened #1798 "import error in test_provenance (and 3 others)"
### Summary
Travis fails when running test_provenance (and 3 others), all pythons.

### Actual behavior

E   ImportError: libicui18n.so.56: cannot open shared object file: No such file or directory

see travis output for more details:
https://travis-ci.org/djarecka/nipype/jobs/198015225

### Expected behavior

### How to replicate the behavior
don't know how to replicate outside travis

[2017-02-03 18:31] mgxd commented on #1798
ran into this error in #1794 as well, adding icu directly to Travis's conda seemed to fix it but I don't know if this is the best fix

[2017-02-03 18:46] djarecka commented on #1798
@mgxd  - I also found that people add `icu` to conda, I don't have any other idea.

[2017-02-03 18:48] djarecka commented on #1798
@mgxd : so won't create any new PR, if yours includes it.

[2017-02-05 01:34] fcoldrain opened #1800 "MNIBiasCorrection failed if out_file is undefined"
### Summary
When running freesurfer's MNIBiasCorrection in a workflow, it rasies an error if out_file is undefined. I believe if out_file is undefined, the output filename should have been something like 'subject_id_nucorrect.nii.gz' rather than raising an error.

### Actual behavior
Node inputs:

args = <undefined>
distance = <undefined>
environ = {u'SUBJECTS_DIR': '/Applications/freesurfer/subje

[2017-02-07 19:37] jolespin commented on #1350
Was this fixed? I just encountered this error as well with version 1.11

[2017-02-07 20:08] robmcc10 opened #1801 "Errors after installing nipype"
Hi,

I have attempted to install nipype:
conda config --add channels conda-forge
conda install nipype

The output of nipype.get_info is:
{'nibabel_version': '2.1.0', 'networkx_version': '1.11', 'numpy_version': '1.12.0', 'sys_platform': 'linux2', 'sys_version': '2.7.12 | packaged by conda-forge | (default, Sep  8 2016, 14:22:31) \n[GCC 4.8.2 20140120 (Red Hat 4.8.2-15)]', 'commit_source': u'(none

[2017-02-08 00:11] dorianps opened #1802 "Failure on MRTrix2TrackVis with nipype 0.13 but not the older 0.12"
### Summary
The same code fails if I use the developer version of nipype 0.13 but works with the older release 0.12.
Sorry for not giving too much details, it's my first time using nipype and I did not keep track of everything (who would have thought that it was the nipype version).

### Actual behavior
The ".trk" file produce with the new version is 1kb with nothing in it. It loads in TrackVis bu

[2017-02-08 00:23] #1797 closed

[2017-02-08 16:29] mgxd commented on #1801
Hi Rob,

This may be an issue with the version on conda - could you try updating to the current master?

[2017-02-08 16:37] mgxd commented on #1800
@fcoldrain I believe this was intentionally implemented - we try to wrap each interface exactly as it is when run in the command line. AFAIK, outvol is a required flagged argument for `mri_nu_correct.mni`

[2017-02-08 16:38] mgxd commented on #1798
I believe this is fixed with #1794, but we should monitor this

[2017-02-08 16:45] mgxd commented on #1802
Hi @dorianps,
This seems weird, if you could share some data with me to replicate this I'd like to take a look

[2017-02-08 16:52] ariekahn commented on #1801
Hi Rob,

There are a few additional packages that are needed to run the tests but aren't normally going to get installed by conda, `mock` included. I believe they only get pulled in when `python setup.py test` is run?

[2017-02-08 19:42] mgxd commented on #1789
Hi Joe,
The first problem is caused by what you said, running with multiple subjects fixes it.
As for the second problem, this seems to go back to #1033, where a new input `all_FA_file` for the workflow tbss_MD() was added. For the moment, you can install this branch which should workaround `pip install --upgrade https://github.com/mgxd/nipype/archive/rev/tbss.zip`.

@satra any ideas how we can up

[2017-02-08 19:44] mgxd commented on #1788
@djarecka @satra how do we progress with this? Will moving from traits to traitlets help this?

[2017-02-08 21:08] jnecus commented on #1789
Hello,

Following your instruction of doing `pip install --upgrade https://github.com/mgxd/nipype/archive/rev/tbss.zip.` I am now unable to run nipype. I get the following error

However when entering  `pip install configparser`

I get

I'm confused. How can I revert to how things were previously?

Thanks,
Joe

[2017-02-08 21:29] mgxd commented on #1789
@jnecus sounds like you still have two versions of nipype in your environment. I would suggest doing a fresh uninstall by clearing all of nipype's folders in `/home/joe/anaconda2/lib/python2.7/site-packages/nipype*` and then reinstalling.

Let me know if that helps

[2017-02-08 21:35] jnecus commented on #1789
I have performed the following commands:

`rm -r /home/joe/anaconda2/lib/python2.7/site-packages/nipype*`
`pip install nipype`

Which has succesfully reinstalled nipype. But still getting the configparser no module installed error.
Also still getting

When I pip install configparser

[2017-02-08 21:39] mgxd commented on #1789
in that case, I would try `pip install future==0.15.2` as seen in #1699

[2017-02-08 21:49] #1782 closed

[2017-02-08 21:54] #1775 closed

[2017-02-09 03:02] ariekahn opened #1803 "MRIsCALabel requires full path names, ignores subjects_dir"
### Summary
MRIsCALabel (and presumably a number of other tools) have their inputspecs set up with exists=True for a number of arguments that can be inside the subjects directory

### Actual behavior
MRIsCALabel(
...
canonsurf="rh.sphere.reg"
...
)

TraitError: The 'canonsurf' trait of a MRIsCALabelInputSpec instance must be an existing file name, but a value of 'rh.sphere.reg' <type 'str'> was sp

[2017-02-09 03:17] dorianps commented on #1802
Follow up: I have installed nipype in 3-4 computers in the last two days, and I finally realized that all packages need to be updated for the Trackvis conversion to work. That said, once everything works on nipype 0.12.1 upgrading to 0.13 brings a charset error, as below.

Files can be located here (rar file): https://www.wetransfer.com/downloads/0b7d2283bc6ce3f5e26d6774d9d3274e20170209031546/0e81

[2017-02-09 20:52] mgxd commented on #1802
@dorianps thanks for the info - i've submitted a patch for this that ignores the problem. This seemed to have been caused from switching over to unicode encoding.

[2017-02-09 21:15] djarecka commented on #1788
@mgxd  - I will check traitlets as @satra suggested.

[2017-02-10 00:18] oesteban commented on #1788
The most prominent issue I can foresee switching to traitlets right now is the different use of metadata (https://traitlets.readthedocs.io/en/stable/migration.html#separation-of-metadata-and-keyword-arguments-in-traittype-contructors).

Other than that, I guess migration will be less painful than it could seem.

[2017-02-10 02:47] satra commented on #1788
@djarecka - let's do migration after api change. for now let's figure out a fix for segfault (will require python in debug mode and gdb) and the new api.

[2017-02-10 02:54] satra commented on #1800
@mgxd - could you check by adding `mandatory=True` for `out_file`. it seems to have the necessary pieces to base it on infile:

https://github.com/nipy/nipype/blob/61978adaa3a2a1aeb4b13facfe1bc6fde38ed7fe/nipype/interfaces/freesurfer/preprocess.py#L1470

[2017-02-10 17:18] mgxd commented on #1783
@anbai106 @jguillon if you have already made some changes, feel free to submit a PR. My only comment would be to perform this only if `raise_on_empty` is set to `False`

[2017-02-10 17:54] jnecus commented on #1789
Hi there,

Thanks, your method of installing `https://github.com/mgxd/nipype/archive/rev/tbss.zip`  worked, the nipype tbss script ran to completion. I am now trying to figure out in which order the subjects have been merged onto the merged FA skeleton as nipype didn't seem to process the subjects in numerical order.

[2017-02-10 18:17] mgxd commented on #1798
this is still present despite adding icu

[2017-02-10 18:34] anbai106 commented on #1783
I think I PR it, can you have a look, this is my second time to do this, so im not sure if i did it correctly...

Good night

[2017-02-10 18:45] mgxd commented on #1783
@anbai106 I would suggest doing a separate, fresh PR. This way makes it much easier to keep track of all changes.

[2017-02-10 19:57] satra commented on #1800
@fcoldrain - could you please try out @mgxd's branch and see if it resolves your issue.

@mgxd - could you please add an additional doctest that resembles the issue.

[2017-02-11 02:15] oesteban opened #1809 "[BUG] Need traits>=4.5: unicode string problems"
### Summary
Traits error checking strings. I think this is duplicated of #1621.

### Actual behavior
Traits errors are raised for most of the interfaces, particularly FSL interfaces check and set dictionaries that are prone to reproduce this error.

[code]

### Expected behavior
No errors

[code]

### How to replicate the behavior
[code]

### Platform details:

[code]

### Fix
Installing ```traits

[2017-02-11 02:21] oesteban commented on #1220
I think this issue is outdated, feel free to reopen if I'm wrong.

[2017-02-11 02:21] #1220 closed

[2017-02-11 02:34] oesteban commented on #1809
I assume this will be fixed with #1791

[2017-02-11 13:49] satra commented on #1800
@fcoldrain and @mgxd - i'm not sure there is any error currently. @mgxd - the mandatory keyword is unnecessary for this.

[code]
am i missing something.

[2017-02-12 20:46] danella commented on #1317
I am having a similar problem. I need to register my fieldmap to my EPI (using flirt or ApplyXfm) to use in FUGUE - and am unable to do it because of this glitch. Any fixes or ways around this? Thanks!

[2017-02-13 15:08] bpinsard commented on #1761
see #1758 for a fix

[2017-02-14 15:47] mgxd commented on #1801
@robmcc10 have you been able to fix this issue?

[2017-02-14 19:40] umeboshi7 opened #1816 "small typos in testing_python.py"
In the examples for Docker at https://github.com/nipy/nipype/blob/master/doc/devel/testing_nipype.rst:

- docker build command : missing argument ('.')
- docker run command : run_pytest.sh should be run_pytests.sh

[2017-02-14 21:34] mgxd commented on #1800
@satra the command is correct, but the output wasn't being extracted properly. I've corrected this in the PR

[2017-02-14 21:40] mgxd commented on #1816
perhaps this can be included in #1815

[2017-02-14 21:44] mgxd commented on #1748
fixed in #1808

[2017-02-14 21:44] #1748 closed

[2017-02-14 21:44] mgxd commented on #1747
fixed in #1808

[2017-02-14 21:44] #1747 closed

[2017-02-14 21:46] mgxd commented on #1681
@tsalo does #1745 fix this?

[2017-02-14 21:53] mgxd commented on #1727
just like in #1685, `FSL` is ignored - perhaps changing it to `FSLCommand` would be a good fix

[2017-02-14 21:54] #1701 closed

[2017-02-14 21:54] mgxd commented on #1701
@Yuan-fang feel free to open this issue if needed

[2017-02-14 21:55] mgxd commented on #1695
@mvdoc closing this but feel free to open again if needed

[2017-02-14 21:56] #1695 closed

[2017-02-14 22:00] #1578 closed

[2017-02-14 22:01] mgxd commented on #1537
#1815

[2017-02-14 22:05] mgxd commented on #1227
@satra @chrisfilo could we close this now with the switch to pytest?

[2017-02-14 22:07] mgxd commented on #1224
@mih is this all set?

[2017-02-14 22:26] satra commented on #1227
this was addressed by uploading a wheel to pypi separately and not using travis to do `bdist_wheel`.

[2017-02-14 22:26] #1227 closed

[2017-02-14 22:34] oesteban commented on #1537
Docker images are too big for travis, I don't know if we are still interested on this...

[2017-02-14 22:35] oesteban commented on #1536
This will be finished in #1815 - Closing this issue.

[2017-02-14 22:35] #1536 closed

[2017-02-14 23:10] djarecka commented on #1537
Somehow related: i have on my TODO list to check [tox](https://pypi.python.org/pypi/tox). I understand that once you create python environments you can use them both locally and on Travis. Do you have any thoughts on this? Would it be useful?

[2017-02-15 00:01] oesteban opened #1818 "[BUG] FSL BET fails when bet actually did run successfully"
### Summary
FSL BET interface fails if anything is written to the standard error.

### Actual behavior
warnings can be written to the stderr, so any warning will make nipype understand that bet failed, although it didn't. The expected outputs are generated and in place.

[code]

### Expected behavior
Successful exit if bet actually run

### How to replicate the behavior
Hard to say, I'm working wi

[2017-02-15 00:15] chrisfilo commented on #1818
I believe this is because FSL BET does not use correct exit codes and the
only way we know it has failed is that it prints something on the standard
error. In this case problems with LC_ALL led to stderr output.

On Tue, Feb 14, 2017 at 4:01 PM, Oscar Esteban <notifications@github.com>
wrote:

[2017-02-15 00:16] satra commented on #1818
https://github.com/nipy/nipype/blob/f5ed4d68fc922fa3eea6a43036b09f79bfa94acb/nipype/interfaces/fsl/preprocess.py#L143

[2017-02-15 06:46] cni-md commented on #1224
@mgxd dcm2niix is working fine for Philips standard DICOM. DTI, fieldmap, ... all working. I assume dcm2nii is depreciated because dcm2niix is much faster.

[2017-02-15 15:32] #1224 closed

[2017-02-15 15:58] satra commented on #1800
@mgxd - the fix in this case is to remove the `_list_outputs` function and rely on the base function to use `namesource` and `template`:

[code]

it does look like several of the freesurfer interfaces can be improved using this pattern. but each one will need to be tested as well. since we actually don't run external interfaces within nipype, i would suggest making a separate test repo and start p

[2017-02-15 19:14] satra commented on #1403
@blakedewey @oesteban - should this be one `xvfb` per process or one `xvfb` per physical node? i'm thinking of multiple processes started by a scheduler, rather than the multiproc plugin.

[2017-02-15 19:16] blakedewey commented on #1403
It should be one per physical node. I was thinking of keeping track of the xvfb processes in the parent process, where we have a dictionary of physical node names and xvfb display numbers.

[2017-02-15 19:22] satra commented on #1403
@blakedewey - that gets a little more complicated since it gets into possible race conditions. so we would need:
1. some form of lock on a node
2. some form of reference counting
3. some way of determining an existing user xvfb process

[2017-02-15 19:26] gciccarelli3 opened #1820 "sparse capability in model.py broken: non informative error message"
### Summary
Upon improper specification of input to model.py, a convoluted help/error message is generated:

### Actual behavior
traits.trait_errors.TraitError: The 'bases' trait of a Level1DesignInputSpec instance must be a dictionary with keys which are u'dgamma' and with values which are a dictionary with keys which are u'derivs' and with values which are a boolean or a dictionary with keys whi

[2017-02-15 19:27] blakedewey commented on #1403
So assuming we could lock the node while Xvfb is starting, storing display number and pid for Xvfb should be enough to determine if it is running and restart if not (taking the lock again).

[2017-02-15 19:27] blakedewey commented on #1403
It would be complicated, though. That is true. I think that is why this issue has sat for a while.

[2017-02-15 19:45] gciccarelli3 commented on #1820
modelfit.inputs.inputspec.bases = {'none': {'none': None}} from @satra

[2017-02-15 19:45] #1820 closed

[2017-02-15 21:29] mgxd commented on #1798
closing this for now after #1808

[2017-02-15 21:29] #1798 closed

[2017-02-15 21:30] mgxd commented on #1785
since this is basically #1788, closing this

[2017-02-15 21:30] #1785 closed

[2017-02-15 22:46] fcoldrain commented on #1800
@satra and @mgxd - I have tested the method of removing _list_outputs function and can confirm that my workflow now works with no error raised. I agree that other freesurfer interface may be improved in this pattern, and I am happy to help with the test if needed.

By the way, I run the above test without having the 'genfile=True' in

out_file = File(argstr="--o %s", name_source=['in_file'], genfi

[2017-02-15 23:13] satra commented on #1800
@fcoldrain - we replaced `genfile` with more automation `namesource/template` so technically genfile should be obsoleted as we fix interfaces.

[2017-02-16 02:46] #1795 closed

[2017-02-16 20:20] oesteban commented on #1788
I have run the tests 10000x, using the new ```nipype/nipype_test:py27``` docker image:

[code]

No segfaults.

[2017-02-17 00:53] chrisfilo opened #1821 "DVARS calculation is incorrect"
Current implementation of DVARS is missing some important steps:

- normalization to % signal change
- squaring of the differences before taking their sum

The code needs to be carefully revised and corrected. Here is a nice summary of other DVARS implementations: http://czarrar.github.io/checking-on-dvars/

[2017-02-17 02:36] oesteban commented on #1821
I'd keep current implementation as an option though, since it replicates the implementation from T. Nichols.

The default option would be the revised version with normalization and squared differences.

[2017-02-17 05:11] djarecka commented on #1788
@oesteban - which version of traits do you have?
After changing traits version to 4.6 I also couldn't see segfaults in the  nipype/nipype_test:py27 docker image.

Unfortunately, if you're patient enough, Travis still might return [one](https://travis-ci.org/djarecka/nipype/builds/202239077). The branch includes your PRs.

[2017-02-17 14:50] satra opened #1823 "docker, PR testing, py36, and regression testing"
1. dockerhub builds our containers from master and circle currently rebuilds these.
   - could we reuse the dockerhub containers unless:
       1. the dockerfiles have changed?
       2. our requirements have changed.
2. shall we also always merge upstream branch for any PR during the test? this way it also tests if the PR is mergeable without any conflict?
3. we should also have a lightweight nip

[2017-02-17 16:54] oesteban commented on #1823
We can keep the automated build but changing the label to "master" or so (I'm to do this right now). The "latest" should be pointing to the latest tagged release, which now will be deployed from circle after successful tag push.

I wouldn't use containers from dockerhub, the circle cache should be enough to avoid the overhead of building them every time. Is that what you meant by "reuse the docker

[2017-02-17 17:13] oesteban commented on #1788
@djarecka tested with traits 4.4, aware of the possible influence of the travis version.

For some reason, Travis settings are originating this segfault, you may want to take a look into [Travis' docker image](https://hub.docker.com/r/travisci/ci-python/). Back in the time I was programming mostly C++, I remember that the reason # 1 for a random segfault is generally an uninitialized variable. How

[2017-02-17 18:38] oesteban commented on #1816
Sorry I missed this, I'll fix it asap.

[2017-02-17 19:03] djarecka commented on #1788
@oesteban - was double checking, since the nipype_test:py27 image I pulled and used was giving me segfault before updating traits to 4.6. I will follow your suggestion and will build my own image, but  the segfault is  not related to the Travis settings only, I was able to reproduce the segfault in at least 3 different environment outside Travis.

[2017-02-17 19:06] djarecka commented on #1788
I will try to debug the segfault on my OSX first, might be easier.

[2017-02-17 21:17] #1816 closed

[2017-02-18 04:43] chrisfilo commented on #1821
@oesteban You are correct - current implementation does indeed follow @nicholst and uses standard deviation to calculate the square root of the mean square temporal difference. In other words this line from @nicholst:

`fslstats -t $Tmp-Diff       -k $Tmp-MeanBrain -S > $Tmp-DiffSD.dat`

http://www2.warwick.ac.uk/fac/sci/statistics/staff/academic-research/nichols/scripts/fsl/DVARS.sh

Is represent

[2017-02-18 06:02] chrisfilo commented on #1821
One more thought: even if you do intensity normalization (make sure the mean/median value for each volume in the original timeseries is the same) it does not guarantee that the mean temporal difference (t0 - t1) would be zero. The same way two sample t-test and paired t-test do not always yield the same results.

[2017-02-19 14:51] robmcc10 commented on #1801
Hi mgxd,

I have not yet fixed it as unable to update conda currently. I will try and install again at a later date. So please feel free to mark the issue closed and I will ask again if there are any problems when I try and install in future.

Best Wishes

Rob

[2017-02-19 14:51] #1801 closed

[2017-02-19 16:31] chrisfilo commented on #1821
@nicholst corrected his original script https://twitter.com/ten_photos/status/833236998987001856

[2017-02-21 19:18] oesteban opened #1829 "[BUG] Error in nifti_image_files (pytest fixture)"
### Summary
nifti_image_files iterates over the string name when ```filelist``` is not a list

### Actual behavior
Several tests relying on this fixture fail.

### Expected behavior
When only one nifti is expected, generate only one.

### How to replicate the behavior
[code]
The docker image ```nipype/nipype_test:py35``` must be built with an up-to-date master.

### Platform details:
```nipype/nip

[2017-02-21 19:34] oesteban opened #1830 "[BUG] CircleCI will always pass"
### Summary
CircleCI never fail

### Actual behavior
Since the docker run instructions are wrapped inside a ```time``` command, the time command is always successful.

### Expected behavior
If the test fails, the error should be raised.

### How to replicate the behavior
https://circleci.com/gh/nipy/nipype/1852#tests/containers/2

### Platform details:
CircleCI

[2017-02-21 20:04] oesteban opened #1832 "[BUG] FMRIB58_FA_1mm.nii.gz missing in docker image"
Install ```fsl-mni152-templates``` within the docker image.

[2017-02-22 06:03] #1830 closed

[2017-02-22 06:03] #1832 closed

[2017-02-22 06:03] #1829 closed

[2017-02-22 07:15] oesteban opened #1834 "[CircleCI] Building Docker image often fails retrieving apt key"
An alternative to the mit server would fix this: ```apt-key adv --recv-keys --keyserver hkp://pgp.mit.edu:80 0xA5D32F012649A5A9```

[code]

[2017-02-22 15:38] effigies commented on #1834
The [SKS Keyserver pools](https://sks-keyservers.net/overview-of-pools.php) may be useful. Perhaps the high-availability pool <ha.pool.sks-keyservers.net>?

[2017-02-22 16:24] gciccarelli3 opened #1836 "Not applicable warning from input checking"
### Summary
Inappropriate warning is given about missing input when the input is actually present.  This causes significant confusion about what inputs are actually being passed into the node.

### Actual behavior
lib/python2.7/site-packages/nipype/interfaces/base.py:431: UserWarning: Input surface_fwhm requires inputs: reg_file
  warn(msg)

### Expected behavior
No warning should be printed.  The

[2017-02-22 22:04] #1834 closed

[2017-02-22 22:37] #1809 closed

[2017-02-23 02:50] #1348 closed

[2017-02-23 05:38] #1821 closed

[2017-02-23 13:35] tsalo commented on #1681
Sorry for the delay. I just updated my fork and tested it, but I'm still getting the same error:
[code]

[2017-02-23 13:44] satra commented on #1681
@tsalo -  looks like this interface needs to be fixed.

there is nothing that allows the user to choose what threshold method should be used.

https://github.com/nipy/nipype/blob/86cd8ffb6dae1362a07ed8e9c79d583db87780eb/nipype/interfaces/afni/preprocess.py#L1952

do you have some practical command lines for this interface from afni?

[2017-02-23 14:04] tsalo commented on #1681
@satra - I don't actually have any experience with 3dTCorrMap. I came across the error when I was just trying to clean up the doctests and understand why some were being skipped in the AFNI interface. I can look into it though.

[2017-02-23 15:11] himito opened #1841 "SPM realign outputs different to SPM"
Hello,

When I realign .nii files in SPM 12, there is a .mat file also as output. However, this file is not generated in the working directory when I execute Nipype.

Could you help to clarify that, please,

Thank you in advance.

[2017-02-23 16:05] chrisfilo commented on #1841
Did you try turning off the option 'remove_unecessary_outputs' to false in
your config?

On Feb 23, 2017 7:11 AM, "Jaime Arias Almeida" <notifications@github.com>
wrote:

[2017-02-23 23:49] mgxd commented on #1301
#1843

[2017-02-24 09:06] himito commented on #1841
Thank you so much !

[2017-02-24 10:35] VolkmarGlauche opened #1844 "nipype r 0.12.1 - interfaces/mrtrix/convert.py read_mrtrix_streamlines crashes when less than 100 streamlines in file"
### Summary

While trying to report progress, read_mrtrix_streamlines may crash with a ZeroDivisionError in line 142 of interfaces/mrtrix/convert.py.  When stream_count < 100, the right hand side of the modulo expression becomes zero, raising the division by zero error.
This line of code is also present in the current master branch.

### Actual behavior

traceback

[code]

### Expected behavior

T

[2017-02-24 12:41] VolkmarGlauche commented on #1841
As a side note:
During realignment, SPM stores updated header information for each original volume (i.e. the original volumes are modified, even in the case of Realign&Reslice). In 3D-NIFTI, this update is applied to the original NIFTI headers. In 4D-NIFTI, there is only one header for the whole image series. Therefore, SPM creates a .mat file to store per-volume realignment information. For SPM,

[2017-02-24 13:55] satra commented on #1841
thanks @VolkmarGlauche  - as a side note to the side note:

when use inside a workflow, nipype makes copies of the original data into the working directory of the node to make sure the original data are never touched. but this is not true if the interface is used outside a workflow.

[2017-02-24 17:54] salma1601 opened #1849 "EstimateResponseSH dipy interface can not change default 'auto' input to False"
### Summary
I can't find a way to set response estimation to recursive
### Actual behavior
Only auto_response can be used
### Expected behavior

### How to replicate the behavior
[code]
throughs the following error

and similarly with
[code]

### Platform details:
{'nibabel_version': '2.1.0', 'networkx_version': '1.11', 'numpy_version': '1.11.2', 'sys_platform': 'linux2', 'sys_version': '2.7.6 (de

[2017-02-24 19:12] chrisfilo opened #1850 "Interface to convert 3dvolreg output output to a set of ITK affine matrices"
Some references:

[Code to convert AFNI motion parameters to a numpy affine matrix](https://github.com/nipy/nipype/blob/master/nipype/algorithms/rapidart.py#L42)

[Discussion about peculiarities of ITK affine matrix file format](https://mail.python.org/pipermail/neuroimaging/2015-July/000145.html)

@matthew-brett let us know if you prefer this functionality to end up in nibabel.

[2017-02-24 20:49] himito commented on #1841
Thank you @VolkmarGlauche and @satra for your explanations :) I really appreciate them :)

[2017-02-25 23:40] reznida opened #1852 "Can't run nipype commands pycharm"
### Summary
Cannot execute different nipype commands such as Automask and 3dAutoTcorrelate using pycharm
### Actual behavior
I downloaded nipype without anaconda and I get no errors while importing, yet when I ran some commands I get the following error:

IOError: command '3dAutomask' could not be found on host MYHOSTNAME
Interface Automask failed to run.

any suggestions??

### Expected behavior

[2017-02-26 02:13] chrisfilo commented on #1852
Do you have AFNI installed and added to your PATH?

On Feb 25, 2017 3:40 PM, "reznida" <notifications@github.com> wrote:

[2017-02-26 02:16] reznida commented on #1852
I installed AFNI and now struggling with the PATH adding - should I add it to ~/.bash_profile file?
If so, what are the lines that I should add?

[2017-02-26 02:26] reznida commented on #1852
Solved!

I added these two following lines to my bash_profile file

echo 'export PATH=$PATH:$HOME/abin' >> .profile
echo 'export DYLD_FALLBACK_LIBRARY_PATH=$HOME/abin' >> .profile
. .profile

Thanks!

[2017-02-26 02:32] #1852 closed

[2017-02-28 11:00] #1283 closed

[2017-02-28 11:04] alexsavio opened #1855 "Moving input data path"
### Summary
Sometimes I need to move my data to another place.

### Actual behavior
I am not sure if there is any script to do this.
I am assuming that there is no choice to ask nipype to not check the paths of the input files and only the hash?

### Expected behavior
Be able to move the input data and have the working directory paths changed.
I suggest add a `nipypecli migrate` command that edits

[2017-02-28 12:03] satra commented on #1855
you can set the following argument to the workflow `run` function : `updatehash=True`

but you have to be careful that those inputs have not actually changed.

[2017-02-28 18:22] mgxd commented on #1849
@salma1601 this should be fixed once #1856 is merged - feel free to use [my branch](https://github.com/mgxd/nipype/tree/fix/ersh) in the meantime

[2017-02-28 18:23] #1841 closed

[2017-02-28 18:32] mgxd commented on #1836
This warning happens to remind users if they intend to use `surface_fwhm`, `reg_file` must be provided. Since the checking is currently happening through traits as inputs are assigned, presence of the warning is strictly due to which is connected first. Generally, it's good practice to set connect statements in this order.

This can be patched by dropping the `requires` trait keyword and instead a

[2017-03-02 19:22] chrisfilo commented on #1055
fluflock looks promising

[2017-03-03 20:22] robmcc10 opened #1860 "IndexError: index 0 is out of bounds for axis 0 with size 0"
### Summary
Dear All,

I have a pipeline that is designed to extract the proportion of CSF from a MRS voxel. The script was designed for a GE scanner so the inputs are the structural T1 image and the MRS .7 file. I have been trying to modify the script to work with data obtained on a Philips scanner.

As a first step I have amended the script to not depend on the MRS file (i.e. I enter the MRS vox

[2017-03-05 20:51] hjmjohnson opened #1863 "Problem with lists of strings begin converted to unicode (AntsJointFusion)."
### Summary

A quick followup with specific details:
 
In AntsJointFusion interface:
 
    target_image = InputMultiPath(File(exists=True), argstr='-tg %s...',
                                  mandatory=True, desc='Target image(s)')
 
 
is generating a command line of:

### Actual behavior
-t [u'/Shared/nopoulos/structural/DM1_MR/BAWEXPERIMENT_20170302/20170302_DM1_base_CACHE/singleSession_985_65

[2017-03-06 06:49] milesseidel opened #1864 "Nipype installation test failure"
### Summary
Hello, I'm attempting to install and test nipype on a mac running macOS Sierra 10.12.3. I have installed Anaconda and ran the following lines in the terminal:

$ conda config --add channels conda-forge
$ conda install nipype
$ python -c "import nipype; nipype.test()"

Help is much appreciated - I could really use some assistance. Thanks,

Miles

### Actual behavior
I get the following

[2017-03-06 13:34] satra commented on #1864
@milesseidel - this issue has been fixed in the current master branch. you can upgrade to this by doing:

`pip install --upgrade https://github.com/nipy/nipype/archive/master.zip`

we will be releasing a new version shortly.

[2017-03-06 13:58] salma1601 commented on #1849
Ok thanks. I think that the response type is not the same for recursive response and autoresponse.

[2017-03-06 14:54] hjmjohnson commented on #1863
@satra

The following is the report.rst file that is created during the Running of AntsJointFusion.

[report_cleaned.txt](https://github.com/nipy/nipype/files/821459/report_cleaned.txt)

I noticed that the inputs are all coded as unicode for the inputs.  I confirmed this by running the following: 'find . -name "report.rst" -exec grep "u'" {} \;' in the nipype cache directory.  Previous environment

[2017-03-06 16:35] himito commented on #1841
Sorry for re-opening this issue, but I have a problem with the .mat files generated by realign.

There is a way (in the workflow) to copy the .mat files generated by realign into the working folder of another node ? Because if a run the pyscript with (spm matlab output) and without the *.mat files, the results are different.

Thank  you in advance

[2017-03-06 23:15] milesseidel commented on #1864
### Summary

@satra Thanks for the reply. I get the following installation error (full output displayed). Perhaps I tried too early, before the new version has been released?

$ pip install --upgrade https://github.com/nipy/nipype/archive/master.zip

Collecting https://github.com/nipy/nipype/archive/master.zip
  Downloading https://github.com/nipy/nipype/archive/master.zip (4.1MB)
    100% |██████

[2017-03-06 23:21] satra commented on #1864
@milesseidel - that's a weird one. which version of anaconda do you have?

[2017-03-07 00:21] milesseidel commented on #1864
$ anaconda –V

anaconda Command line client (version 1.6.0)

From: Satrajit Ghosh <notifications@github.com>
Reply-To: nipy/nipype <reply@reply.github.com>
Date: Tuesday, 7 March 2017 at 09:21
To: nipy/nipype <nipype@noreply.github.com>
Cc: milesseidel <miles.seidel@gmail.com>, Mention <mention@noreply.github.com>
Subject: Re: [nipy/nipype] Nipype installation test failure (#1864)

@milesseidel -

[2017-03-07 00:23] milesseidel commented on #1864
@satra
$ python -V
Python 3.5.2 :: Anaconda 4.3.0 (x86_64)

[2017-03-07 01:05] satra commented on #1864
@milesseidel - could you please try the following: `conda update pip` and then try the pip install command again?

[2017-03-07 01:20] milesseidel commented on #1864
@satra After updating pip with conda nipype, pip was able to successfully install. However, when I rerun the installation tests I get the following (identical to initial problem):

$ python -c "import nipype; nipype.test()"
=============================================== test session starts ================================================
platform darwin -- Python 3.5.2, pytest-3.0.6, py-1.4.32, p

[2017-03-07 02:04] oesteban commented on #1864
@milesseidel could you please paste in the output of:
[code]
Thanks!

[2017-03-07 02:10] chrisfilo commented on #1750
Seems relevant: http://stackoverflow.com/a/3206187/616300

[2017-03-07 02:13] oesteban commented on #1750
@satra I've been looking at the `job_finished_timeout` and only found this use: https://github.com/nipy/nipype/blob/master/nipype/pipeline/plugins/base.py#L527

We are seeing these synchronization problems at two points:

- when checking traits (the original reason for opening this issue)
- when moving the `_unfinished.json` to finished `.json` here: https://github.com/nipy/nipype/blob/master/nipy

[2017-03-07 02:14] chrisfilo commented on #1750
Definitely not in MultiProc.

[2017-03-07 02:15] oesteban commented on #1750
Yep, that would affect any plugin, virtually. I think Joke was running mriqc with Linear.

[2017-03-07 02:17] chrisfilo commented on #1750
I'm saying that `job_finished_timeout` only influences SGE like plugins and most likely solves NFS sync issues for them. From what I see in the code changing `job_finished_timeout` currently does not influence, Linear or MultiProc.

[2017-03-07 02:22] satra commented on #1750
@oesteban - with linear or multiproc there shouldn't be any file sync issue as the files are local (even if mounted via nfs)

is there any possibility that two jobs were started on the same data and in the same working directory?

[2017-03-07 03:16] milesseidel commented on #1864
@osteban Here's the output. Let me know if you need any other info or have suggestions.

$ pip freeze
alabaster==0.7.9
anaconda-clean==1.0
anaconda-client==1.6.0
anaconda-navigator==1.4.3
appdirs==1.4.2
appnope==0.1.0
appscript==1.0.1
argcomplete==1.0.0
astroid==1.4.9
astropy==1.3
Babel==2.3.4
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.5.3
bitarray==0.8.1
blaze==0.10.1
bokeh==0.12

[2017-03-07 03:39] oesteban commented on #1750
@satra - this has happened to two different people, running on two different HPCs. The likelihood that two or more jobs were run at the same time is minimal.

Best case scenario, `shutil.move` is not NFS safe, and the remove operation may not be atomic.

Worst case scenario: may nipype be running two processes in parallel somehow?

[2017-03-07 03:43] oesteban commented on #1750
http://stackoverflow.com/a/3716361 - I wonder if C's `rename` is being used in NFS.

[2017-03-07 03:57] satra commented on #1750
@oesteban - but unlike multinode race conditions, there is only one client here, so atomicity shouldn't come into play.

i have seen that error before but under one of two considerations:

1. the same job triggered by two different workflows.
2. mulitproc spawning multiple jobs

are you positive this was seen with linear and there was no other workflow running using that basedir?

[2017-03-07 03:59] oesteban commented on #1860
It looks like a `Function` node failing, so you would need to figure out what is happening there. Likely you are trying to access an empty array.

More detailed information about the node can be extracted running:
[code]

[2017-03-07 04:00] chrisfilo commented on #1750
My suspicion is that they were sharing a workdir.

On Mon, Mar 6, 2017 at 7:57 PM, Satrajit Ghosh <notifications@github.com>
wrote:

[2017-03-07 04:05] oesteban commented on #1750
Judging by the traces we are getting, it is using the `shutil.copy2()` path here. Meaning: does not use `os.rename()` -> it is not considered the same filesystem.

[2017-03-07 04:12] oesteban commented on #1750
@satra:

Ref. 1: maybe our trick of pulling all the nodes in the "workflow_enumerator" basket is causing the problem, could it be possible @chrisfilo ?

Ref. 2: I'm not sure about that. I'd feel safer about this with the traits problem, but not for this other race condition. I'll dig in a little.

[2017-03-07 17:31] oesteban commented on #1750
@satra, I think @chrisfilo found the issue yesterday and it looks like you are right. We have managed to build a very edge case were we make nipype try to run a node multiple times when it is not necessary.

We've done this by placing a *data source* in the middle of the graph of a workflow that is expanded with iterables, inside another workflow expanded as well.

This is not a nipype issue, but

[2017-03-07 17:44] chrisfilo commented on #1750
In our case (as @satra predicted) it was multiple nipype instances using the same working directory and attempting to run a Node with the same name. I don't think we can easily identify such situations in Nipype engine...

[2017-03-07 17:48] satra commented on #1750
@chrisfilo - you are correct. given all the different plugins, it's really hard to identify this situation.

but perhaps we can do a few specific things to see if it can help. directory creations are atomic operations, so one possibility is to have a node crash or wait if the output directory exists and has an unfinished json. these checks can obviously run into race conditions across nodes.

we c

[2017-03-08 16:06] satra commented on #1864
@milesseidel - closed via #1866

[2017-03-08 16:06] #1864 closed

[2017-03-08 17:08] mgxd commented on #1844
#1802 will also fix this

[2017-03-08 17:11] #1836 closed

[2017-03-08 18:20] #1761 closed

[2017-03-08 18:21] mgxd commented on #1789
@jnecus are you still running into trouble with the pipeline?

[2017-03-08 18:26] mgxd commented on #1734
Hi @anbai106, I'm not sure what interface you're discussing, can you clarify? If this is about nibabel's algorithm, you could ask in their project's repo

[2017-03-08 18:52] mgxd commented on #1699
@jpellman is this still an problem with current master?

[2017-03-08 18:55] effigies commented on #1734
Duplicate of nipy/nibabel#497.

[2017-03-08 18:55] chrisfilo commented on #1699
BTW I fixed listed this dependency in conda-forge. I should install cleanly
when getting it via conda.

On Wed, Mar 8, 2017 at 10:52 AM, Mathias Goncalves <notifications@github.com

[2017-03-08 18:56] #1734 closed

[2017-03-08 18:56] #1699 closed

[2017-03-08 18:58] jnecus commented on #1789
Hello,

Thanks for the message. As I said the previous fix worked, but I haven't gotten around to figuring out whats going on further down the line. I would mark this issue as complete for now.

Thanks for all your help,
Joe

[2017-03-08 19:10] mgxd commented on #1495
@pehses I think this was fixed when updating our test-suite, I haven't been able to replicate since. If this is still happening, feel free to open the issue again

[2017-03-08 19:10] #1495 closed

[2017-03-08 19:11] mgxd commented on #1789
If you run into any other troubles, feel free to open a new issue

[2017-03-08 19:11] #1789 closed

[2017-03-08 19:12] mgxd commented on #1480
this should now be fixed in latest version

[2017-03-08 19:12] #1480 closed

[2017-03-08 19:17] mgxd commented on #1384
#1711

[2017-03-08 19:17] #1384 closed

[2017-03-09 16:14] mgxd commented on #1703
closing this for now - feel free to open if you still have issues

[2017-03-09 16:14] #1703 closed

[2017-03-09 16:24] #1583 closed

[2017-03-09 16:26] mgxd commented on #1566
Should be off unless you add
[code]

[2017-03-09 16:27] mgxd commented on #1542
this should be fixed

[2017-03-09 16:27] #1542 closed

[2017-03-09 16:38] #1318 closed

[2017-03-09 18:48] oesteban opened #1873 "[ENH] Sphinx extension to render workflows"
Hi @satra, could you take a quick look on this: http://mriqc.readthedocs.io/en/latest/workflows.html ?

That workflow picture was generated automatically from the docstring using this sphinx extension. For generating the graph, I only had to do this in the docstring:

[code]

For simpler workflows this could be a one-liner.

I'm still working out some things (e.g. being able to pass the graph type

[2017-03-09 18:57] satra commented on #1873
i'm wondering whether we could use this: http://viz-js.com/

then we get rid of the graphviz dependency completely.

[2017-03-09 20:02] oesteban commented on #1873
If we generate svgs with viz-js, it would be transparent to the sphinx extension, so I guess so :)

[2017-03-10 15:10] alexsavio opened #1876 "eddy_openmp vs. eddy"
The fsl.Eddy interface has been changed to use `eddy_openmp` instead of the `eddy` command.

Why?
As far as I know this doesn't come from any standard installation from FSL, does it?

Thanks.

[2017-03-10 15:21] #1876 closed

[2017-03-10 15:46] mgxd commented on #1317
@brennerd11 @danella this should be fixed in the above PR, sorry about the delay!

[2017-03-10 16:32] ankita940 opened #1877 "fmri_spm_auditory"
i am new to nipy. i was learning pipeline using frmi_spm_auditory code from ur github page. i am getting this error in my crash file when i am running it. please help.
From my understanding its giving error since cant found spm on its path but I checked its there.
I run these commands:
import nipype.interfaces.spm as spm
spm.Info.version()

its giving this output-
{u'name': u'SPM12',
u'path': u'/h

[2017-03-10 16:40] satra commented on #1877
@ankita940 - are you running the workflow on the same machine where you are checking the spm version?

[2017-03-10 16:52] ankita940 commented on #1877
Yes

[2017-03-10 17:35] satra commented on #1877
this is very weird. i can't see a reason why the two calls would be different. indeed, spm does not show up in the list of toolboxes from the matlab output. out of curiosity can you provide the output of:

`printenv | grep -i matlab`

and

`printenv | grep -i nipype`

and in the python terminal:

[code]

and

[code]

[2017-03-10 17:36] satra commented on #1877
fixed the code above to do `res.runtime.stdout`

[2017-03-10 18:10] oesteban opened #1878 "[ENH] Write SNR0 in tSNR interface"
The TSNR interface should (optionally) write out the SNR0 map, since it is a required step for computing the tSNR.

Additionally, it should accept two masks to indicate where to measure the signal and where to measure the background noise.

https://doi.org/10.1002/mrm.1240

WDYT @chrisfilo ?

[2017-03-10 19:27] ankita940 commented on #1877
output of commands u mentioned:
1) PATH=/usr/local/MATLAB/R2016b/bin:/usr/share/fsl/4.1/4.1/bin:/home/ankita/anaconda2/bin:/home/ankita/miniconda2/bin:/opt/c3d/bin:/opt/afni:/usr/share/fsl/5.0/bin:/usr/lib/fsl/5.0:/opt/c3d/bin:/opt/afni:/usr/share/fsl/5.0/bin:/opt/c3d/bin:/opt/afni:/usr/share/fsl/5.0/bin:/opt/c3d/bin:/opt/ants/bin:/opt/afni:/usr/share/fsl/5.0/bin:/opt/afni:/usr/share/fsl/5.0/bin:/

[2017-03-10 19:30] satra commented on #1877
@ankita940 - these are simply logging during the execution of the two run() commands. however, it's the output of the two print statements above that i need to see.

[2017-03-10 19:37] ankita940 commented on #1877
okay sorry I thought its error

3) output of -  from nipype import Node
from nipype.interfaces.matlab import MatlabCommand
node = Node(MatlabCommand(script='ver;'), name='matlab')
res = node.run()
print(res.runtime.stdout)

170311-01:02:43,958 workflow INFO:
	 Executing node matlab in dir: /tmp/tmpyIsYzR/matlab
170311-01:02:44,3 workflow INFO:
	 Running: matlab -nodesktop -nosplash -singleCompThre

[2017-03-12 15:22] satra commented on #1877
thanks @ankita940 - so clearly the matlab called from the node cannot find spm. if you could do this one last check - just copy and past the whole thing:

[code]

[2017-03-13 17:49] mgxd commented on #1197
@m-guggenmos feel free to open this if needed

[2017-03-13 17:49] #1197 closed

[2017-03-13 18:32] mgxd commented on #1022
@gerddie @hjmjohnson is this all set?

[2017-03-13 18:34] mgxd commented on #1095
@TheChymera feel free to open this again if needed

[2017-03-13 18:34] #1095 closed

[2017-03-13 18:35] LJWilliams commented on #875
`nipype_display_crash` seems to be deprecated. Try the commands from here

(http://nipype.readthedocs.io/en/latest/users/cli.html)[http://nipype.readthedocs.io/en/latest/users/cli.html]

[2017-03-13 18:37] #1064 closed

[2017-03-13 18:39] #951 closed

[2017-03-13 18:39] #969 closed

[2017-03-13 18:41] #919 closed

[2017-03-13 19:28] gerddie commented on #1022
Because of moving away from the job where I actually needed this, I haven't had another look ,,,

[2017-03-13 19:37] oesteban commented on #1022
I think `--float` is currently working ok with ants 2.1.0

[2017-03-13 20:38] #420 closed

[2017-03-14 04:09] mgxd commented on #1863
closed in #1862 + #1879

[2017-03-14 04:09] #1863 closed

[2017-03-14 16:55] rpalmeida opened #1880 "Nipype installation test failure"
### Summary
Hello,
As in issue #1864, I was having some troubles with traits so, as it was suggested there, I've updated to nipype-0.13.0 but, nipype.test is still failling.
How should I proceed?

Thank you in advance for the help,
Raquel

### Actual behavior
=================================== FAILURES ===================================
____________________________ test_write_graph_runs ________

[2017-03-14 17:36] satra commented on #1880
@rpalmeida - thanks for the feedback. you should be ok, but yes the tests require a few more things than the basic setup for nipype (@oesteban). we will try to take care of this before we release next.

[2017-03-14 18:55] rpalmeida commented on #1880
Hi @satra, thank you so much for the answer.
Unfortunately, it is still not working for me.
With nipype 0.12 and freesurfer 5.3 everything was fine and running without errors.

After the freesurfer update from version 5.3 to 6.0 nipype started raising a traits error.
After installing nipype 0.13, as suggested, I get this error:
[code]

Just to make sure, I downgraded back to freesurfer 5.3.
With n

[2017-03-14 19:07] oesteban commented on #1880
Hi @rpalmeida, let's review the errors:

1. Test failing: do you have graphviz installed?

2. Freesurfer 6.0: could you please confirm if the file `/Applications/freesurfer/average/RB_all_withskull_2014-08-21.gca` actually exists?

3. Here you seem to have some installation problem of `nu_correct` from your Freesurfer 5 judging from that `Can't locate MNI/Startup.pm`:
[code]
Thanks a lot

[2017-03-14 20:32] rpalmeida commented on #1880
Hi @oesteban,
Thanks for your answer

1. graphviz wasn't installed
2. it exists in freesurfer 6.0 but its name is RB_all_withskull_2016-05-10.vc700.gca should I change the name or is this a problem that everyone who upgrades to freesurfer 6 will have, so it better if you guys update the name on the code?
3. freesurfer 5.3 was working fine before, I only change the folder name, It should be somethi

[2017-03-14 22:00] oesteban commented on #1880
Thanks a lot,

1. I think the test will not fail with graphviz installed (I'll check if nipype skips the test when graphviz is not available).
2. (and 4.) Right, this is something @effigies can be more knowledgeable than me.
3. Hard to tell, have you tried running the same command without nipype? If it works, then it is something we are doing wrong. But it seems to me that some environment variabl

[2017-03-14 22:09] satra commented on #1880
@oesteban - i believe @rpalmeida is using @hjmjohnson and @dmwelch 's recon-all workflow rather than just the recon-all script.

@dmwelch - have you run the workflow with the released version of freesurfer 6?

[2017-03-15 00:04] rpalmeida commented on #1880
@satra - If you are talking about the smri_fsreconall script, then yes this is what I am using.

@dmwelch and @effigies -  besides the RB_all_withskull_2014-08-21.gca I also had to change the name of RB_all_2014-08-21.gca on the freesurfer 6 folder;
the original files name were RB_all_withskull_2016-05-10.vc700.gca and RB_all_2016-05-10.vc700.gca respectively. I'll give feedback if the workflow ev

[2017-03-15 01:49] mgxd commented on #1880
@rpalmeida regarding the fail, I think you'll also need pydotplus

[2017-03-15 09:23] anbai106 commented on #1072
Sorry to open this issue again, I have EPI sequence, and I have different machines( Siemens, GE, Philips), when I use dcmstack to convert these dicoms to nifti, it works well for Siemens GE(ok for DTI, phase and magnitude image), but not for Philips DTI, i got the same errors like above, do you have any suggestion???

[2017-03-15 12:47] satra commented on #1072
@anbai106 - at this point we recommend that people use: https://github.com/nipy/heudiconv - it has the added advantage of being able to convert to a bids structure. there is even a docker image if you don't want to install things. https://hub.docker.com/r/nipy/heudiconv/

[2017-03-15 13:53] anbai106 commented on #1072
@satra -Nice, for the converter option with dcmstack, do you have the option to write json file for the metadata, which draws me interests. But my question is that even with heudiconv, you still use the dcmstack, for Philips DTI image, do we still have this errors? I saw there is an issue in the dcmstatck github : [https://github.com/moloney/dcmstack/issues/48](url)

Look forward to hear you

[2017-03-15 14:06] satra commented on #1072
actually we will soon be replacing the converter options with just dcm2niix for now - dcmstack was targeted at siemens scans. you should use the dcm2niix converter option.

[2017-03-15 14:44] anbai106 commented on #1072
@satra -Yes I know that dcm2niix work fine for all the three machines with -b option, but content that dcm2niix created with -b option is not so complete compared dcmstack, Currently, when dealing with DWI data, we have to calculate the **effective-echo-spacing and full-read-out-time**, some parameters like this, what we want to do is to compute these parameters for preprocessing step(some times t

[2017-03-15 15:31] mgxd opened #1883 "[TST] [CircleCI] BBRegister autotest failing if make specs run with no FS/FS<6"
### Summary
After running `make specs`, `test_auto_BBRegister.py` adds in argument `init` as mandatory, probably due to the inputspec for FS6. This causes circleci to fail when running `nipype.test()`
### Actual behavior
[code]
### Expected behavior
Passing
### How to replicate the behavior
- make specs, run circle tests (was happening in #1875)
However, working fine when I run `nipype.test()` loc

[2017-03-15 15:46] mgxd commented on #1072
@anbai106 [dcm2niix](https://github.com/rordenlab/dcm2niix) should calculate effective echo spacing for you. As for total readout time, [this post](https://lcni.uoregon.edu/kb-articles/kb-0003) discusses potential ways to calculate it. If you still want to use dcmstack, working with the developers may be your best bet.

[2017-03-15 16:06] effigies commented on #1883
Running `make specs` on a machine without FS or with FS6 should both result in no `mandatory` flag. The test to use the FS5.3 (with mandatory `--init-*`) is [`FSVersion and LooseVersion(FSVersion) < LooseVersion("6.0.0")`](https://github.com/nipy/nipype/blob/master/nipype/interfaces/freesurfer/preprocess.py#L1069-L1070).

So it looks like it's being run on a system with FS5.3 installed, which is o

[2017-03-15 16:35] satra commented on #1072
@anbai106 - i completely understand. one of the things on the plate, but no resources at this time is to move some of the dicomstack functionality to nibabel or a standalone library:

- python 2/3 compatible
- reads and organizes dicoms across scanners
- understands metadata from different scanners

[2017-03-15 16:51] mgxd commented on #1883
@effigies perhaps a non-auto test would be better for this interface, and we can skip the auto test generation. Otherwise, not having Freesurfer6 installed would cause conflicting tests every time `make specs` is run. Let me know what you think? @satra

[2017-03-15 17:44] effigies commented on #1883
What sort of functionality should be tested in order to make a regular test as valuable as the auto tests?

[2017-03-15 19:21] mgxd commented on #1883
Essentially, it will be very similar to the auto-test (mandatory args, defaults, xor, args with dependencies, etc), there are already some manual tests included [here](https://github.com/mgxd/nipype/blob/da1bd763078770f0850c7d50cb26fb45eb70a408/nipype/interfaces/freesurfer/tests/test_preprocess.py).

[2017-03-15 21:04] anbai106 commented on #1072
@mgxd - Thanks for your reply, Finally, I think for Siemens, it is quite stable to calculate the parameters needed for preprocessing(like you showed in the post), but for Philips and GE, it is not the same, I think for Siemens, I have finished the scripts to calculate these parameters, and for dcm2niix, the json file looks like this:

	"Manufacturer": "Philips",
	"ManufacturersModelName": "Achieva

[2017-03-15 21:46] #1800 closed

[2017-03-16 01:58] #1849 closed

[2017-03-16 02:46] #1883 closed

[2017-03-16 17:42] #859 closed

[2017-03-16 17:44] mgxd commented on #846
closing now that we require 1.7

[2017-03-16 17:44] #846 closed

[2017-03-16 17:45] #842 closed

[2017-03-16 19:33] mgxd commented on #885
@mdk142 dunno if this is still relevant, but I would recommend [heudiconv](https://github.com/nipy/heudiconv), which aims to make this process much easier

[2017-03-16 19:35] #900 closed

[2017-03-17 09:56] ankita940 commented on #1877
Output of what you asked for:

170317-15:21:12,477 workflow INFO:
	 Executing node finder in dir: /tmp/tmp5I2tcH/finder
170317-15:21:58,948 workflow INFO:
	 Runtime memory and threads stats unavailable
CALL: spm checker directly
12.6906
CALL: spm checker via node
None

What should I do so that matlab can find spm in its path.Please guide.

[2017-03-17 19:54] mgxd commented on #1229
@thelxinoe it looks like you are not defining warpfield -

```vecreg.inputs.warp_field = ```

does defining this solve your problem?

[2017-03-17 19:56] mgxd commented on #1759
also mentioned in #1223 - I'll make a quick fix

[2017-03-21 06:37] ankita940 commented on #1877
Hello @satra
I have to do a project on this but I got stuck on this point because of the above issue.
Please help me with the above issue.

[2017-03-21 10:07] alexsavio opened #1897 "Looking for references on RapidART"
Hi, this is not about a bug.

I have used RapidART for one of my experiments and I am writing an article about it. I am looking for a paper which already used the motion and intensity statistics from RapidART to reject subjects from a fMRI experiment.

Do you know if there is any? Could you please point me out to it?

Thank you!

[2017-03-21 12:46] satra commented on #1897
@alexsavio - it's been used in several papers and in the conn toolbox, but there is no direct paper for it. but the ideas are relatively simple and many other folks have now written papers on similar schemes. you could possibly cite the conn toolbox paper. funnily enough that's the algorithm that started the original nipype tools in 2008!

[2017-03-21 12:47] satra commented on #1897
for example, this is one of the earlier papers that used it: http://www.nature.com/neuro/journal/v10/n9/abs/nn1950.html

[2017-03-21 16:06] alexsavio commented on #1897
thank you @satra!

[2017-03-21 16:37] oesteban commented on #1074
Is this done?

[2017-03-21 16:42] satra commented on #1074
yes: http://nipype.readthedocs.io/en/latest/api/index.html

[2017-03-21 16:42] #1074 closed

[2017-03-21 16:43] #1897 closed

[2017-03-21 18:51] ankita940 opened #1898 "cannot import name NUMPY_MMAP"
hi ,

while running spm_fmri_auditory data,
realign , coregister are working fine.
but when it reaches segementation it throws "cannot import name NUMPY_MMAP".

thank u.

P.S:  here is the content of the crash file.

File: crash-20170322-000050-ankita-normalize_func.a0-01a55623-d776-4eb2-a8f9-855304a29fcd.pklz
Node: level1.firstlevel.preproc.normalize_func.a0
Working directory: /home/ankita/prepro

[2017-03-21 18:56] mgxd commented on #1898
Hi @ankita940, `NUMPY_MMAP` was added to the nipype package to check your version of numpy. This error should be solved by installing the latest version of nipype with:
`pip install --upgrade https://github.com/nipy/nipype/archive/master.zip`

[2017-03-21 21:00] chrisfilo opened #1899 "Codecov submission is not enabled on Travis"
It used to be, but it disappeared at some point. @djarecka do you know anything about it?

[2017-03-21 21:03] satra commented on #1899
we decided to remove it from one and just focus on the circle coverage. there didn't seem to be a way to accumulate coverage across travis + circle. since circle runs tests + workflows it seemed the better place to submit coverage reports from.

[2017-03-21 21:05] chrisfilo commented on #1899
I don't mind either way, but the whole point of CodeCov was to aggregate coverage reports across different CI providers. I'm surprised it didn't work. I don't think it's important enough to split hairs though.

[2017-03-21 21:05] #1899 closed

[2017-03-21 21:24] ankita940 opened #1900 "Interface Normalize failed to run."
Hello,
I am new to nipye, I am running a pipeline on fmri auditory dataset but its giving error on nomalization(using spm.Normalize()) .

thank you,

I am attaching the crash file produced -

File: crash-20170322-023831-ankita-normalize_struc.a0-074e2843-d6da-447a-b0ca-8b9b55c4527f.pklz
Node: level1.firstlevel.preproc.normalize_struc.a0
Working directory: /home/ankita/preprocess/spm_auditory_tutor

[2017-03-21 21:25] ankita940 commented on #1898
It worked.
Thanks for helping me out.

[2017-03-21 21:25] #1898 closed

[2017-03-21 21:27] ankita940 commented on #1877
there was some problem with configuration and after resolving it worked .

Thank you

[2017-03-21 21:27] #1877 closed

[2017-03-21 21:51] mgxd commented on #1900
I believe the script you're using is only compatible with SPM versions < 12. The workflow you are using is wrapping the [old normalize function](http://nipype.readthedocs.io/en/latest/interfaces/generated/nipype.interfaces.spm.preprocess.html#normalize), while SPM12 is using a [newer version of the function](http://nipype.readthedocs.io/en/latest/interfaces/generated/nipype.interfaces.spm.preproce

[2017-03-21 22:15] ankita940 commented on #1900
Hello,
yeah I think its compatible with spm8 can you suggest changes which needs to be done in normalization in following script I am attaching.

#!/usr/bin/env python
# emacs: -*- mode: python; py-indent-offset: 4; indent-tabs-mode: nil -*-
# vi: set ft=python sts=4 ts=4 sw=4 et:
"""
==========================
fMRI: SPM Auditory dataset
==========================

Introduction
============

The f

[2017-03-21 23:56] oesteban opened #1901 "[BUG] antsBrainExtraction interface fails when $ANTSPATH is not defined, but exit code is 0"
### Summary
 antsBrainExtraction interface fails when $ANTSPATH is not defined, but exit code is 0

### How to replicate the behavior
The problem is the following
[code]
when nipype gets to check the output, since the exit code is zero, it breaks. We could check, at least, for this output message and reraise the message.

cc @rwblair .

[2017-03-21 23:59] chrisfilo commented on #1901
is this stdout or stderr?

On Tue, Mar 21, 2017 at 4:56 PM, Oscar Esteban <notifications@github.com>
wrote:

[2017-03-22 00:04] oesteban commented on #1901
stdout

[2017-03-22 00:26] satra commented on #1899
we won't split hairs, but we should check this out again.

[2017-03-22 01:08] djarecka commented on #1899
@chrisfilo  - yes, it was I who removed codecov from travis... I remember I did it after talking to @satra , but I don't recall that we concluded that it doesn't work. In fact in the first Pytest PR #1722 I used coverage from Travis and CircleCI.  I believe I wasn't sure how exactly CodeCov works and we simply agreed that CircleCI runs all tests from Travis anyway (plus some others), so we might j

[2017-03-22 14:14] satra commented on #1900
@mgxd - can you check out the workflow on the tutorial dataset. in theory it should work, but the crashfile suggests that the interface is not getting any inputs, and therefore the output of segment is not working:

[code]

@ankita940 - could you please report the contents of the _report.rst inside the segment working directory?

[2017-03-22 14:21] ankita940 commented on #1900
Hello,

Below attached the content of _report.rst file:

Node: firstlevel (preproc (segment (spm)
========================================

 Hierarchy : level1.firstlevel.preproc.segment
 Exec ID : segment.a0

Original Inputs
---------------

* affine_regularization : <undefined>
* bias_fwhm : <undefined>
* bias_regularization : <undefined>
* clean_masks : <undefined>
* csf_output_type : <undefine

[2017-03-22 14:24] satra commented on #1900
@ankita940 - could you try adding this line after the segment node is defined:

`segment.inputs.save_bias_corrected = True`

and then run it again?

[2017-03-22 14:53] #1728 closed

[2017-03-22 14:54] #1759 closed

[2017-03-22 14:54] #1223 closed

[2017-03-22 14:55] mgxd commented on #1184
This should be all set after #1885

[2017-03-22 14:55] #1184 closed

[2017-03-22 14:55] #1317 closed

[2017-03-22 16:36] ankita940 commented on #1900
Hello @satra

Its again giving an error regarding normalize but now i guess its because of may be version

Here is the crash file generated-

File: crash-20170322-203217-ankita-normalize_struc.a0-c2864d14-984d-43eb-851d-b0ac8b1c48f6.pklz
Node: level1.firstlevel.preproc.normalize_struc.a0
Working directory: /home/ankita/preprocess/spm_auditory_tutorial/workingdir/level1/firstlevel/preproc/_subject_

[2017-03-22 20:01] #1566 closed

[2017-03-22 22:14] satra commented on #1802
@dorianps - can you verify the fix from mathias' branch?

[2017-03-23 06:39] #1261 closed

[2017-03-23 12:25] #1873 closed

[2017-03-23 12:25] #1526 closed

[2017-03-23 16:27] salma1601 opened #1904 "[ENH] additionnal afni interfaces"
Hi nipype experts,

I started to add more afni interfaces: `3dUnifize`, `3dQwarp` and `3drefit`. Shall I do a PR to propose this addition ?

Thanks

[2017-03-23 16:35] oesteban commented on #1904
That'd be very much appreciated :)

[2017-03-23 17:45] #1766 closed

[2017-03-23 18:00] #645 closed

[2017-03-23 18:01] #628 closed

[2017-03-23 18:03] #570 closed

[2017-03-24 19:52] #885 closed

[2017-03-24 19:54] #751 closed

[2017-03-24 19:58] #561 closed

[2017-03-24 19:59] #559 closed

[2017-03-24 20:03] #432 closed

[2017-03-24 20:04] #474 closed

[2017-03-24 20:08] #434 closed

[2017-03-24 20:11] mgxd commented on #1488
@hjmjohnson is this all set?

[2017-03-28 19:55] ankita940 commented on #1900
Hello,
What should I do to make inormalization work and can you let me know is this compatability issue or something else since I am working on spm12 and the script is for spm8. If so can I change the script to make it work or  I have to find script compatible with spm12.

Any help will be useful for me.

[2017-03-29 12:31] physicsdaniel commented on #7
Hi @chrisfilo ,
I stumbled upon an erroneous tutorial, so I thought pointing it out here would be a good idea.

I am new to nipype and looked first at the [tutorial by mwaskom](https://github.com/mwaskom/nipype_concepts) because it was the first link concerning nipype tutorials on [readthedocs](http://nipype.readthedocs.io/en/latest/quickstart.html). After talking to @mwaskom about a few issues I

[2017-03-29 18:29] mgxd commented on #1786
@gladomat thanks for this, as a side note do you know if `Bayesian2` estimation also write these `Cbeta` images?

[2017-03-29 18:30] mgxd commented on #1786
@gladomat and as for your error, try `pip install configparser`

[2017-03-29 19:05] utooley opened #1914 "MCFLIRT does not generate mean_img"
### Summary
Nipype documentation in fsl.MCFLIRT.help() states that one of the out files of MCFLIRT can be a _mean_img_, but throws an error. _mcflirt --help_ does not show mean_img as a possible output.
### Actual behavior
No mean_img is able to be set as an InputSpec of MCFLIRT.
### Expected behavior

### How to replicate the behavior
Trying to set a name for the _mean_img_ output of MCFLIRT.
###

[2017-03-29 19:12] oesteban commented on #1914
Do you refer to the `-mean` flag of MCFLIRT? You need to set the input `mean_vol=True`

[2017-03-29 19:14] satra commented on #1914
ah yes `--meanvol` will register and generate the mean volume, but mcflirt doesn't generate this mean volume if default reference (0) is used or reffile/vol is used.

[2017-03-29 19:15] satra commented on #1914
perhaps we can add this to the docstring for mcflirt

[2017-03-29 21:38] anbai106 commented on #1783
@mgxd sorry for the delay, I made a new independent PR:)

[2017-03-29 21:38] cgc commented on #1283
I just ran into this error with `fslreorient2std`. If a solution like "add quotes to inputs that are files in `CommandLine._format_arg`" is viable/sensible, I'd be open to writing that change. Otherwise, I think it would be helpful for nipype to throw an error or have a warning for files with spaces that are supplied as arguments to a CommandLine node.

[2017-03-29 23:52] gladomat commented on #1786
I'm on vacation right now, and I can't remember. The second level Bayesian first requires a second level frequentist or classical inference. Here the betas get written. You then have to re-estimate the whole thing using Bayesian stats, by loading the estimated spm.mat and running the estimation step. You can try it with first level classical inference data; just run a second level Bayesian estimat

[2017-03-30 03:05] satra opened #1916 "Test Errors on a readonly file system"
### Summary
When running nipype tests in a singularity container it fails because the tests try to create files in a read only file system.

### Actual behavior

[code]

### Expected behavior

Tests pass

### How to replicate the behavior

pytest --doctest-modules -p no:cacheprovider /opt/conda/lib/python3.5/site-packages/nipype

### Platform details:
please paste the output of: `python -c "import

[2017-03-30 19:53] #567 closed

[2017-03-30 19:57] mgxd commented on #865
#886

[2017-03-30 19:57] #865 closed

[2017-03-30 19:59] #1272 closed

[2017-03-30 21:20] ltirrell opened #1919 "[ENH] Write out lists of commands when running workflow"
Would it be possible to write out the list of commands in the order which they'll run, instead of just the `command.txt` files that are created after each node runs (like the `write_graph` method )?  This feature would be useful for debugging and updating workflows, such as when versions of software are updated. Any file type (json, yaml, plain text) would be fine.

[2017-03-31 04:14] tclose opened #1920 "New behaviour of Merge interface with breaks generic cases where numinputs=1 at runtime"
### Summary

In the current HEAD, the new behaviour of the Merge interface when `numinputs==1` breaks cases (such as mine) where the `numinputs` is set at runtime depending on parameters of the workflow creation code. A better way to handle this would be to see if `in_lists` is defined or perhaps use `numinputs`==None.

### Actual behavior

`TypeError: '_Undefined' object is not iterable`

### Exp

[2017-03-31 13:49] mgxd commented on #1920
@tclose this seems more like a design idea - the fact that if a sole list is passed, calling it `in1` would imply other potential `in` connections. When `Merge` is used for this purpose, having a separate keyword (`in_lists`) makes it more explicit. However, we should think of adding more warnings/errors when the interface isn't properly defined

[2017-03-31 14:00] mgxd commented on #1919
@ltirrell Possibly, although generally when debugging, it helps to run the workflow using `Linear` plugin. This runs each node serially, so you can ensure the commands will run in the order you decide. We're also looking into regression testing for our interfaces, which will track version updates and flag interfaces that change

[2017-03-31 14:49] mgxd commented on #1880
@rpalmeida still running into errors?

[2017-03-31 14:53] mgxd commented on #1900
@ankita940 AFAIK, this is a compatibility issue with SPM12. We'll have to revisit this workflow and update it for both versions of SPM

[2017-03-31 14:55] mgxd commented on #1860
@robmcc10 have you solved the problem? If not, please post the output of the command @oesteban    included above

[2017-03-31 15:03] ankita940 commented on #1900
@mgxd
I am using matlab version R2016b and now if i will use spm8 with it will this script written for spm8 will work in this environment

[2017-03-31 16:17] ankita940 opened #1922 "nipy pipeline failure."
hi,

after installing matlab, spm ,nipy ,anaconda and fsl, when i am testing my pipeline i am getting the following error.

ankita@ankita-PC:~$ python -c "import nipype; nipype.test()"
============================= test session starts ==============================
platform linux2 -- Python 2.7.12, pytest-3.0.7, py-1.4.33, pluggy-0.4.0
rootdir: /home/ankita, inifile:
collecting 93 items / 1 errors

[2017-03-31 16:54] mgxd commented on #1922
Could you try updating nipype by typing into your terminal `pip install https://github.com/nipy/nipype/archive/master.zip`

[2017-03-31 17:00] ankita940 commented on #1922
Hello @mgxd ,
It is still giving same error.

[2017-03-31 17:29] mgxd commented on #1922
@ankita940 I've edited my comment above to include `--upgrade`. If that doesn't work, I recommend clearing all installations of nipype and then reinstalling.

[2017-04-01 00:39] effigies commented on #1920
Yes. My original PR was designed to make `Merge(0)` meaningful without affecting existing pipelines, but after discussion it was decided that because `Merge(1)` is equivalent to `IdentityInterface` (but changing the field name), it wasn't serving a useful function.

However, given that somebody actually is using that behavior, perhaps it's worth reconsidering `Merge(0)`?

@tclose What's your use c

[2017-04-01 01:35] YSanchezAraujo opened #1925 "polynomial features"
### Summary
trying to implement what's described here:
https://github.com/nipy/nipype/blob/master/nipype/algorithms/modelgen.py#L221

my changes to the script have been:

added a function and an import:

[code]
then

[code]

and in the `_generate_standard_design`:

[code]
but my output doesnt look quite right:

[code]

Any advice / suggestions on how to complete this ?

[2017-04-01 13:12] satra commented on #1925
@YSanchezAraujo - the intent of polynomial order is to add legendre polynomials as columns to each run's design. as an example see:

https://github.com/nipy/nipype/blob/master/examples/rsfmri_vol_surface_preprocessing_nipy.py#L223

[2017-04-02 23:57] tclose commented on #1920
My use case is a little complex but I will try to convey it in a few lines. I am writing a package to integrate nipype with our archive (XNAT), which implicitly generates workflows to produce derived datasets that are not present for a given subject. A book-keeping node at the end of the generated workflow is used to merge the subject outputs into a single list, but when there is only one subject

[2017-04-03 10:23] rpalmeida commented on #1880
@mgxd - yes...
I've installed pydotplus like you suggested and today uninstalled, reinstalled nipype 0.13 and ran the test again: python -c "import nipype; nipype.test()"
"""
=================================== FAILURES ===================================
____________________________ test_write_graph_runs _____________________________

tmpdir = local('/private/var/folders/1v/fnmj49495tdd7vxqbcd1vg

[2017-04-03 12:33] satra commented on #1920
@tclose - thanks for the feedback. i apologize for the decision to break backwards compatibility here without clarification.

moving forward, we can restore `Merge`, with `0` producing an `empty` list.

we can also introduce a few flags to deal with flattening: `flatten_outputs`, `flatten_inputs`

`flatten_inputs` will flatten before merge, while `flatten_outputs` will flatten after merge

[2017-04-03 12:34] satra commented on #1920
by default both will be set to undefined to maintain backwards compatibility.

[2017-04-03 15:21] dmwelch commented on #1880
Yeah, I haven't worked with Nipype for several years now and with @FreeSurfer ***current*** software dev practices, there's absolutely going to be significant code rot between releases.

Unfortunately I've moved on to other things so @hjmjohnson is going to be your point of contact  for this wrapping.

[2017-04-03 21:23] mgxd commented on #1880
@rpalmeida this is weird behavior - I could replicate this error in Python 2.7 if graphviz was not installed - but after installation this test was able to pass. If installing graphviz didn't fix it, I would first recommend installing on a fresh environment to ensure if there are no interactions going on.

[2017-04-04 02:25] oesteban opened #1933 "Circle CI taking the unit-tests for passed when failed (again)"
Only for the unittests, not for the smoketests.

Even though some tests fail (and it is correctly reported by the tests summary thanks to having the junit xml files in place), the build is taken for passing. Example: https://circleci.com/gh/nipy/nipype/2095?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

When I refactored this, CircleCI was showing these builds

[2017-04-04 03:13] tclose commented on #1920
@satra Thanks, that would be great.

[2017-04-04 15:52] oesteban commented on #1788
The latest: https://travis-ci.org/nipy/nipype/jobs/218394157#L3854

[2017-04-04 19:51] mgxd commented on #1448
I believe dcm2nii's default is to create in your home directory, we could potentially patch this up. However, I'd recommend using `dcm2niix`, which reads the config file from your home directory. Feel free to open this if needed

[2017-04-04 19:51] #1448 closed

[2017-04-04 19:54] mgxd commented on #1502
@Haakon-Ramsland the `Bru2` error should be fixed in latest master. Feel free to open up this issue if you still have problems

[2017-04-04 19:54] #1502 closed

[2017-04-04 20:05] mgxd commented on #1537
@djarecka isn't it better to build the environment every time - that way if there is a new version of a dependency we can check to see if we can support it? also closing this issue, feel free to open if needed

[2017-04-04 20:05] #1537 closed

[2017-04-04 21:35] #1247 closed

[2017-04-04 21:38] mgxd commented on #1229
@thelxinoe feel free to open this again if needed

[2017-04-04 21:38] #1229 closed

[2017-04-04 21:53] mgxd commented on #1105
@chrisfilo how is windows handling nipype now?

[2017-04-04 21:54] chrisfilo commented on #1105
Very well - as long as you run in inside a (linux) container :)

[2017-04-04 21:55] satra commented on #1105
we still don't have direct support for windows in the workflow engine. we aim to have that with the new api.

[2017-04-04 22:56] isAarya opened #1935 "nipype 'multiproc' only running as single thread"
Hi,

I having issues running nipype as a multiproc system.
It only works if, I dont use the 'Multiproc' plugin

When I run the following code
`workflow.run(plugin='MultiProc', plugin_args={'n_procs':4})`

I get the following as error

![git_multiproc_error](https://cloud.githubusercontent.com/assets/21230063/24682463/39856f4c-19dd-11e7-8ede-9f96ebb8bc32.png)

Can someone provide an insight as to w

[2017-04-05 00:53] oesteban commented on #1935
Hi @isAarya,

I'm afraid you are looking at two different errors here. The first error is the typical result of trying to run an empty workflow. It means that for some reason, you did not add any nodes. If you run it with the Linear plugin (just `workflow.run()`) you should get the same. Please copy here the code of your workflow to diagnose.

Regarding the second, it seems that some error is goin

[2017-04-05 01:00] oesteban commented on #1880
@rpalmeida @mgxd Let's try a more verbose output for pytest:

[code]

[2017-04-05 13:32] rpalmeida commented on #1880
@oesteban, @mgxd -  I did the flowing:

[code]

Because the file is actually there and I thought this error didn't make sense, I changed the dir to "tests" and ran the test again:
[code]
The error is the same as before.
Anything else I should test?

[2017-04-05 15:15] mgxd commented on #1860
@robmcc10 feel free to open this again if needed

[2017-04-05 15:15] #1860 closed

[2017-04-05 17:20] #1920 closed

[2017-04-05 17:21] mgxd commented on #391
should be fixed with #702 and #718

[2017-04-05 17:21] #391 closed

[2017-04-05 17:27] #46 closed

[2017-04-06 17:56] #1100 closed

[2017-04-07 11:05] gladomat commented on #1786
@mgxd The second level Bayesian estimation writes first a beta image for the classical estimation, then writes a Cbeta for the Bayesian estimation.

[2017-04-07 16:50] chrisfilo opened #1945 "Add 'Δ%D-var' and DVARS p-values to DVARS Interface"
Paper: http://www.biorxiv.org/content/early/2017/04/06/125021
Code: https://github.com/asoroosh/DVARS

With help of @asoroosh and @nicholst.

[2017-04-08 17:10] tsalo opened #1947 "MRIsConvert combine_surfs function"
`mris_convert` has a flag for combining surface files (`combine_surfs`), but the current interface doesn't allow for it. Since the current interface is just for converting between file types, and adding `combine_surfs` to MRIsConvert will require overhauling it a bit, I wanted to know whether it would be preferable to expand MRIsConvert or to create a new interface for the `combine_surfs` behavior

[2017-04-08 21:13] effigies commented on #1947
My personal feeling is that if you're willing to do the work, however you think best is fine. Just need not to break existing use.

[2017-04-09 18:50] tsalo commented on #1947
Thanks. I think it makes more sense to create a separate interface specifically for combining surfaces. Added in #1948.

[2017-04-09 18:50] #1947 closed

[2017-04-09 19:38] djarecka commented on #1537
@mgxd - tox is used to test new version of software. My understanding is that you ask for specific Python interpreters and libraries in a similar way as in Travis file.
In my comment I wasn't clear, but I meant that you simply can easily build the environment (based on the tox file) also  locally on your computer, so it might be useful for debugging I guess.
However, for now I gave up, would have

[2017-04-10 13:07] #1386 closed

[2017-04-10 21:08] mgxd commented on #1900
@ankita940 have you tried with spm8? if so, can you verify that was the problem?

[2017-04-11 20:36] #853 closed

[2017-04-12 00:11] NPann opened #1950 "dcm2niix"
### Summary
dcm2niix interface failed with FileNotFoundError exception with following flags:

        converter = Dcm2niix()
        converter.inputs.single_file = True
        converter.inputs.compress = 'n'
        converter.inputs.output_dir = '/some/directory/'
        converter.inputs.source_names = ['/some/input/file.dcm']
        converter.inputs.bids_format = False
        converter.inputs

[2017-04-12 02:22] #1950 closed

[2017-04-12 15:04] #1021 closed

[2017-04-12 15:04] #1140 closed

[2017-04-12 15:05] #1914 closed

[2017-04-12 15:22] mgxd commented on #7
@dafrose thanks for the feedback - it can be hard to maintain these tutorials as nipype and its dependencies are rapidly changing! If you have fixed the issues in your fork, perhaps you can submit a PR so others who want to learn nipype won't run into all these errors

[2017-04-12 15:29] #575 closed

[2017-04-12 15:33] #591 closed

[2017-04-12 15:53] satra commented on #7
also we are planning on completely replacing these tutorials with these excellent ones from @miykael : https://miykael.github.io/nipype_tutorial/

[2017-04-12 18:02] mgxd commented on #1786
@gladomat thanks for the information - I've created [a branch](https://github.com/mgxd/nipype/tree/fix/bayesian) that should hopefully solve this. It would be great if you could try it out and let me know!

[2017-04-13 11:34] gladomat commented on #1786
@mgxd I definitely will, but it'll have to wait a bait. I hope that's ok.

[2017-04-13 17:17] mgxd commented on #1786
@gladomat no problem, i'll hold off submitting a PR until it's tested

[2017-04-17 10:04] jnecus opened #1954 "setting 'in_file' trait as an Nibabel object"
### Summary

I have written my own function which returns a Nibabel object which is then fed into FSL FLIRT. However, I then get the following error:

### Original function
[code]

### Attempts to get around this
In order to attempt to get around this I have tried returning the nifti image filename as so:
[code]

However, I get the same error as before.

### Platform details:

[2017-04-17 10:16] #1954 closed

[2017-04-17 11:10] jnecus commented on #1954
I managed to solve this by creating a temporary filename and exporting this. However, I wondered whether there was a more elegant way or doing this allowing me to pass a nibabel object to a node such as FSL's FLIRT?

[2017-04-17 12:13] satra commented on #1954
unfortunately not with the current nipype. we are looking into automatic conversion and storage for future versions.

also for FSL it would need to be converted to a file whether automatically or manually.

[2017-04-19 11:51] imalone opened #1957 "[ENH] fsl interface (fslmaths) missing some dimension reduction operations"
Pull request #1956 adds support for a number of fslmaths dimension reduction operations that were missing.

[2017-04-19 18:41] mgxd commented on #1935
@isAarya still running into problems?

[2017-04-20 02:18] gjcooper opened #1959 "PBS TypeError crash"
### Summary
With a script that was previously running successfully with Multiproc I am now attempting to run on our Uni grid running PBS. The first couple of jobs submitted crash and return a TypeError.

Issue first occurred on release 0.12.1, tried upgrading to 0.13.0rc1 as it seemed to have new code realting to python3.
### Actual behavior
Trace for the crashes appears as:

[code]
### Expected b

[2017-04-20 02:33] isAarya commented on #1935
@mgxd Nipype is running fine now.
My workflow was not empty, but I had not initialized any nodes. Hence the error.
But, when calling as linear plugin `workflow.run()`. It still ran with no errors. Hence, it threw me offtrack a bit.
But it is working now.
Cheers

[2017-04-22 10:50] jnecus opened #1965 "fmri_spm.py - No crash file, workflow just seems to stall"
### Summary
I am attempting to use the example tutorial workflow :fmri_spm.py

Everything seems to run OK until it reaches rapidart (ra.ArtifactDetect()).

At this point the following warning is provided in the IPython terminal. No crash file is given and all processes just seem to kind of stop. A blank matplotlib figure also pops up.

**As an additional note:** ArtifactDetect will run  to complet

[2017-04-24 01:51] djarecka commented on #1965
can you please point me to the specific tutorial you're using? are you just running  [fmri_spm.py](https://github.com/nipy/nipype/blob/master/examples/fmri_spm.py)?

Do you know what is a version of your `matplotlib`?

[2017-04-24 09:15] jnecus commented on #1965
Link to tutorial: ` http://nipype.readthedocs.io/en/latest/users/examples/fmri_spm.html`

Matplotlib version:  `1.5.1`

Only thing that I have changed from this tutorial (other than imputs and contrasts) is:

Set default path to be SPM8 (didnt seem to work with SPM12): `mlab.MatlabCommand.set_default_paths('/software/matlab/spm8')`

[2017-04-24 14:37] mgxd commented on #1959
@gjcooper thanks for reporting this - why don't you give it a try, our testing covers python 2-3, and we can help out if needed

[2017-04-24 15:59] #1957 closed

[2017-04-24 17:40] mgxd commented on #1788
Rare but still happening - latest #1968

[2017-04-24 22:46] djarecka commented on #1965
I'm having problem with replicating your issue, but matplotlib windows should not pop up. It looks to me that it might be a combination that you have interactive matplotlib settings and that in nipype we're not changing them everywhere. I'll try to suggest a small changes to the nipype code, but  you can also try:

- check your settings:

    import matplotlib
    matplotlib.is_interactive() #shou

[2017-04-25 00:26] rattar1989 opened #1970 "Nipype installation test failure"
### Summary
Hi all,
I installed nipype step by step based on the nipype guide without any error in installation process, but when I tested the system by nipype.test() I encounered: FAILED (SKIP=77, errors=5, failures=3)

### Actual behavior
======================================================================
ERROR: Failure: InterpolationSyntaxError ('%' must be followed by '%' or '(', found: '%h

[2017-04-25 00:38] djarecka commented on #1970
Did you take the latest version of nipype from the repo? It looks like the test are run by `nose` and we switched to `pytest` some months ago.

[2017-04-25 04:21] hurtb commented on #1900
@ankita940 had a similar error trying to run Normalize12 with Matlab2017A. Execution successfully run it by specifying the `tpm ` kwarg to spm's  MNI file.

[code]

Unfortunately I do not know why this is the case, but it seems like the template file is not being set correctly.

[2017-04-25 10:00] isukrit opened #1971 "Problem with importing NUMPY_MMAP"
### Summary
I was trying to run pipeline for rs-fMRI pre processing (http://nipype.readthedocs.io/en/latest/users/examples/rsfmri_vol_surface_preprocessing_nipy.html). I get the following 2 errors:
from nipype.algorithms.compcor import ACompCor
ImportError: No module named compcor

if I comment this out I get:
from nipype.utils import NUMPY_MMAP
ImportError: cannot import name NUMPY_MMAP

### Actu

[2017-04-25 13:20] mgxd commented on #1971
@isukrit these imports are outdated and the tutorial should be fixed. To fix this, use the following imports instead.

[code]

[2017-04-25 14:43] mgxd commented on #1970
@rattar1989 There are a couple things to check/do here:

- 1) Could you try removing and then reinstalling configparser? This `InterpolationSyntaxError` is generally caused with that.
- 2) As @djarecka mentioned, try installing the master branch. There have been some fixes to `nipype.test()` that haven't been released yet.
- 3) Is your `traits` package updated?

[2017-04-25 18:56] rattar1989 commented on #1970
@djarecka thanks for the reply.
- I updated nipype by: pip install --upgrade nipype

- Sorry, I don't know how to switch between nose &  pytest. I only followed the instructions given in the NipypeBeginnersGuide.

[2017-04-25 19:00] rattar1989 commented on #1970
@mgxd thanks for the reply.
- how can Iremove/install ->  InterpolationSyntaxError
- master branch?
- yes, I did: conda update traits

[2017-04-25 20:49] #1935 closed

[2017-04-25 22:13] rattar1989 commented on #1970
I installed nipype on a new system following the Nipype Beginner’s Guide, Release 1.0, but I still have the same errors!

[2017-04-25 22:38] djarecka commented on #1970
Is this the [Guide](https://github.com/miykael/nipype-beginner-s-guide/blob/master/NipypeBeginnersGuide.pdf)? I will look at it and try to follow the instruction from chapter 4.
What system do you have?

[2017-04-25 22:46] rattar1989 commented on #1970
- Yes, that's the guide I used.
Thanks so much. It's about a week that I'm dealing with it but no success yet.
- Ubuntu 16.04.2

[2017-04-26 19:52] mgxd commented on #1900
@hurtb are you including the property `inputs` to your declarations? aka
[code]

[2017-04-27 10:40] rattar1989 commented on #1970
Any comments/advice to get rid of these fails and errors?

I'm gonna run my own pipeline/workflow to analyze Cardiac CT/MR images. The current version of my code is written in matlab (also using many C/C++ codes/functions).

Can I continue to construct my pipeline with python using nipype with the existing errors?

[2017-04-27 11:10] satra commented on #1970
@rattar1989 - in general you should be ok, but i like clean installs.

out of curiosity does this not work?

http://nipype.readthedocs.io/en/latest/users/install.html#using-conda

we may need to ask miykael to update the beginners guide.

[2017-04-27 11:43] rattar1989 commented on #1970
Thanks for the note. I just did this:
`~$ conda search nipype --channel conda-forge`

Fetching package metadata .........
nipype                  0.12.0                             0  conda-forge
                             0.12.0                   py35_0  conda-forge
                             0.12.0                   py27_1  conda-forge
                             0.12.0                   py

[2017-04-27 11:47] satra commented on #1970
It should be `conda install nipype`. Note that this will install the previous release. However that should be fine for your needs at this point. We will be releasing the next version tomorrow.

[2017-04-27 13:56] kevnmr opened #1975 "Nipype Failures On Installation"
### Summary
Hi

I cannot get the 0 error 0 failures that i'm supposed to.
I got
Ran 17307 tests in 312.663s

FAILED (SKIP=21, errors=6, failures=3)

I followed this guide http://miykael.github.io/nipype-beginner-s-guide/installation.html
Please help as i'm not sure what i did wrong. Thank you.

### Actual behavior

======================================================================
ERROR: Failu

[2017-04-27 14:22] satra commented on #1975
duplicate of #1970 - please see that thread.

[2017-04-27 14:22] #1975 closed

[2017-04-27 22:08] djarecka commented on #1970
@rattar1989 - I just want to let you know that I did try to install and run tests on Ubuntu 16.04 and I also had problems with a few tests. Since the new version is going to be release, I won't debug the problems with the old version now. Hope the new version will work for you without any problems.

[2017-04-29 02:11] #1802 closed

[2017-04-29 02:12] satra commented on #1971
closed via #1973

[2017-04-29 02:12] #1971 closed

[2017-04-29 02:13] satra commented on #1933
@oesteban - has this been addressed?

[2017-04-29 03:51] oesteban commented on #1933
nope, I'll take on this tonight, sorry about that

[2017-04-29 08:28] oesteban commented on #1965
@jnecus could you provide more specific details on you settings?. Particularly:

- 1) Running on container or "bare-metal". If container, are them "official" nipype containers?
- 2) Plugin used and settings for the plugin.

[2017-04-30 00:55] #1933 closed

[2017-04-30 06:59] chrisfilo opened #1982 "CompCor issues"
I am having issues with CompCor after this was merged https://github.com/nipy/nipype/pull/1968

First `mask_file` input of aCompCor does not work:

[code]

Secondly the high_variance_mask returned by tCompCor seems wrong
Before the PR was merged:
![image](https://cloud.githubusercontent.com/assets/238759/25562298/4ec3800c-2d37-11e7-8cd3-717aa2bf042f.png)

After the PR was merged:
![image](https://

[2017-04-30 14:57] satra commented on #1982
@chrisfilo - it's possible that both are because the api has changed. you should now set `mask_files` and not `mask_file`.

@mgxd - the deprecation warning will only come online after we release 0.13.0. and i should have checked to see an on_trait_change that sets the other trait by default.

since these interfaces were not released as part of 0.12.0, i would now suggest removing the `mask_file` t

[2017-04-30 15:06] satra commented on #1982
@chrisfilo - with regard to previous comment and removal of `mask_file` completely let us know. what @mgxd implemented in fact makes the interface more useful when one wants to use multiple masks.

[2017-04-30 15:07] satra commented on #1965
@jnecus - if the current master resolves this issue, could you please close it?

[2017-04-30 15:08] chrisfilo commented on #1982
The second problem was observed after switching to the new names: mask_files and high_variance_masks.

[2017-04-30 15:24] jnecus commented on #1965
Sorry for the delay, I'm setting up a new PC. Planning to retry once set up and will check whether errors still occur. I'll close the issue for now and repost after retesting.

[2017-04-30 15:24] #1965 closed

[2017-04-30 15:24] satra opened #1983 "RFC: Make the new API and traitlets work PY3 only"
Several python projects are moving over to PY3 only. Given the significant changes coming our way with the new API and transition to traitlets, I would like to suggest that:

1. [api 1] we release 1.0 by end of summer (Sep 1) and move it purely into a bug-fix mode. we will allow enhancements till then, but recommend that people start looking at 2.0.
2. [upgrade option] we will augment our export t

[2017-04-30 15:47] satra commented on #1982
@chrisfilo - sorry taking a closer look.

[2017-04-30 15:55] chrisfilo commented on #1982
I had a closer look. It turns out I got confused in my testing - the wrong results happen only if `mask_file` input is set. If the new `mask_files` input is used the returned high_variance_mask is correct.

I am ok with `mask_file` being removed instead of trying to fix it.

[2017-04-30 16:04] mgxd commented on #1982
@chrisfilo good to hear!

[2017-04-30 17:39] chrisfilo commented on #1982
I wasn't the only one who run into this: https://neurostars.org/t/nipype-tcompcor-error/415

[2017-04-30 19:31] oesteban commented on #1983
Sounds very good!

[2017-05-01 03:23] chrisfilo commented on #1983
+1 for dropping PY2 support

[2017-05-01 06:19] oesteban commented on #1983
@satra what about a new "nipype" github organization?

- nipype/nipype would contain the bleeding edge development (2.0)
- nipype/nipype-1.0 would maintain the legacy version where we only include bugfixes

We could/should split the workflows (nipype/workflows?), making altogether a lot more manageable. Plus, most of the people just want nipype and start playing around the example workflows. I don

[2017-05-01 06:27] oesteban commented on #1818
Maybe check whether word "warning" is not in every line of stderr?

[2017-05-01 06:29] #1750 closed

[2017-05-01 06:31] dpisner453 opened #1988 "Bug?"
[code]

[2017-05-01 06:37] oesteban commented on #904
What about a pure-python image merge utility? Based off nilearn or nibabel

[2017-05-01 06:38] oesteban commented on #766
@chrisfilo @effigies you may want to take a look into this one.

[2017-05-01 06:41] oesteban commented on #1988
Looks like you are not indicating the partition option (`-p`) when submitting your job.

Seems to me you are using the SLURM plugin, so you should define it there.

However, any additional info would be very much appreciated (starting with the nipype workflow you want to run).

[2017-05-01 07:34] dpisner453 commented on #1988
Hm, I am running and testing the PyNets workflow in my github repo :)

Problem Solved. Just needed to change the way I was specifying my sbatch arguments since I am running on a virtual login node with different allocation options...

Sorry for any confusion!

[2017-05-01 07:34] #1988 closed

[2017-05-01 14:33] rattar1989 commented on #1970
@djarecka @satra , thanks for your comments. Is the new version released? how can I update/upgrade my nipype installed on my machine?

[2017-05-01 18:06] #1844 closed

[2017-05-01 18:17] mgxd commented on #1904
@salma1601 feel free to submit the other 2 as PRs

[2017-05-01 18:17] #1904 closed

[2017-05-01 18:36] effigies commented on #766
Yes, this is related to poldracklab/fmriprep#491. I agree that an `ignore_is_running` flag (or similar) could be useful, but it's only the tool; we still need to determine when we ought to set it `True`. If `IsRunning` files are present, then we need to ignore/remove them only if we're sure that we're not actually interrupting a concurrent run.

[2017-05-01 19:02] salma1601 commented on #1904
Yes of course, I already started working on `3dQwarp`. Needs some time because of the huge number of parameters :)

[2017-05-01 20:17] oesteban commented on #1904
@salma1601, please make sure you have a look on the partial implementation of 3dQwarp that @chrisfilo made: https://github.com/nipy/nipype/blob/592ce3afa793675d2848fbe9f10f0f9b46c504d7/nipype/interfaces/afni/preprocess.py#L2352-L2450

After we merge your PR, this `QwarpPlusMinus` should be derived from your interface.

[2017-05-02 11:14] djarecka opened #1989 "Updating all installation guides"
### Summary
I've recently tested a few options for a standard nipype installation from [nipype website](http://nipype.readthedocs.io/en/latest/users/install.html#) and the [Beginner Guide](https://github.com/miykael/nipype-beginner-s-guide/blob/master/NipypeBeginnersGuide.pdf) and for Ubuntu none of them was working without problems (some library are missing, some tests give error or fail).
IMO, i

[2017-05-02 11:20] djarecka commented on #1970
You're right, `conda install nipype` still installs the older version of nipype, 0.12.1. You can confirm this in Python

[code]

The new version is coming. If you can't or don't want to wait for the new release, you can still try to run your code using the 0.12.1 version. Is very likely that the few tests which are failing in your case have nothing in common with your pipeline.

You can also insta

[2017-05-02 11:31] rattar1989 commented on #1970
@djarecka I appreciate your help for clarifying this.
So I continue to construct my own pipeline...

[2017-05-02 11:37] satra commented on #1970
@djarecka - just a side note that the unicode test issues will occur if you use docker without setting:

[code]

[2017-05-02 11:45] djarecka opened #1990 "UnicodeEncodeError in Python3"
### Summary
nipype/utils/tests/test_provenance.py::test_safe_encode fails.
It is a similar error as described in #1393, but I have it for Python3

### Actual behavior
The test gives: UnicodeEncodeError: 'ascii' codec can't encode characters in position 0-1: ordinal not in range(128)
see full message: https://paste.pound-python.org/show/JTFNExgcXRMeoK75UkXJ/

### Expected behavior
the test should p

[2017-05-02 11:51] djarecka commented on #1990
@satra just solved my problem :)

The test passes if I export:

[code]

[2017-05-02 11:51] #1990 closed

[2017-05-02 11:53] djarecka commented on #1970
thanks @satra ! Now  all test from the developer version pass in my Ubuntu 16:04 container.

[2017-05-02 11:57] satra commented on #1989
have you checked the new install docs ? :)

[2017-05-02 11:58] satra commented on #1989
and we should either update or remove the beginner's docs, but i leave this to @miykael . at present we point to the nipype tutorial site only from nipype.

[2017-05-02 12:06] rattar1989 commented on #1970
Just to make sure that I'm in a right path:
I'm not using docker. I installed nipype.
From now on I'm going to construct my pipeline for Cardiac MR/CT image analysis (using different functions from C++ and Matlab) in pyhton (by PyCharm IDE) using nipype.
(I still have the fails/errors mentioned earlier but based on your suggestions I feel this would not cause problem... Hopefully)

[2017-05-02 12:17] djarecka commented on #1970
don't worry about docker. I simply don't have Ubuntu and wanted to test the installation on an environment that is similar to yours, so I used the Ubuntu container.

[2017-05-02 12:25] djarecka commented on #1989
sorry @satra , but I'm slightly lost which one is the install docs, do you mean this?
https://github.com/nipy/nipype/blob/master/doc/users/install.rst

[2017-05-02 12:37] satra commented on #1989
yes. it's been simplified for current master.

[2017-05-02 12:50] djarecka commented on #1989
ok. When I wrote about simplifying I was thinking mostly about the beginner guide, not this doc. Doc looks pretty simple, but as I wrote before the conda installation didn't work for my Ubuntu, and today I've also experienced  problems with "From source" part. Had to manually install `mock`, and some tests are still failing. So just wanted to open this issue as a reminder to check after the releas

[2017-05-02 12:52] satra commented on #1989
@djarecka - are you sure you have the latest master and having this issue?

[2017-05-02 12:52] satra commented on #1989
we essentially use the same mechanism to install on travis.

[2017-05-02 12:56] djarecka commented on #1989
I'm not talking about the developer installation. I followed this part: https://github.com/nipy/nipype/archive/0.13.0-rc1.tar.gz
took tar.gz file form [here](https://github.com/nipy/nipype/releases/tag/0.13.0-rc1), unpacked and run `pip install .`

Can repeat once again to be sure.

[2017-05-02 13:03] satra commented on #1989
readthedocs latest only applies to master. i agree that the previous documentations were off.

[2017-05-02 13:29] djarecka commented on #1989
@satra  I've just noticed that I pasted a wrong link, so edited. The "from source" part hasn't change to much, so it points user to https://github.com/nipy/nipype/releases/tag/0.13.0-rc1

[2017-05-02 22:18] mgxd commented on #1982
it seems the `MapNode` bug is happening because of an interaction between the `super()` call from `TCompCor` to `CompCor` and the node's `outputs` field being populated with the defaults. One workaround would be to add the defaults within the `_run_interface` method, but that seems crude.

[code]

@chrisfilo @satra any ideas?

[2017-05-02 22:35] satra commented on #1982
hold on there are several issues with that interface that i am now fixing.

[2017-05-03 07:23] djarecka commented on #1139
do you still have this problem? If yes, can you please tell me how can I reproduce the problem?

[2017-05-03 07:33] djarecka commented on #1104
@oesteban numpy 1.8 is already almost 4 years old, should we change the requirements and close the issue?

[2017-05-03 07:39] djarecka commented on #1034
Unfortunately the links don't work anymore. Is this issue still present? Do you have the example you tried to run?

[2017-05-03 07:47] djarecka commented on #995
I believe that the current version of Numpy can convert nested lists much better (just checked for a 4d list). Can we close this issue?

[2017-05-03 07:51] djarecka commented on #988
Is this problem still present in the current version of nipype? I know this is an old issue, but if you still experience problems, can you please tell me how can I reproduce it?

[2017-05-03 13:23] satra commented on #1139
@blakedewey - is it possible that you were running the same workflow simultaneously as two separate instances? there is not locking between instances of workflows run with the same output directory.

[2017-05-03 13:42] blakedewey commented on #1139
It is possible, but also unlikely. This was so long ago, that I don't remember the exact instance where it occurred. Closing this, for now, would be fine with me.

[2017-05-03 13:45] blakedewey commented on #995
This would still have to be implemented with `numpy` `flat`. It never was changed due to past restrictions.

[2017-05-03 13:58] djarecka commented on #995
I see, I'll check the MapNode code

[2017-05-03 17:37] oesteban opened #1994 "Deadlock in MultiProc with resource profiler inside docker"
### Summary
We are experiencing this with mriqc on CircleCI. The workflow runs for a couple of minutes and gets locked. Using Linear works well.

### How to replicate the behavior
https://circleci.com/gh/oesteban/mriqc/887

Can't replicate in a different machine with bare-metal installation.

### Script/Workflow details
This branch https://github.com/oesteban/mriqc/tree/enh/ReduceSpatialNormalizat