[2017-05-03 17:39] ccraddock commented on #1994
Does the same problem occur when the resource profiler is turned off?

Sent from my iPhone

[2017-05-03 17:41] chrisfilo commented on #1994
You are requesting 4 cores for a single job while running the whole workflow with 2 cores enabled. The job will never run since MultiProc does not have 4 cores available. This is expected behaviour.

Maybe we should give a better error message in such cases.

[2017-05-03 17:41] oesteban commented on #1994
@ccraddock Nope, I was exactly trying that. When I don't hook up the callback it doesn't seem to get locked

[2017-05-03 17:43] oesteban commented on #1994
@chrisfilo you refer to the node, or MultiProc is checking the number of available cores regardless what I set in the plugin_args?

[2017-05-03 17:46] chrisfilo commented on #1994
If I understand your code correctly: the ants Node requests 4 cores, but you tell MultiProc plugin there are only 2 cores available. AFAIK if number of available cores is passed to MultiProc it will not try to estimate this.

[2017-05-03 17:48] effigies commented on #1994
This line is what's going to kill you no matter what, if `n_procs < 4`:

https://github.com/oesteban/mriqc/blob/enh/ReduceSpatialNormalizationRuntime/mriqc/bin/mriqc_run.py#L211

[2017-05-03 17:49] oesteban commented on #1994
@chrisfilo Ok, so we are talking at the node level :+1: . Then, I'm trying to trick MultiProc: while I set the `num_threads` input of the ants interface to 4, I am also setting the `num_threads` of the Node to 2, with the hope that MultiProc will check that one and not the other.

@effigies shouldn't, because ants_threads is set only for the interface and n_procs for the node.

[2017-05-03 17:50] oesteban commented on #1994
@ccraddock scratch my previous comment, it also happens without hooking the callback.

[2017-05-03 17:59] ccraddock commented on #1994
In line at security so can't look at code at the moment. If you request more threads or mem than is available on the system it should throw an exception that kills the execution of the entire pipeline. If it doesn't do this correctly, then it could result in an unresolvable dependency that prevents pipeline from finishing. Maybe this is what your seeing?

Sent from my iPhone

[2017-05-03 18:07] oesteban commented on #1994
Yes, we are looking at a mixup. To provide more info I logged into a Circle build through ssh. This is what we see from within the docker image:

[code]
I'll check I'm not requesting more memory than available.

Regarding the resources: it is likely the resource limitations are not working completely right. I have the impression that the workflows aren't killed when you request more cores or more

[2017-05-03 18:21] ccraddock commented on #1994
Adapting the resources will likely require a lot more and is particularly problematic for memory. Few tools have the ability to adapt their memory usage and going over the limit will result in either bringing the system to a halt or the process being killed by the out of memory killer.

Sent from my iPhone

[2017-05-03 20:20] mgxd commented on #1959
closed via #1987

[2017-05-03 20:20] #1959 closed

[2017-05-03 20:55] oesteban commented on #1104
Totally. I'd vote for going up to numpy-1.11 (latest stable version that comes with conda). @satra, @chrisfilo ?

[2017-05-03 20:56] chrisfilo commented on #1104
I don't see why not.

[2017-05-03 21:03] satra commented on #1104
i thought about it and then reverted back to debian jessie - i had a pull request almost ready to go!

perhaps we can ask for @yarikoptic thoughts here.

[2017-05-03 22:44] #1901 closed

[2017-05-04 16:10] bennyrowland opened #1995 "niftyreg interface does not work with released version of tools"
### Summary

The currently released version of niftyreg outputs its version string as the commit hash, but the interface in nipype seems to expect a standard major.minor.patch string, causing it to error with a ValueError: invalid version number

### How to replicate the behavior

Fresh docker debian, install niftyreg as detailed on CMIC website

[code]

then install master version of nipype

[cod

[2017-05-05 01:55] ashgillman opened #1996 "Pickle/str/bytes error in Workflow.export() on Python 3"
### Summary
Workflow.export() (exporting a workflow to Python code) fails in Python3

[code]

Here is the offending function:

nipype/nipype/pipeline/engine/utils.py

[code]

The direct error is due to val being a `str`, when pickle.loads expects a `bytes`. However, encoding the string does not fix the error:

[code]

The Node in question is a Function node, and the particular failing key is `func

[2017-05-05 02:10] satra commented on #1996
@ashgillman - every workflow function node would write this file. i'm not sure what is it about your function that's causing this error. could you create a test file that we could run with just the function node in question?

[2017-05-05 02:27] ashgillman commented on #1996
Sure, I'll have a look over the weekend.

I am trying to do a few non-standard things (wrapping Workflows in Function Nodes so I can map over them), so perhaps this is related (I thought originally maybe not).

Unrelated, but if you have a solution for mapping a Workflow over a list (length is unknown until runtime, so can't use iterables) I'd love to hear.

[2017-05-05 09:42] salma1601 commented on #1904
Ok !

[2017-05-05 17:55] bennyrowland commented on #1995
would be very helpful to get a comment from @byvernault about how to get a suitable version of niftyreg installed to work with this interface.

[2017-05-05 18:14] #1982 closed

[2017-05-06 00:31] oesteban opened #1998 "MultiProc callback log seemingly not working"
### Summary
We need to give some love to MultiProc.

### Actual behavior
I see two problems in the current implementation.

1. The resource calculation only happens to interfaces derived from `CommandLine` (https://github.com/nipy/nipype/blob/master/nipype/interfaces/base.py#L1543-L1544).

2. Even for those, when I get to the runtime log I set for the callback, I always see the post-callback entri

[2017-05-06 02:00] chrisfilo commented on #1998
Was `profile_runtime` set to true in the config file (it has to be in the file not set programmatically). See https://github.com/poldracklab/mriqc/issues/459#issuecomment-295366093

[2017-05-06 17:12] ccraddock commented on #1998
If we could let's differentiate between multiprocessor and the resource profiler ;). We haven't given much attention to the profiler since Satra disabled it after noticing some odd behavior. But last I knew it was implemented for all interfaces. Maybe a merge wasn't complete or something. Unfortunately Danny has moved on.

Sent from my iPhone

[2017-05-06 17:40] oesteban commented on #1998
@ccraddock thanks for pointing out. I've changed a few things on the issue.

@chrisfilo will check ASAP

[2017-05-08 13:43] caixixixi opened #2001 "nipype test failed(boto ERROR/SSLError)"
Hi,after i installed nipype,i tested my system.:python -c "import nipype; nipype.test()". I got the following error:

self = <ssl.SSLSocket object at 0x7f7d66861668>, len = 425, buffer = None

    def read(self, len=1024, buffer=None):
        """Read up to LEN bytes and return them.
            Return zero-length string on EOF."""

        self._checkClosed()
        if not self._sslobj:

[2017-05-08 14:16] djarecka commented on #2001
can you please write the version of nipype you're using, please try `print(nipype.get_info())` and `print(nipype.__version__)`.
What is your operating system?

[2017-05-08 16:09] caixixixi commented on #2001
@djarecka Hi, thanks for the reply
@ubuntu:~$ print(nipype.get_info())
bash: syntax error near unexpected token `nipype.get_info'
@ubuntu:~$ print(nipype.__version__)
bash: syntax error near unexpected token `nipype.__version__'

I downloaded 0.10.0 from https://github.com/nipy/nipype/archive/0.13.0-rc1.tar.gz,

[2017-05-09 05:36] djarecka commented on #2001
Sorry, I didn't specify that you have to type this commands in the python interpreter after importing nipype. In your terminal you can type `python -c "import nipype; print(nipype.__version__)"`

Can you also please write the test name that give you this error. If you can't find the name, you can also just paste everything.

[2017-05-09 07:09] caixixixi commented on #2001
@djarecka  thanks a lot for replay

@ubuntu:~$ python -c "import nipype; print(nipype.__version__)"
0.13.0-dev

=================================== FAILURES ===================================
_______________________ test_s3datagrabber_communication _______________________

tmpdir = local('/tmp/pytest-of-caixi/pytest-0/test_s3datagrabber_communicati0')

    @pytest.mark.skipif(noboto, reason="boto

[2017-05-09 07:30] caixixixi commented on #2001
FAIL: Doctest: nipype.interfaces.bru2nii.Bru2
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/usr/lib/python2.7/doctest.py", line 2226, in runTest
    raise self.failureException(self.format_failure(new.getvalue()))
AssertionError: Failed doctest test for nipype.interfaces.bru2nii.Bru2
  File "/usr/local/lib/python2.7/dist-packages

[2017-05-09 10:34] djarecka commented on #2001
It looks to me that you send me 2 different errors from running 2 different version of nipype. Am I right? The `bru2nii` error it seems to come from running old nipype. I'm not saying that you can't see it now, but don't want to mix 2 different versions of nipype and 2 independent errors. Let's start from the first issue - `test_s3datagrabber_communication`.

This test is usually being skipped, si

[2017-05-09 13:05] caixixixi commented on #2001
@djarecka thanks for the reply
    Firstly, i  installed  nipype with:conda install nipype.beacause of some errors,i changed to version10.0.beacase of the error no module named aniso2iso,pip uninstall nipype; pip install https://github.com/nipy/nipype/archive/master.zip.So i think my nipype version is 13?Actually,i am new in nipype,i am not sure i am right.
   And the two different error was the r

[2017-05-09 16:36] effigies commented on #1788
I'm noticing this happening more. I wonder if it's related to the [Precise update](https://blog.travis-ci.com/2017-05-04-precise-image-updates).

[2017-05-09 16:58] oesteban commented on #1788
I agree

[2017-05-09 18:12] TheChymera commented on #1983
When are the deps scheduled to drop py2 support? It comes a bit as a surprise to me that this is already happening. Meanwhile, other parts of the pythosphere, e.g. [PsychoPy](https://github.com/psychopy/psychopy/issues/1061) - which I assume should be highly relevant to human neuroimagers - are still not fully supporting a py3 environment.

[2017-05-09 18:45] mgxd commented on #1788
would it be wrong to simply skip `test_mapnode_crash3` for the time being?

[2017-05-09 18:51] effigies commented on #1788
Also getting it on `test_mapnode_crash2`.

I will say these tests are extremely well named.

[2017-05-09 21:11] satra commented on #1983
@TheChymera - the current api will continue to support py2 and 3 as is the case now, but will be frozen as of the 1.0 release. the new api release 2.0 targeted later in the year will be py3 only. python itself is no longer doing anything with py 2.x.

@oesteban - would be interesting to consider an organization, let's chat during ohbm. at present i do want to preserve history, so we will create a

[2017-05-10 03:09] oesteban opened #2003 "Add profile_runtime to list of settings in documentation"
Right now it is missing

(EDITED, the correct option name is `profile_runtime`, under `execution`)

[2017-05-10 05:50] djarecka commented on #1788
@mgxd - you can get segfult from different test from this set, depending on the environment, order of running etc. If for some reason you decide to ignore them, it might be better to use `xfail`

[2017-05-10 08:41] djarecka commented on #2001
I was asking, because I could see that some tests were run by `pytest` and some tests were run by `nose` that was a testing interface some months ago, but I understand your confusion. What I would suggest now is that you might want to wait just a few days, because the new version will be released and it will be available form `conda install`. It might be better just to focus on the new version and

[2017-05-10 12:26] caixixixi commented on #2001
thanks

[2017-05-10 16:15] oesteban commented on #1998
@chrisfilo: seems like adding the option did not change anything (https://circleci.com/gh/oesteban/mriqc/1017)

[2017-05-10 16:20] byvernault opened #2004 "niftyreg interfaces failing because of base and OMP_NUM_THREADS"
### Summary

I tried to install the master version of nipype and run our workflows using niftyreg and niftyseg. It looks like the node using niftyreg/niftyseg are not working because of the code to set the OMP_NUM_THREADS in the _run_interface.

Right now, the code is the following:

if not isdefined(self.inputs.environ['OMP_NUM_THREADS']):
            self.inputs.environ['OMP_NUM_THREADS'] = self

[2017-05-10 16:22] byvernault commented on #2004
I added:

self.inputs.environ = dict(os.environ)

before the if statement and it's working.

[2017-05-10 16:35] effigies commented on #2004
[code]

I think your problem is you're testing whether a dictionary entry is defined. What you probably want is:

[code]

This creates the dictionary if missing, and sets the value if missing. If it exists and `OMP_NUM_THREADS` is set, it will have no effect, which I believe is what you want.

[2017-05-10 16:48] byvernault commented on #2004
Kind of. The issue here is that my self.inputs.environ is not populated from my env variables.

Shouldn't it be populate before _run_interface()?

Right now, your changes will always set OMP_NUM_THREADS to self.num_threads since self.inputs.environ doesn't read my env variables.

An other fix is to go directly to os.environ to do this:

if 'OMP_NUM_THREADS' not in os.environ:
    os.environ['OMP_N

[2017-05-10 16:56] effigies commented on #2004
This is a decision of the workflow writer. If I choose to set:

[code]

Then fine. But I don't think an interface should make that assumption. (Someone feel free to step in if you can think of an exception.) Consider if I carefully set the environment, and then the interface overrides it with the host environment: I no longer am controlling the context of my computation.

By doing it then, people

[2017-05-10 16:58] byvernault commented on #2004
I see. Ok, I will edit it then your way and do a push request.

Thank you very much @effigies

[2017-05-10 17:50] djarecka commented on #1788
@mgxd, @satra  I was wrong, the xfail works fine if the test fail, but the tests are not actually failing...
@satra - #2006

[2017-05-11 12:53] mmodat commented on #1995
Quick update. I updated and cleaned the git on sourceforge so that it only keeps the master and added a hook onto the active git repository so that it copies the master automatically to sourceforge.
I am in the process of regenerating/updating some of the basic documentation.

[2017-05-11 13:20] effigies commented on #2004
Closed by #2005.

[2017-05-11 13:20] #2004 closed

[2017-05-12 06:36] isukrit commented on #1971
Solved it for ACompCor. NUMPY_MMAP still gives the same error.

Traceback (most recent call last):
  File "rsfmri_vol_surface_preprocessing_nipy.py", line 78, in <module>
    from nipype.utils.config import NUMPY_MMAP
ImportError: cannot import name NUMPY_MMAP

[2017-05-12 10:07] bennyrowland commented on #1995
Thanks @mmodat. For reference, I was able to get everything working from the cmiclabs git repo using the following docker commands
[code]

I will leave the issue open in case anybody happens across it before the documentation is updated, but I now have everything I want working.

[2017-05-12 17:32] tsalo commented on #1681
@adamkimbler and I have been trying to figure out why this is breaking, but so far we've been unable to do so.

It looks like `_format_arg` is trying to combine a list of values (`self.inputs.thresholds`) with the threshold option (`absolute_threshold`, `var_absolute_threshold`, `var_absolute_threshold_normalize`) in the threshold option's argstr. However, it doesn't seem to be putting them togeth

[2017-05-12 20:11] effigies opened #2016 "Processes in MapNodes do not respect thread limits"
### Summary

If a `MapNode`'s interface is assigned a `num_threads` greater than half of the available threads, the jobs may nonetheless run in parallel.

### Expected behavior

Such jobs ought to run one at a time.

### How to replicate the behavior

The following script creates two workflows, each one contains two processes that sleep for 3 seconds and are assigned a thread count of 5. The workf

[2017-05-12 20:12] effigies commented on #2016
cc @oesteban @ccraddock

[2017-05-14 08:30] caixixixi commented on #2001
@djarecka hi
 when i open up an IPython environment and run the following code:
# Import the nipype module
import nipype

# Optional: Use the following lines to increase verbosity of output
nipype.config.set('logging', 'workflow_level',  'CRITICAL')
nipype.config.set('logging', 'interface_level', 'CRITICAL')
nipype.logging.update_logging(nipype.config)

# Run the test: Increase verbosity parameter

[2017-05-14 12:49] satra commented on #2001
this is due to python 3, in which range is a generator. you will need something like:
`list(range(1,number_of_slices+1,2)) + list(range(2,number_of_slices+1,2))`

[2017-05-15 16:39] jmschabdach opened #2021 "MergeNifti throwing error"
### Summary

I'm encountering an error when trying to run the MergeNifti on a series of nii.gz images.

### Expected behavior

I expected this code to combine the images in the list into a single .nii.gz file and save it.

### How to replicate the behavior

The code I'm using is pretty simple:

[code]

### Actual behavior

The error occurs on `niftiMerger.run()`
[code]

### Platform details:

Plea

[2017-05-15 16:47] effigies commented on #2021
This looks like it should only happen if [dcmstack](https://github.com/moloney/dcmstack) is not installed. If you're on NeuroDebian, you can install it with `apt-get install python-dcmstack`.

If that ends up being a problem, I think pretty much every package has something to do this, such as [`fslmerge`](https://nipype.readthedocs.io/en/latest/interfaces/generated/interfaces.fsl/utils.html#merge)

[2017-05-15 17:11] jmschabdach commented on #2021
Installing `python-dcmstack` definitely helped, though now I'm getting another error:

[code]

Initial Google searches have not been helpful in resolving this error.

[2017-05-15 17:39] effigies commented on #2021
Are you using NIfTIs created by dcmstack? I think (I've never used it) the issue is that it's expecting DICOM-derived header data to be available, and it can't find it.

[2017-05-15 17:52] jmschabdach commented on #2021
Hmm. The original NIfTI file was made using Chris Rorden's `dcm2nii` utility. I used the `nipype.interfaces.ants` Registration to register each image in my list to a template image. Now I'm trying to stack the registered images. Should the header information propagate through the Registration process?

[2017-05-15 18:09] effigies commented on #2021
If you have FreeSurfer or FSL installed, you can check headers before and after with `mri_info` or `fslhd`. Otherwise, you can use nibabel:

[code]
As a first step, I might verify that the output of `dcm2nii` can be loaded with `dcmstack.NiftiWrapper` without throwing an error:

[code]

If you have that data, then we can try to figure out how to pull it through, post-registration.

[2017-05-15 20:02] jmschabdach commented on #2021
So far it looks like the output of `dcm2nii` and `dcmstack` don't play nicely together, and I believe all of my data went through `dcm2nii`. Rather than try to manhandle it to work with dcmstack, I'm going to figure out another way to combine my registered images. Thanks for all your help, @effigies!

[2017-05-15 20:02] #2021 closed

[2017-05-16 12:49] #2016 closed

[2017-05-16 18:04] debottamKundu opened #2026 "ICA_AROMA() not working"
### Summary
The newly released version 0.13.0 has a ICA_AROMA() interface defined in the fsl module but although the AROMA is executing correctly, it is throwing an error when passing the output of a node that contains the interface of the AROMA module to another node.
### Actual behavior

AROMA node is throwing an "NameError: global name 'outputs' is not defined
Interface ICA_AROMA failed to run"

[2017-05-16 18:11] chrisfilo commented on #2026
@jdkent could you have a look?

I think you just need to add `outputs = self.output_spec().get()`
here https://github.com/nipy/nipype/blob/3440181e858e995955271a562ec32d659cd316af/nipype/interfaces/fsl/ICA_AROMA.py#L111

[2017-05-16 20:40] debottamKundu commented on #2026
I wrote this alternate wrapper with that line included as a modification before; but it was still showing an error

[code]
But again, after completing the AROMA execution,

[2017-05-16 20:43] effigies commented on #2026
`output_spec().get()`, not `output_spec.get()`

[2017-05-17 04:33] jdkent commented on #2026
Sorry I didn't see this sooner, I believe effigies solution is correct. Should I make a pull request reflecting this change? Is there a way to link the pull request to the bug?

[2017-05-17 04:47] chrisfilo commented on #2026
Yes a new PR would be the best option. You can write in the PR description
"Closes #<number>" where "<number>" is the number of the issue your PR is
fixing (in this case "2026). Thanks!

On Tue, May 16, 2017 at 9:33 PM, James Kent <notifications@github.com>
wrote:

[2017-05-17 05:12] debottamKundu commented on #2026
Hi, I made the suggestion suggested by @effigies but now it is showing a new error.

170517-10:24:24,716 workflow INFO:
	 Executing node a in dir: /tmp/tmpdq5MAz/a
170517-10:24:24,840 workflow INFO:
	 Running: ICA_AROMA.py -den nonaggr -feat /home/debottam/Desktop/OUTPUT.feat -o /home/debottam/Desktop/OUTPUT.feat/ICA_testout/
170517-10:36:13,2 interface INFO:
	 stdout 2017-05-17T10:36:13.002433:
1

[2017-05-17 05:56] jdkent commented on #2026
Thanks @debottamKundu for testing this, @chrisfilo @effigies, is there a difference between `output_spec().get()` and `_outputs().get()`? I can't find a reason to use one versus the other.

[2017-05-17 07:43] caixixixi commented on #2001
@djarecka @satra hi，I tried to build a pipeline for a first level fMRI analysis and run example_fMRI_1_first_level.py.
RuntimeError                              Traceback (most recent call last)
/home/caixi/nipype_tutorial/example_fMRI_1_first_level.py in <module>()
    348 # Run Workflow
    349 metaflow.write_graph(graph2use='colored')
--> 350 metaflow.run('MultiProc', plugin_args={'n_procs': 8}

[2017-05-17 10:46] djarecka commented on #2001
@caixixixi : i don't have too much experience with running `spm`, so have to run on my own first. Just please confirm - is thie the [reposiotory](https://github.com/miykael/nipype-beginner-s-guide) you're taking the scripts you're running?

Coming back to you previous question:
 - where you able to run `tutorial_3_first_steps.py` after @satra suggestions? it could be that the tutorial was not test

[2017-05-17 11:05] caixixixi commented on #2001
@djarecka @satra hi，thank a lot for your reply . I run tutoriial_3_first_steps.py in python2.7.  I solved the error above by using spm8. but i have new error. After i finished first level fMRI analysis ,  i run example_fMRI_2_normalize_SPM.py, and the error is as follow.
RuntimeError                              Traceback (most recent call last)
/home/caixi/nipype_tutorial/fmrinormalize.py in <mod

[2017-05-17 15:43] mgxd commented on #2001
@caixixixi
The script is looking for the functionals used in the first level ... you may have to change the path to find them.

it's looking for this path `/home/caixi/nipype_tutorial/output_fMRI_example_1st/contrasts/sub001/[ce]*.nii`

[2017-05-17 15:54] caixixixi commented on #2001
@mgxd I can run example_fMRI_1_first_level.py with SPM8, but SPM8 create .hdr and .img
When i use SPM12, Reference to non-existent field 'xVol

[2017-05-17 16:07] effigies commented on #2026
@jdkent I don't know of a reason to choose one or the other. I guess `output_spec()` is less likely to have anything done behind your back, but they're probably both fine.

@debottamKundu Yes, you're right it should be `'out_dir'`, but that's not actually an error in the [existing code](https://github.com/nipy/nipype/blob/3440181e858e995955271a562ec32d659cd316af/nipype/interfaces/fsl/ICA_AROMA.py#

[2017-05-17 16:13] mgxd commented on #2001
@caixixixi looks like there was a bug in that version of SPM12.

[code]

https://www.jiscmail.ac.uk/cgi-bin/webadmin?A2=spm;55d274bc.1612

[2017-05-17 18:54] jdkent commented on #2026
I added the `output_spec().get()` line to ICA_AROMA.py for the problem you guys found. I wasn't able to replicate your (@debottamKundu) other error after adding the fix, so maybe you could test it again after this pull request is merged?

[2017-05-17 22:11] mgxd opened #2029 "spm.EstimateModel additional args broken"
### Summary
Issue brought up on [Neurostars#436](https://neurostars.org/t/nipype-interfaces-without-options-present-in-the-underlying-executable-function/436)
### Actual behavior
`EstimateModel` expects a string for input `flags`, but later expects a dictionary.
### Expected behavior
Additional inputs can be added.
### Platform details:

Please paste the output of: `python -c "import nipype; print

[2017-05-18 06:20] debottamKundu commented on #2026
Okay I'll test it after the request is merged.

[2017-05-18 07:15] caixixixi commented on #2001
@mgxd  thank you so much

[2017-05-18 07:26] #2026 closed

[2017-05-18 07:31] caixixixi commented on #2001
I run example_fMRI_2_normalize_ANTS_complete.py in ipython.

Standard output:
All_Command_lines_OK
Using single precision for computations.
Standard error:
Exception caught during reference file reading

itk::ImageFileReaderException (0xda4f90)
Location: "void itk::ImageFileReader<TOutputImage, ConvertPixelTraits>::GenerateOutputInformation() [with TOutputImage = itk::Image<float, 3u>; ConvertPixe

[2017-05-18 11:33] djarecka commented on #638
@satra : didn't your PR #646 (changes in `io.py`) solve the issue? can we close it?

[2017-05-18 12:06] djarecka commented on #366
@satra : i don't know how to reproduce the issue and it's pretty old, but i'm guessing that `matplotlib.use('Agg')` or `matplotlib.use(config.get('execution', 'matplotlib_backend'))` solved problems in most of the cases.
I can see a few places that import `matplotlib` and don't set backend (e.g. https://github.com/nipy/nipype/blob/master/nipype/algorithms/metrics.py#L141). i can search the code an

[2017-05-18 12:09] djarecka commented on #266
@satra - don't understand. do you remember what did you have in mind? can we close it?

[2017-05-18 12:14] effigies commented on #266
This has been added.

[2017-05-18 12:19] effigies commented on #266
Woops. Just checked. I was wrong.

[2017-05-18 16:02] mgxd commented on #2001
@caixixixi you need to have C3D - this is mentioned in the [tutorial](http://miykael.github.io/nipype-beginner-s-guide/normalize.html)

[2017-05-18 17:58] jdkent commented on #2026
@debottamKundu The pull request is merged here: #2027. This should fix the issue you were having, but let me know if ICA_AROMA is still not working.

[2017-05-18 18:12] #266 closed

[2017-05-18 21:35] mgxd commented on #1786
@gladomat this should now be fixed after #2030 is merged

[2017-05-18 22:16] oesteban commented on #366
@satra @djarecka What if we clear up all the matplotlib backend options and recommend users to change the matplotlib default? - https://github.com/nipy/nipype/blob/master/Dockerfile#L71

[2017-05-18 22:20] oesteban commented on #1995
I would suggest linking @bennyrowland's comment from nifty* documentation to describe how to use the niftyreg and closing this issue.

[2017-05-19 05:25] debottamKundu commented on #2026
@jdkent, it's working fine.

[2017-05-19 07:02] djarecka commented on #366
Not sure what is easier to "maintain". There are only a few files where you import `matplotlib`, so can review if you decide to keep the `matplotlib` backend options in the code.

The only thing I'm not completely sure is `matplotlib.is_interactive()`, should we ensure to be `False` regardless of backend? The default is `False`, so it's usually `False` anyway, but I'm not sure if this can also cau

[2017-05-19 08:02] gladomat commented on #1786
I'm sorry, I haven't gotten around to it. Does this mean you won't wait for my testing? This is of course fine; I'm just asking.

[2017-05-19 11:25] mgxd commented on #1786
I ended up testing the interface during another fix :)

[2017-05-19 16:50] caixixixi commented on #2001
@mgxd thanks for you reply,it is very helpful

[2017-05-19 17:10] byvernault opened #2035 "Niftyreg regaverage"
### Summary
Hi guys,

We realised that there is an issue with the RegAverage interface. After running the interface as a node in a workflow, the reg_average_cmd file and the output file does not exists. They are removed despite being used in the following nodes.

I also ran the interface as a node by itself and the file get created and stay there.

If we set the config tag remove_unnecessary_outpu

[2017-05-19 18:28] byvernault commented on #2035
It looks like for niftyreg RegAverage, the out_file is not set:

Execution Outputs
-----------------

* out_file : <undefined>

I will dig more to see why it's the case.
Cheers,

[2017-05-19 18:31] mgxd commented on #2035
@byvernault looks like the interface is missing `_list_outputs` - also, if you are using the `reg_average_cmd` file, you may want to add it to the `OutputSpec`

[2017-05-19 18:37] byvernault commented on #2035
OH, I removed it from base but I didn't put it back to this interface.

Good catch.

The reg_average_cmd is used internally. It's why I didn't put in the InputSpec.

We had some issues on the length of a reg_average command line where the OS was complaining. We decided to put the command line in a file and do the parsing inside the executable reg_average. For nipype, the user doesn't need to use i

[2017-05-19 19:08] mgxd commented on #2001
@caixixixi no problem, feel free to open this again if necessary

[2017-05-19 19:08] #2001 closed

[2017-05-19 19:10] mgxd commented on #1084
@armaneshaghi is this still in progress? If so, feel free to submit a PR and we can continue the discussion there

[2017-05-19 19:10] #1084 closed

[2017-05-19 19:13] mgxd commented on #1505
@cni-md is this still the case now that 6.0 is out of beta?

[2017-05-19 19:22] mgxd commented on #730
this has been fixed

[2017-05-19 19:22] #730 closed

[2017-05-19 19:33] polosecki opened #2038 "Problem with strings being converted to unicode"
### Summary
Regular strings seem to be incorrectly converted into unicode (for the Function utility interface at least). This causes functions to fail. Error seems more general than just the Function utiliy interface.

### Actual behavior
Strings get converted to unicode. This causes functions that expect regular strings to fail
The code below for instance, produces the following error:

 ### Expe

[2017-05-19 20:02] mgxd commented on #2038
@polosecki thanks for reporting - this is a python 2.7 bug that happens when calling an external function  that takes a string input within a `Function` - a unicode string is passed through instead. A quick workaround is to explicitly set these strings via `str()`. However, we should look for a better, longterm fix for this.

As for the `nipype.getinfo()` error, try upgrading to latest master, as

[2017-05-19 20:39] polosecki commented on #2038
@mgxd Thanks a lot for the quick workaround, it did work. As a more permanent solution for myself, I will try to port my code to Python 3 for the reasons you mention. Upon trying the latest master the `nipype.getinfo()` failure is corrected. Only the `Function` interface is failing now.

[2017-05-19 22:23] satra commented on #2035
closed via #2037

[2017-05-19 22:23] #2035 closed

[2017-05-19 22:25] #2029 closed

[2017-05-19 22:25] #1786 closed

[2017-05-20 04:16] caixixixi commented on #2001
@mgxd hi
170519-09:50:47,348 workflow INFO:
	 [Job finished] jobname: convert2itk.a0 jobid: 5
170519-12:17:19,284 workflow ERROR:
	 [u'Node antsreg.a0 failed to run on host ubuntu.']
170519-12:17:20,354 workflow INFO:
	 Saving crash info to /home/caixi/nipype_tutorial/crash-20170519-121719-caixi-antsreg.a0-91b6a845-3039-46bf-abe3-12ee67c9fe6a.pklz
170519-12:17:20,445 workflow INFO:
	 Traceback (mo

[2017-05-20 13:02] caixixixi opened #2040 "nipype 1.0.0 test fail"
=================================== FAILURES ===================================
_______________________ test_s3datagrabber_communication _______________________

tmpdir = local('/tmp/pytest-of-caixi/pytest-9/test_s3datagrabber_communicati0')

    @pytest.mark.skipif(noboto, reason="boto library is not available")
    def test_s3datagrabber_communication(tmpdir):
        dg = nio.S3DataGrabber(

[2017-05-20 14:15] caixixixi commented on #2001
Hi!

170519-09:50:47,348 workflow INFO:
	 [Job finished] jobname: convert2itk.a0 jobid: 5
170519-12:17:19,284 workflow ERROR:
	 [u'Node antsreg.a0 failed to run on host ubuntu.']
170519-12:17:20,354 workflow INFO:
	 Saving crash info to /home/caixi/nipype_tutorial/crash-20170519-121719-caixi-antsreg.a0-91b6a845-3039-46bf-abe3-12ee67c9fe6a.pklz
170519-12:17:20,445 workflow INFO:
	 Traceback (most r

[2017-05-21 03:16] mgxd commented on #2001
@caixixixi haven't run into this error, but refer to [this post](http://biabl.github.io/2016/04/19/errors-when-using-antsbrainextraction-sh)

[2017-05-22 05:52] cni-md commented on #1505
@mgxd yes.

Freesurfer freesurfer-Linux-centos6_x86_64-stable-pub-v6.0.0-2beb96c
nipype
{'commit_hash': 'ff02ed0',
 'commit_source': u'repository',
 'networkx_version': '1.11',
 'nibabel_version': '2.1.0',
 'nipype_version': u'1.0.0-gff02ed0.dev',
 'numpy_version': '1.12.0',
 'pkg_path': 'nipype',
 'scipy_version': '0.14.0',
 'sys_executable': '/usr/bin/python',
 'sys_platform': 'linux2',
 'sys_ve

[2017-05-22 16:03] mgxd commented on #2040
@caixixixi can you ensure you have an updated version of `boto`? Wasn't able to replicate this on either python 2/3

[2017-05-22 20:37] mgxd commented on #988
perhaps fixed in #1002

[2017-05-23 06:04] cni-md commented on #1878
Please keep in mind that this will only work with no / grappa acceleration and not with Sense. The roemer reconstruction gives you a homogeneous image intensity with an inhomogeneous noise distribution. In addition Philips will set voxel values <=5 to Zero -> no Backgroud noise. On a Philips scanner you have to perfom a dynamic noise scan with / without rf to calculate the SNR.
On a Siemens scanne

[2017-05-23 15:37] yarikoptic commented on #1970
sorry if I have missed somewhere above already stated resolution to the "InterpolationSyntaxError" issue.  The reason is that '%h' in nipype/COMMIT_INFO.txt can be not replaced... I didn't do checks why it is not, although seems listed in .gitattributes, but I have downloaded nipype's .zip from github and there it wasn't replaced so py.tests fails if I just run `py.test -s -v nipype/utils/tests/te

[2017-05-23 17:14] satra commented on #1970
@yarikoptic - does this happen when you install using `pip install nipype`?

[2017-05-23 19:38] anbai106 opened #2044 "How to parallelize the diffusion preprocessing pipeline"
Hello:
I have a general question for the preprocessing of diffusion, I think right now the pipeline works in sequence, but if I want to parallelize the pipeline and without touching your souce code, can I just create a MapNode to distribute the subjects and connect it to the workflow, e.g.

 in fsl/epi interface.

I tried it like

`distribute_node = npe.Node(nutil.IdentityInterface(name="Distribut

[2017-05-23 19:43] TheChymera opened #2045 "Listing Authors"
I was prompted to look at the authors json file recently. It's really cool that we keep track of who contributes (and provide due credit), but it's plain to see that both the listing itself, as well as the order of authors is done manually.

While I have no objection to the people on the list and the order, wouldn't it be greater, easier (in the long run), and robuster if the list, or at least the

[2017-05-23 21:18] yarikoptic opened #2046 "nipypecli should have --version"
### Summary

[code]

### Actual behavior

[code]
### Expected behavior
[code]
### How to replicate the behavior

[code]
### Script/Workflow details

Please put URL to code or code here (if not too long).

http://www.onerussian.com/tmp/nipypecli

### Platform details:

Please paste the output of: `python -c "import nipype; print(nipype.get_info()); print(nipype.__version__)"`

[code]

[2017-05-23 21:35] satra commented on #2045
@TheChymera - except for a couple of folks being re-ordered, it was done automatically :) i will post the script to tools soon. just has a few extra dependencies.

the one bit that really required manual work was the mailmap file. the contributors-lines was created by a script that looked at git shortlog and lines (as opposed to commits). it was an assumption i used as better representative of con

[2017-05-23 22:27] TheChymera commented on #2045
I've been proposing line-based authorship listing for a while now and game-ablebility has always come up.

Given:

1. the low career utility of being a bit higher in the middle of the authors' list of some FOSS project
2. that common project dynamics usually result in crystal clear "important authorships" (first, multi-first, and last) - and that these can in doubt be manually fixed
3. that the cu

[2017-05-24 09:32] gladomat opened #2049 "spm.Coregister() deletes output after computation"
### Summary
When I run spm.Coregister() on a T1w image using a Node() I can see the file being computed in the tmp directory but as soon as it finishes the output is erased. This, however, doesn't happen when I do it with my functional data in a MapNode Interface

### Actual behavior
File gets deleted after computation.

### Expected behavior
File shouldn't be deleted, instead it should be sent to

[2017-05-24 12:55] satra commented on #2049
@gladomat - you can set `coregister_struc.config['execution']['remove_unnecessary_outputs'] = False` (see the [config](http://nipype.readthedocs.io/en/latest/users/config_file.html) for all options)

[2017-05-24 17:43] rattar1989 opened #2050 "wrap a MATLAB script"
### Summary
Hi all,
I can not find any practical example re wrapping a matlab script.
Could anyone please give a simple example on how to wrap a matlab script?
There is only one page explained about it which is not clear to me: http://nipype.readthedocs.io/en/latest/devel/matlab_interface_devel.html

for example how do you warp the following simple matlab script that computes Area of Polygon:
[cod

[2017-05-25 07:39] anbai106 commented on #2050
You should use MatlabCommand interface, i did it before you create a Node to pass the parameters to your matlab script

[2017-05-25 07:48] anbai106 opened #2052 "Connect MapNode with MapNode bug"
### Summary
I tried to connect some MapNode to parallelize my pipeline, but I found maybe a bug, I know that the input for a MapNode is a list containing some string, so the next MapNode will process this string in parallel, to be clear, I will give you a specific example

This is a part of dwi preprocessing pipeline, I try to parallelize the pipeline.
I have two subjects: subject_01, subject_02,

[2017-05-25 09:23] rattar1989 commented on #2050
@anbai106 Tnx for ur comment. do you mean the link above? I can not understand how to use it. can you please give me an example of using this wrapper?

[2017-05-25 14:32] effigies commented on #2044
I haven't looked up the `create_dmri_preprocessing` interface, but I'll assume that your `distributenode` fields are equivalent to its `inputnode`.

I would do it something like this:

[code]

You'll presumably also want some kind of [datasink](https://nipype.readthedocs.io/en/latest/interfaces/generated/nipype.interfaces.io.html#datasink), as well.

[2017-05-25 14:50] effigies commented on #2052
You have two options.

1) If you want to preserve the shape of these lists, you'll need to add `nested=True` to the second `MapNode`'s arguments.

2) If you're okay with your lists being merged into a single list, you can do:

[code]

(I haven't looked up the actual names, so you may need to adjust `out_file` and `out` in those connections.)

Merge will give you a flattened list, and everything go

[2017-05-25 14:53] effigies commented on #2050
What is `input` and what do you want to return as output?

[2017-05-25 15:25] rattar1989 commented on #2050
@effigies just as an example suppose that in above matlab script: L (an array) is input and A (a number) is output.

[2017-05-25 19:33] mgxd commented on #2049
@gladomat did that fix your issue?

[2017-05-25 22:13] anbai106 commented on #2052
@effigies  I think I will try to use the option one, because I dont wanna a flattened list which will be regarded as many subjects as the length of the list by MapNode, actually, for flirt, there are other MapNode to connect as inputs, e.g the mask from Bet, which are always a list of two files.

I will give you the feedback

Thanks anyway

[2017-05-25 22:33] anbai106 commented on #2044
@effigies Thanks for your response, actually I used iterables before, the reason why I did not take it is that when the iterables have just one inputs like you mentioned here 'subject_id', it works perfectly, but if for example, i have iterables like this:
`read_parameters_node.iterables = [('in_dwi', self.subjects), ('in_bval', read_parameters_node.inputs.in_bval),

[2017-05-26 09:46] anbai106 commented on #2052
@effigies Hi, I tired the first solution, but it seems that this flag does not really work, I still get the same errors:
`    fslroi_ref = pe.MapNode(fsl.ExtractROI(args='0 1'), name='b0_reference', iterfield=['in_file'], nested=True)
    tsize = nb_b0 - 1
    fslroi_moving = pe.MapNode(fsl.ExtractROI(args='1 '+str(tsize)), name='b0_moving', iterfield=['in_file'])
    split_moving = pe.MapNode(fsl

[2017-05-26 11:44] #2046 closed

[2017-05-26 15:31] rattar1989 commented on #1970
I had to reinstall everything on a new system, I then tried to run `nipype.test()`.
I get the following errors now:
any suggestion?

=================================== FAILURES ===================================
_______________________________ test_provenance ________________________________

tmpdir = local('/tmp/pytest-of-rahman/pytest-5/test_provenance0')

    def test_provenance(tmpdir):

[2017-05-26 16:38] rattar1989 commented on #2050
Any feedback?

[2017-05-26 18:01] effigies commented on #2050
Hi sorry. I'm not super familiar with the Matlab interface, and a bit busy at just the minute. I'll have another look at this soon, but I wouldn't expect a better response before Tuesday.

[2017-05-26 18:31] satra opened #2055 "DISPLAY variable should be optional"
### Summary

DISPLAY variable is always set to :1 when running a command line interface. There is currently now way to unset this variable

### Actual behavior

DISPLAY=:1 by default

### Expected behavior
Option to remove DISPLAY or any other environment variable.

### Platform details:

{'pkg_path': '/software/nipy-repo/nipype/nipype', 'commit_source': 'repository', 'commit_hash': 'acb37ce18', '

[2017-05-26 19:25] oesteban commented on #2055
Is it :1 because of this -> https://github.com/nipy/nipype/blob/70b2084eea746f212dbb15aa57b63325c9a99666/nipype/utils/config.py#L47 ?

We could/should address #1400 and #1403 with this one.

In general, we should read `$DISPLAY` from the system. That would let the advanced users define complex environments, and still work well in most of the cases without touching anything.

Then, the runner would

[2017-05-26 20:32] satra commented on #2055
@oesteban - it's `:1` because of that line and this: https://github.com/nipy/nipype/blob/master/nipype/interfaces/base.py#L1697

regarding your suggestions, yes we should do this all in the base-interface runner.

- we do need to figure out and make consistent how environment variables are handled. i think i prefer read and override, but we also need some syntax for deleting variables, or keeping

[2017-05-26 21:15] oesteban commented on #2055
I see, it makes sense fixing the DISPLAY and after traits address the xvfb issue. :+1:

[2017-05-29 10:16] gladomat commented on #2049
It apparently has fixed the issue. Thanks!

[2017-05-29 12:46] gladomat commented on #2049
I looked into it in more detail and came to realize that the issue isn't fixed. The output `'coregistered_files'` is left empty. Here's what it looks like:

[code]

[2017-05-29 13:06] gladomat commented on #2049
I just realized my mistake. The souce is the file I am looking for and the `coregistered_files` are the ones that are coregistered when `apply_to_files` is set. I apologize!

[2017-05-30 14:24] YSanchezAraujo commented on #2050
I have an example [here](https://github.com/YSanchezAraujo/genus/blob/master/notebooks/bayes_analysis.ipynb) , the `bayes_reg.m` file looks like [this](https://github.com/YSanchezAraujo/genus/blob/master/scripts/bayes_reg.m)

In short, given your example you could do:

[code]
One thing to note, if you need that output from `A` for example, you will need to explicit tell matlab where to save it, by

[2017-06-01 14:12] MariaICL commented on #2038
I have the same issue, but I am a newbie to python, and I don't understand the solution to this completely (not sure where to define the str() exactly). My particular example giving me this error is:

from nipype.interfaces.utility import Function

def _gen_index(in_file):
    import numpy as np
    import nibabel as nb
    import os
    out_file = os.path.abspath('index.txt')
    vols = nb.load(i

[2017-06-01 14:29] mgxd commented on #2038
@MariaICL

[code]

[2017-06-01 14:55] MariaICL commented on #2038
Thank you!

[2017-06-01 19:34] mgxd commented on #2049
@gladomat feel free to open this if you still run into issues

[2017-06-01 19:34] #2049 closed

[2017-06-01 19:51] MariaICL opened #2060 "Function interface crash when upgrading nipype"
### Summary
The function interface crashes, in a code that was working in an older nipype installation (version details below). From the error, it seems I am doing something wrong when importing other functions inside of the function interface, but I don't know what it is exactly or how to fix it.

The function itself is intended to convert html into pdf and send it as an email attachment.

### Ac

[2017-06-01 23:38] jokedurnez opened #2061 "Maximum filename length"
This code runs without problem:
_(note that you can reproduce the full analysis if you change the name of the nifti in the first line to one that exists on a local machine)_

[code]

When I make the first two lines into an iterable, like the following, the problem appears.

[code]

This is the error trace:
[code]

I *think* because this outputdir exceeds the maximum number of characters in a file/

[2017-06-02 02:18] satra commented on #2061
@jokedurnez - do you set this config option to false by any chance?

`config['execution']['parameterize_dirs']`

the default value is true and by default it should have turned that long parameterization to a hash.

[2017-06-02 02:40] mgxd commented on #2061
@satra that option should be set to `False` in order to convert iterables > 32 characters into a hash. Right now the default is set to `True`, but turning this option off in the base config would be a good idea.

[2017-06-02 03:02] satra commented on #2061
@mgxd - thank you. @jokedurnez - i stand corrected. to prevent the error you are receiving you can do:

`workflow_variable.config['execution']['parameterize_dirs'] = False`

[2017-06-02 12:48] juhuntenburg commented on #1473
Hi, any news on if these changes will be integrated? Should i make a PR? We are using the mipav interfaces for one of our main pipelines at the institute and it would be great for new users to get around using local nipype clones. Or is there anything speaking against integrating them?
Thank you!

[2017-06-02 14:28] mgxd commented on #2060
@MariaICL could you try removing the imports from inside the function and instead assigning them to the `Function` interface? Something like:
[code]

[2017-06-02 14:34] chrisfilo commented on #1473
Please make a pr. We should merge this.

On Jun 2, 2017 5:48 AM, "Julia Huntenburg" <notifications@github.com> wrote:

[2017-06-02 16:02] rattar1989 commented on #2050
@YSanchezAraujo Thanks so much for your help and examples.

Now, I can run an independent matlab code (.m file) using nipype in python.

Could you please let me know how I can run a .m file that inside the code there are calls to other .m files?

Thanks.

[2017-06-02 16:24] MariaICL commented on #2060
Thanks for the tip, but I just tried it and I got exactly the same error...

[code]

[2017-06-02 16:49] jokedurnez commented on #2061
Cool, thanks !

[2017-06-02 16:56] mgxd commented on #2060
Is `empty_variable` even used? that may be the problem with your function.

[2017-06-02 17:33] MariaICL commented on #2060
I took `empty_variable` out, it was not being used, but the error is still the same...

[2017-06-02 21:24] jokedurnez commented on #2061
btw this didn't work for me.

[2017-06-02 23:46] YSanchezAraujo commented on #2050
@rattar1989 if i understand you correctly that can be solved by adding the paths to those other `.m` files. And you do that either using the `matlab.inputs.paths` or inside the string or file that is assigned to `matlab.inputs.script` add a `addpath(genpath('/path/here'))` or simply `addpath('/path/here')`

[2017-06-03 11:55] hurtb commented on #1900
@mgxd - yes. All of the `Node` inputs are in the form you describe.

[2017-06-04 02:06] satra commented on #2061
@jokedurnez - do you have node object that crashes? if so can you please inspect it to see if the config is set correctly?

[code]

was this run with current nipype? (although that particular feature has been around for a while).

[2017-06-04 18:57] jokedurnez opened #2064 "Problem with singularity import: bad variable name"
I'm having a problem with [this line](https://github.com/nipy/nipype/blob/master/docker/base.Dockerfile#L155) in the Dockerfile.

See [this discussion](https://github.com/singularityware/singularity/issues/719) on the singularity github.

[2017-06-06 12:51] ubersexualShupeng commented on #1332
Hi, it is really a nice work to implement this tool in nipype. Obviously, it is much easier for researchers to use than c++ version. I do appreciate it.
I have some issues when using this nipype.interfaces.petpvc.
My code in anaconda4.3.0 python (2.7, 64-bit) as following:
import nipype
import nipype.interfaces.petpvc as PETPVC
pvc = PETPVC.PETPVC()
pvc.inputs.in_file = 'C:\\Users\\135173\\Desktop

[2017-06-06 13:04] alexsavio commented on #1332
Hi @ubersexualShupeng, you can find the documentation in http://nipype.readthedocs.io/en/latest/documentation.html.
Also, like any other module, the binary command (petpvc) should be in your PATH.

I hope this helps.

Cheers,
Alex

[2017-06-06 13:04] effigies commented on #1332
You'll need to install it somewhere so that running `petpvc` from the command line successfully starts the program. The source code alone will not do what you want.

It appears there are Windows binaries [available](https://github.com/UCL/PETPVC/releases/latest). I'm not sure whether this is an installer or a simple executable to be placed in your path. Their [README](https://github.com/UCL/PETPVC

[2017-06-06 13:12] Lukisn opened #2067 "_check_mandatory_inputs() does not raise on IdentityInterface"
### Summary

The ``_check_mandatory_inputs()`` function does not raise an Exception wenn called on an ``IdentityInterface`` although the default ``mandatory_inputs`` parameter was set to ``True`` on the instantiation of the interface.

### Actual behaviour

The ``_check_mandatory_inputs()`` function runs through till the end of the function body and implicitly returns ``None``.

### Expected behav

[2017-06-06 13:40] effigies commented on #2067
The values in an interface input spec are not populated until their inputs have run (unless they're set manually). I'm not sure that making `IdentityInterface._check_mandatory_inputs` do what you're asking will resolve your issue.

I suspect that what you want is a check at the start of a workflow run that the mandatory nodes either have values or are connected to an input.

[2017-06-06 14:07] satra commented on #2067
of further note is that in an executing workflow all identityinterfaces are removed from the flattened graph with the pass through connections set directly in place.

[2017-06-06 14:21] Lukisn commented on #2067
I see the problem in my approach, but I am still confused about the difference between the two interfaces. In the case of the ``dcm2nii`` interface querying the inputs like this:

[code]

returns a dictionary containing the two mutally exclusive mandatory input options:

[code]

On the other hand, trying the same thing for the identity interface like this:

[code]

results in an empty dict, althou

[2017-06-06 14:38] ubersexualShupeng commented on #1332
Hi @effigies , I install the binaries you provided and that is a bunch of .exe files.
I also add two line code:

import sys
sys.path.append('C:\\Program Files (x86)\\PETPVC')

The path is where the binaries (.exe) file placed.
But the errors still appeared.
Is that what you mean to put the 'binary command in the PATH''? @alexsavio
Look forward to your reply.
I really appreciate all your help.

[2017-06-06 14:47] alexsavio commented on #1332
Hi @ubersexualShupeng,

No, sorry, I mean your OS PATH, on Windows you may have to add the folder path where the petpvc binary is to your system path:
https://stackoverflow.com/questions/23400030/windows-7-add-path

[2017-06-06 14:49] effigies commented on #1332
It's better not to manipulate the PATH inside Python, but instead make sure that your programs are in the PATH. That way, your code doesn't depend on the exact setup of your system. You can test whether a program is in your PATH by opening a terminal and typing the program name (in this case, `petpvc`). If that works, then nipype should be able to work with it.

But if you're going to modify your

[2017-06-06 15:21] ubersexualShupeng commented on #1332
Hi @alexsavio @effigies  I do appreciate your help. I added the binaries in the system PATH.
It looks like the nipype can access the binaries but it have new errors.

The error message as following:
 Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Program Files\Anaconda2\lib\site-packages\nipype\interfaces\base.py", line 1081, in run
    runtime = self._run_wrap

[2017-06-06 15:31] effigies commented on #1332
Can you try running it in a `Node`?

[code]

This should create a file: `C:\tmp\pvc\_report\report.rst`

Paste the contents of that file to a gist. And could you open a new issue? We're 8 posts into a closed issue, now.

[2017-06-06 15:54] ubersexualShupeng opened #2068 "Issues of interfacing with PETPVC modules"
Hi @effigies @alexsavio, I have run it in a Node and the content of the file report.rst as following:

Node: petpvc
============

 Hierarchy : pvc
 Exec ID : pvc

Original Inputs
---------------

* alpha : <undefined>
* args : <undefined>
* debug : False
* environ : {}
* fwhm_x : 2.0
* fwhm_y : 2.0
* fwhm_z : 2.0
* ignore_exception : False
* in_file : C:\Users\135173\Desktop\pvc_test\PET_nii\x_WB_

[2017-06-06 15:55] ubersexualShupeng commented on #1332
I just created a new [issue](https://github.com/nipy/nipype/issues/2068)

[2017-06-06 15:59] effigies commented on #2068
I don't see a problem with your environment. I wonder if you're not
escaping the back slashes in the file paths.

On Jun 6, 2017 11:54, "ubersexualShupeng" <notifications@github.com> wrote:

[2017-06-06 19:29] ubersexualShupeng commented on #2068
I have tried to replace the back slashes to 'double back slashes' '\\' or forward dash '/' but the same error still appeared. Is there are any other possible problems?

The error messages as following:
TypeError: environment can only contain strings
Interface PETPVC failed to run.

Thanks.

[2017-06-06 19:36] effigies commented on #2068
I believe nipype will pass your actual environment through. Can you check

[code]

for non-string keys/values? (This may contain some personal information. If you're going to post the results of this for inspection, consider censoring it.)

[2017-06-07 12:21] #1473 closed

[2017-06-08 00:47] satra commented on #2067
@Lukisn - you are correct that those two interfaces behave different, and mostly it's because of the fact that the `IdentityInterface` is essentially a pass-through interface. so the only thing the `mandatory_inputs` component checks is when the interface is actually executed. in the context of a workflow that interface is never actually executed. also for the `IdentityInterface` setting mandatory

[2017-06-08 09:45] Lukisn commented on #2067
@satra - Thanks for the clarification. My general idea was to have multiple different workflows with input and output nodes (with IdentityInterfaces like in the library). I want to treat these workflows as building blocks to build larger linear pipelines by specifying the sequence of workflows in a list and connecting them programmatically by inspecting their input and output fields and connecting

[2017-06-08 18:37] mgxd commented on #2050
@rattar1989 feel free to open this issue if you have further questions

[2017-06-08 18:37] #2050 closed

[2017-06-08 19:04] mgxd commented on #2061
@jokedurnez is this still a problem? If so, can you try clearing your working directory?

[2017-06-08 19:50] mgxd commented on #2060
@MariaICL I think the problem here is this line:

[code]
Since Nipype has moved to primarily supporting Python 3,  try replacing that with:
[code]

[2017-06-08 20:23] mgxd commented on #2040
@caixixixi please open this issue if you continue running into this problem.

[2017-06-08 20:23] #2040 closed

[2017-06-08 23:08] jokedurnez commented on #2061
I changed my pipeline so that it loops over the iterables to circumvent the problem.  I'll try the proposed solution later to verify.

[2017-06-09 20:46] #1995 closed

[2017-06-11 03:00] chrisfilo opened #2072 "Failing function nodes don't stop children to execute if run_without_submitting and MultiProc are used"
See https://github.com/poldracklab/fmriprep/issues/553 for details and code to replicate the issue.

[2017-06-11 13:21] satra commented on #2072
@chrisfilo - could you please reduce this to a two node function example that we can add a test for?

[2017-06-11 13:25] satra commented on #2072
this is the code for run_without_submitting, and off the top i don't see why this wouldn't work:

https://github.com/nipy/nipype/blob/master/nipype/pipeline/plugins/base.py#L411

since it catches any exception and runs clean_queue, which is where dependencies would be removed. it would be super helpful to have a minimal example.

[2017-06-11 14:43] chrisfilo commented on #2072
I'll try to deliver a simple example. The interaction might turn out more
complex than I described.

In context of FMRIPREP disabling run_without_submitting "solved" the issue.

On Jun 11, 2017 6:25 AM, "Satrajit Ghosh" <notifications@github.com> wrote:

[2017-06-13 19:25] jokedurnez opened #2073 "[BUG] orthogonalisation on/off"
If there is a variable is orthogonalised wrt any other variable, then it should also be orthogonalised wrt EV0 (which is disturbingly not related to a variable 'EV0', but rather an on/off switch for all orthogonalisations).
I think this is the fix below, but I need to test it.  I wanted to document first.

https://github.com/jokedurnez/nipype/commit/366707a5c719d246aa54ec579d8ca12ab14bf3df

[2017-06-13 20:51] jokedurnez commented on #2073
Correlations before setting `set fmri(orthoX.0) 1`
![before](https://user-images.githubusercontent.com/7630327/27103924-416f3268-503f-11e7-8c90-cbe617c64326.png)
Correlations after setting `set fmri(orthoX.0) 1`
![after](https://user-images.githubusercontent.com/7630327/27103931-471c1898-503f-11e7-8a24-8a8e8e047a75.png)

[2017-06-14 16:39] MariaICL commented on #2060
No difference in the error with that change, I am afraid...

[2017-06-15 10:30] arianefleury opened #2077 "Issue : isn’t SPM12 “Dartel – Run Dartel (existing templates)” implemented in nipype ?"
Hi,

I’ve been trying to find the Nipype implementation for the Dartel - Run Dartel (existing templates) routine from SPM12 interface to run Dartel with my own tissue map template (TPM based on MNI and extra tissue class for tumor, see m-file at the end of this message). But I only found the spm.DARTEL() function which produces its own templates and has no input parameter for existing templates.

[2017-06-19 15:07] mwaskom opened #2081 "Do user-defined interfaces need `TraitedSpec` classes?"
There is a lot of boilerplate required to define an interface. From [the docs](http://nipype.readthedocs.io/en/latest/devel/cmd_interface_devel.html) a "simple" example of a custom Interface requires defining three classes:

[code]

Is there a technical reason why the user has to define the input and output specs as classes, rather than let the user define dictionaries of inputs and output traits

[2017-06-20 03:31] satra commented on #2081
@mwaskom - it's so that we can derive classes and functionality. also the dict formulation won't support all the functionality that is basetraitedspec and traitedspec.

that being said we will revisit this in both our current push to traitlets and with API v2.

[2017-06-20 11:26] mwaskom commented on #2081
@satra I understand why it's useful to have them in nipype, my question is whether it's possible to let users specify dictionaries of inputs/outputs and have nipype create the TraitedSpec objects and inject the traits internally, to save users from writing unnecessary boilerplate. I've found that given the limitations of the `Function` interface it can be cleaner to define an `Interface` to do one

[2017-06-20 21:43] satra commented on #2081
@mwaskom - that's a fair point. i think we should rethink the user oriented design of nipype and minimize boilerplate where possible.

[2017-06-20 22:39] mwaskom commented on #2081
:+1::+1::+1::+1::+1:

[2017-06-20 22:39] mwaskom commented on #2081
I'll try to take a stab at this. No promises, though.

[2017-06-20 23:10] mwaskom commented on #2081
See #2083 -- not battle-tested yet, but it was straightforward to implement a proof of principle.

[2017-06-21 15:11] mgxd commented on #2068
@ubersexualShupeng are you still running into this issue?

[2017-06-21 15:28] ubersexualShupeng commented on #2068
Yes. I do not use this py module anymore. I use the PETPVC (binary) directly now.

[2017-06-21 16:56] effigies commented on #2068
To be clear, are you able to run other external programs, such as FSL or FreeSurfer, through nipype, or is this `TypeError` specifically for PETPVC?

----

To get the context in this issue, the [code run](https://github.com/nipy/nipype/issues/1332#issuecomment-306476272) was:

[code]

With [error](https://github.com/nipy/nipype/issues/1332#issuecomment-306520880):

[code]

This may be a Unicode-on

[2017-06-21 17:18] effigies commented on #2068
Hi @ubersexualShupeng. Can you give #2085 a shot?

[code]

[2017-06-21 20:52] #20 closed

[2017-06-21 21:13] sgiavasis commented on #2060
Noting here that I am also seeing this error when I use 0.13+ versions of Nipype- my function nodes start throwing this error, even if I try assigning the list of imports to the function node as recommended above and in https://github.com/nipy/nipype/issues/1097.

[2017-06-22 14:01] effigies commented on #2060
Can you give a minimal example of a function that fails?

[2017-06-22 21:01] sgiavasis commented on #2060
The function node declaration (rest of workflow cut out for brevity):

    gather_imports = ['import os',
                      'import nibabel as nb']

    gather_header = pe.Node(niu.Function(
                             input_names=['in_file', 'subject', 'session',
                                          'scan', 'type'],
                             output_names=['qap_dict'],

[2017-06-22 21:42] effigies commented on #2060
Sorry, by "minimal example", I meant the smallest possible (or at least pretty small) function that results in an error.

First, does this fail if you simply create a function node and attempt to run it with static arguments? Or does it have to be in a workflow?

And can it be reduced, such as the following?

[code]

If this fails, it's much easier for us to try to reproduce this bug. If it doesn'

[2017-06-23 13:47] rattar1989 opened #2088 "Nodes without inputs/outputs ?"
### Summary
I'm creating a workflow containing 9 nodes (modules) to segment MR images at different time points and then analyses the segmented area with some specific functions. Almost all my codes are written in Matlab and I use nipype wrappers so as to use them in my workflow.

The workflow reads a path of an image folder from the database and make a copy of that folder somewhere (temporary) and

[2017-06-23 13:53] effigies commented on #2088
Nipype sequences by determining which nodes pass their outputs into which nodes' inputs. If you have a workflow of a bundle of nodes with no dependencies, there's no straightforward way to select an order of running.

However, you can do:

[code]

(You also don't have to use `Node`s. You can just run the interfaces directly.)

[2017-06-23 14:04] rattar1989 commented on #2088
Thanks @effigies,
how can I then run the whole pipeline in a parallel mode? (i.e. each subject file can be read from the database in parallel and go through the pipeline)

[2017-06-23 14:15] effigies commented on #2088
If possible, I would consider actually exposing inputs and outputs and connecting them so that the workflow can be ordered; if the actions need to be run sequentially, then there should be prerequisites and products of each step.

Failing that, you could do something like this:

[code]

That will run the first step on all subjects in parallel, and then, when that's finished, run the second step on

[2017-06-23 14:38] rattar1989 commented on #2088
@effigies thanks for your clear explanation. I would prefer to work on the second option as the first one would not be efficient on large population studies.

[2017-06-23 14:39] #2088 closed

[2017-06-23 16:36] #2068 closed

[2017-06-23 17:47] sgiavasis commented on #2060
Right- I got it to run with a minimal example similar to what you presented. I started re-introducing the code until I hit the error again.

Interestingly, it started occurring again with the inclusion of the iteration over the "info_labels" list. (The list definition where 'info_labels' is set goes through fine). I reduced the contents of that loop to only a plain, static print statement (to run

[2017-06-23 17:56] mgxd commented on #2060
@sgiavasis can you try replacing your list with something like:
[code]
and then try printing/iterating through it

[2017-06-23 18:20] sgiavasis commented on #2060
Just tried it- unfortunately, the error still occurs.

[2017-06-23 18:21] mwaskom opened #2091 "Error raised from DataSink on Python 3"
I'm transitioning some workflow code to Python3 and have run into an issue in nipype that I think is a Python3 conversion problem. Here is the traceback I see:

[code]

The issue is [here](https://github.com/nipy/nipype/blob/master/nipype/interfaces/io.py#L74). I believe the problem is that Exception objects no longer duck-type as strings in Python 3. In other words:

[code]

returns `True` on Pyt

[2017-06-23 18:26] mwaskom commented on #2091
See #2092, which I found fixed this issue for my case. I'm not sure what a clever way is to search for this pattern elsewhere in nipype, but I found a couple of other instances in the `io.py` module.

[2017-06-23 19:39] mgxd commented on #2060
@sgiavasis hm, okay.

adding to @effigies's example, can you try running the following
[code]

[2017-06-23 20:34] sgiavasis commented on #2060
That worked!! Nice call.

It appears that error may be thrown over Python 2-3 incompatibility?

[2017-06-23 20:57] mgxd commented on #2060
@sgiavasis I think the problem is that currently, the `Function` interface only supports Python 3.

I was able to replicate this below:
[code]

[code]

Error executing function:
 def func_py2(in_file):
    print in_file
Functions in connection strings have to be standalone.
They cannot be declared either interactively or inside
another function or inline in the connect string. Any
imports should b

[2017-06-23 20:59] sgiavasis commented on #2060
This makes sense- I re-introduced the rest of the code in that full function I posted above, but made it Python 3 compatible, and the function node now completes without a problem.

Thanks for your help everyone!

Do you think introducing backwards compatibility is something you guys will aim for, or are you moving away from Python 2.7 in general?

[2017-06-23 21:05] mgxd commented on #2060
@sgiavasis this is a bug, we hope to have py2 support til `rel 1.0.0`, which after we'll only support py3

[2017-06-24 16:13] tsalo commented on #815
It looks like @dclark87 addressed this in #868 by changing `tpattern` from an `Enum` (which was missing some options) to a `Str`. Can this issue be closed?

[2017-06-24 16:26] #815 closed

[2017-06-24 18:41] tsalo commented on #701
Was this addressed in #563?

[2017-06-25 06:17] #1727 closed

[2017-06-25 06:17] #1615 closed

[2017-06-26 10:40] rattar1989 opened #2100 "**runtime.dictcopy())) RuntimeError: <exception str() failed>"
### Summary
I wrapped a matlab code and got the results like the following:

[code]
### Expected behavior
I expect no errors because the code works correctly and the outputs are the same when I run it on matlab.

[2017-06-26 14:18] rattar1989 opened #2101 "How to wrap C++, R, java, or other scripts with Nipype?"
### Summary
I only found nipype wrappers for Matlab and Python codes. How is possible to directly wrap scripts written in other programming languages with nipype?

[2017-06-26 16:16] mwaskom opened #2102 "fsl.FNIRT does not generate fieldcoeff_file when it is an output connection"
### Summary

When using `fsl.FNIRT` you have to set `fieldcoeff_file=True` in the inputs even when the `fieldcoeff_file` output is connected to a downstream node.

### Actual behavior

No `fieldcoeff_file` is written and the downstream node errors out.

### Expected behavior

Shouldn't there be an association between the input and output traits `fieldcoeff_file` be written with a default filename

[2017-06-26 16:47] mgxd commented on #2100
@rattar1989 can you please provide the code you are running, as well as any additional information in any crashfile generated

[2017-06-26 16:51] mgxd commented on #2102
@mwaskom looks like there is no default value for `fieldcoeff_file` - thus it doesn't get extracted for the `outputs` dict unless explicitly specified since it's left `Undefined`

[2017-06-26 17:51] effigies commented on #2101
If there's a command-line program (usually will be for C++/Java), you can use [`CommandLine`](https://github.com/nipy/nipype/blob/master/nipype/interfaces/base.py#L1622), which should be subclassed with a minimal interface. The basic pattern (also covered in the [developer guide](https://nipype.readthedocs.io/en/latest/devel/interface_specs.html#defining-an-interface-class) is as follows:

[code]

[2017-06-26 17:53] mwaskom commented on #2102
So remind me, to fix this I need to add `genfile=True` in the input spec and then add `fieldcoeff_file` to [this list](https://github.com/nipy/nipype/blob/master/nipype/interfaces/fsl/preprocess.py#L971)?

[2017-06-26 18:10] mgxd commented on #2102
If `fieldcoeff_file` can always be created, just adding `default=True` should suffice. If not, then this is intended behavior, as I don't believe interfaces' outputs can be dependent on workflow connections with this current engine

[2017-06-26 18:17] mwaskom commented on #2102
By "can always be created" you mean can be created by an interface with only the mandatory inputs set?

How is the suffix determined with `default=True`?

[2017-06-26 18:40] mgxd commented on #2102
Yes, that's a better way to say it :+1:

By setting `default=True`, I believe it'll go down [this path](https://github.com/nipy/nipype/blob/master/nipype/interfaces/fsl/preprocess.py#L983) by default and automatically generate the file. The suffix is determined from a hardcoded dict `filemap`

[2017-06-27 10:52] rattar1989 commented on #2100
Here is the code:
[code]

It runs the the matlab script (`data_organization.m` ) and the result is correct, but I have the above-mentioned errors.

[2017-06-27 11:02] #2101 closed

[2017-06-27 14:55] mgxd commented on #2100
can you verify `script` is correct?

and could you try running the last two lines outside of the `open()` call?

[2017-06-27 15:49] rattar1989 commented on #2100
- can you verify script is correct?
There are only the following lines that have been added at the end of the `pyscript.m` file but the rest are the same as my matlab script:
[code]
- and could you try running the last two lines outside of the open() call?
if you mean these lines:
[code]
the output is:
[code]
but if you mean something like the following:
[code]
then the output is:
[code]

[2017-06-27 16:53] mgxd commented on #2100
@rattar1989
[code]

Did this produce a crashfile? If so, can you paste the contents?

[2017-06-27 20:10] mwaskom commented on #2091
Closed with #2092

[2017-06-27 20:10] #2091 closed

[2017-06-28 03:10] ashgillman commented on #1971
@isukrit I had same issue, info can be found here https://github.com/pypa/setuptools/issues/261

You need to upgrade setuptools >= 21.2.1

[2017-06-30 20:52] jcgriffis opened #2108 "Installation error"
### Summary
I am trying to install nipype, but am encountering an error. I am using Python 2.7 on Windows 8.1. I ran the install as administrator with:

`python -m pip install nipype
`
### Actual behavior
The installation runs at first but produces the following error:

[code]

### Execution environment

Windows 8.1

[2017-07-04 18:39] gdevenyi commented on #2108
Same on linux.

[code]

[2017-07-04 20:55] satra commented on #2108
@gdevenyi and @jcgriffis - i would like to get to the bottom of this.

on centos 7.3 i could do this without any error:

[code]

i suspect this will work on windows 8.1 as well using conda. could either of you test and post?

this is my environment list.

[code]

[2017-07-05 20:50] jcgriffis commented on #2108
I tried running the commands posted above, but the install still didn't work. Here is the output:

`(C:\Users\Joseph\Anaconda2) C:\Users\Joseph> conda create -n test python=2 pip
Fetching package metadata ...........
Solving package specifications: .

Package plan for installation in environment C:\Users\Joseph\Anaconda2\envs\test
:

The following NEW packages will be INSTALLED:

    pip:

[2017-07-05 20:51] leej3 opened #2109 "bvec and bval extraction from dti sequences"
### Summary
bval and bvec files are not kept during a conversion of certain dti dicoms using the dcm2niix interface. From what I can tell this might be due the appropriate pattern not being found in the stdout of dcm2niix. This search is performed on line 307 of the dcm2nii.py interface file :

 elif 'DTI gradients' in line or 'DTI gradient directions' in line:
                    find_b = True

(

[2017-07-05 21:14] mgxd commented on #2109
@leej3 thanks for pointing this out - this interface was only tested with Siemens dicoms.

looks like the fix should be pretty straightforward - adding a search for `GE DTI vectors` when [parsing the stdout](https://github.com/nipy/nipype/blob/master/nipype/interfaces/dcm2nii.py#L307) - could you give it a try? And if it works, could you submit a PR?

[2017-07-05 22:44] leej3 commented on #2109
Ah, you spotted it. Great. The change has worked for me so far.

Cheers

[2017-07-06 18:01] #2109 closed

[2017-07-07 14:54] mgxd commented on #2108
@jcgriffis can you retry after downloading the [C++ compiler for Python 2.7](https://www.microsoft.com/en-us/download/details.aspx?id=44266)

[2017-07-07 15:25] satra commented on #2108
@jcgriffis - i would recommend the conda-forge install on windows. note that we do not test nipype on windows. we normally recommend using nipype through docker on windows, but with windows 8.1 that may be difficult.

@mgxd - the c++ compiler is required for traits, but if installed via conda it should work fine. a c++ compiler is not a requirement for nipype.

[2017-07-11 17:35] anbai106 opened #2111 "pe.Node iterables with synchronise=True"
Hi,
I have a question(or maybe a bug):

I created a Node like this:
`    parallelsubjects = pe.Node(interface=niu.Function(input_names=['bids_directory', 'tsv'], output_names=['bids_ap_dwi', 'bids_ap_dwi_bvec', 'bids_ap_dwi_bval', 'bids_pa_dwi', 'bids_pa_dwi_bvec',
                                            'bids_pa_dwi_bval'], function=get_noddi_intput_fields), name='getNoddiFiles', synchronize=

[2017-07-11 18:11] mgxd commented on #2111
Hi Hao,

It looks like you are trying to define a function which outputs `['bids_ap_dwi', 'bids_ap_dwi_bvec', 'bids_ap_dwi_bval', 'bids_pa_dwi', 'bids_pa_dwi_bvec', 'bids_pa_dwi_bval']`, but iterates over these same values. Iterables are calculated at runtime, so this approach isn't currently supported.

Instead, I would recommend grabbing these values outside of a Nipype `Node`/`Workflow`, and th

[2017-07-11 19:07] mgxd commented on #2102
@mwaskom is this all set?

[2017-07-11 19:07] mgxd commented on #2100
@rattar1989 if this is still an issue, feel free to reopen the issue

[2017-07-11 19:07] #2100 closed

[2017-07-11 19:08] mwaskom commented on #2102
No, it needs a PR, I just haven't had time for it.

[2017-07-12 02:16] satra commented on #2111
@anbai106 - `iterables` refer to input fields.

[2017-07-12 06:49] anbai106 commented on #2111
@mgxd @satra , thanks for your reply, actually, the reason I use Node.iterables with sychronise=True is to parallelize several subjects to a written workflow which just works for one subject, and I did it before for diffusion pipeline with **IdentityInterface** interface(it works), good to know iterables are calculated at runtime(can you clarify a little more about at runtime?), so basically you m

[2017-07-12 09:23] anbai106 commented on #2111
@mgxd , @satra I correct this error, actually, I call this function directly and use **IdentityInterface**, it works, but i have a new question about the path to the Workflow's base_dir:

If i set the nipype configuration as default, the pipeline will be dead because the path to each subject's base_dir will be more than 32 characters(http://nipype.readthedocs.io/en/latest/users/config_file.html),

[2017-07-12 14:43] mgxd commented on #2111
@anbai106 When you define `wf.base_dir`, it will build each `Workflow` step (either a `Node` or another `Workflow`) within that directory - this can get messy if you are overwriting every step to work within the same directory.

An easier way would be to group all of a subject's data inside a `DataSink` - if you already have each subject's ID in the scope of your function, it's as easy as calling

[2017-07-13 07:38] anbai106 commented on #2111
@mgxd yes, you are right, we dont care the identifier of the working directory, the datasink can find the subject if we give the subject_id for each sub-workflow.

Thanks very much, the pipeline works now in parallel.

[2017-07-13 20:05] TheChymera opened #2112 "Old Nipype website"
I very often keep landing on an outdated text-only nipype page when I try to find nipype interface details directly through Google.

E.g. the first hit I get for “nipype slicetimer” is this: http://nipy.org/nipype/interfaces/generated/nipype.interfaces.fsl.preprocess.html

It's a bit confusing, and I believe even more so for people who need to consult the API more often.

[2017-07-13 20:53] satra commented on #2112
@TheChymera - we would need to remove our older references:

https://github.com/nipy/nipype/tree/gh-pages

i'm ok with doing it since we expect people in general to be using current docs. but there are likely many URLs in places that will break.

@chrisfilo - what do you think?

[2017-07-13 20:57] chrisfilo commented on #2112
Sounds like a plan - hopefully this will make google update their index.

[2017-07-15 21:49] oesteban commented on #2052
@anbai106 The `in_file` input of the `flirt` node is a `list`, however it is not set among in the `iterfields` of that `MapNode`.

[2017-07-15 21:52] oesteban commented on #2111
Seems like solved, but feel free to reopen if I'm wrong.

[2017-07-15 21:52] #2111 closed

[2017-07-17 20:29] djarecka opened #2115 "iterfield in MapNode can't be range (py3)"
### Summary
In py3 `range` is not a list, and if iterfield in `MapNode` is defined as `range` than entire range is send to the interface at once.

### Script/Workflow details

[code]

### Actual behavior
print statement from `square_func` gives `range(0, 4) <class 'range'>`

### Expected behavior
print statement from `square_func` should give  `0 <class 'int'>`, etc.

[2017-07-18 01:25] satra commented on #2115
@djarecka - in py3 range is a generator if you do `list(range(4))` it should work fine.

[2017-07-18 01:53] djarecka commented on #2115
@satra - yes, I know, but my point was that it could be misleading. `MapNode` doesn't give any warnings just sent the entire object to the function. It shouldn't be changed within the `MapNode` class?

[2017-07-18 01:59] satra commented on #2115
yes, it should result in an exception in this case, since it's not doing the correct thing.

[2017-07-18 02:52] djarecka opened #2116 "FreeSurferSource doesn't check subjects_dir"
### Summary
`FreeSurferSource` doesn't check `subjects_dir` is an existing path.

### How to replicate the behavior

[code]

### Actual behavior
Doesn't give an error.

### Expected behavior
Should check if directory exists (and possibly if there are files for `subject_id` ?).

[2017-07-18 03:39] effigies commented on #2116
Seems reasonable to add `exists=True` to `subjects_dir`, but I'd think enforcing a valid subject ID would be more trouble than it's worth.

[2017-07-19 05:08] mmromero opened #2118 "eddy node from `nipype.workflows.dmri.all_fsl_pipeline` workflow always gets executed"
### Summary
Unnecessary execution of eddy correction node in `nipype.workflows.dmri.all_fsl_pipeline` due to the creation of the input file `index.txt` in each run.

### Actual behavior
The eddy correction node is always executed even if nothing changed in the pipeline from the previous run.

### Expected behavior
This node must only be run when changes in previous nodes modify its input.

### How

[2017-07-19 12:08] djarecka opened #2119 "AttributeError when asking for `Workfow.inputs` fields in jupyter notebook"
### Summary
I've noticed that I'm getting errors when running first time `Worflow.inputs.something` within jupyter notebook. The problem doesn't happen when I write a python script, it doesn't happen when I ask first for `Workflow.inputs` and later `Worflow.inputs.something` or when `print(Worflow.inputs.something`). It looks like some weird interaction between jupyter and `traits`. Want to check

[2017-07-19 13:04] djarecka opened #2120 "different error message from SPM interaces"
### Summary
#1949 introduced `ImageFileSPM` that gives a nice error message, when input file is `nii.gz`, but `Realign` gives still the old error message " the path  '/data/ds000114/sub-03/func/sub-03_task-fingerfootlips_bold.nii.gz' does not exist."

### How to replicate the behavior
Compare these two codes:

[code]

and

[code]

### Actual behavior
The first code gives a nice error:
`TraitError:

[2017-07-19 14:29] mgxd commented on #2120
[`spm.RealignInputSpec.in_files`](https://github.com/nipy/nipype/blob/master/nipype/interfaces/spm/preprocess.py#L122) is using way too many trait calls - it should really just be simplified similar to [`spm.SmoothInputSpec.in_files`](https://github.com/nipy/nipype/blob/master/nipype/interfaces/spm/preprocess.py#L1100)

[code]

[2017-07-19 19:57] sgiavasis opened #2123 "Question: Significance of different terminal_output values when not explicitly set?"
Hello,

I am looking through a few Nipype crash files of a colleague. They had a few FLIRT nodes crash (returning exit status -9), but only for a small subset of their data. Running the actual FLIRT command in command.txt without modification completes successfully, so I'm having them re-run the workflow to see if it happens again.

The only difference in the node information between one of the on

[2017-07-24 08:32] mmromero opened #2124 "Missing coma in inputs traits definition of FSL FNIRT"
### Summary
Definition of [`FNIRT.inputs.intensity_mapping_model`](https://github.com/nipy/nipype/blob/0b3a116997eda4c364fea2b0e4e3dc902b1ede4e/nipype/interfaces/fsl/preprocess.py#L880) is missing a coma between 'global_non_linear' and 'local_linear' and thus both options are unusable.

### Actual behavior

### Expected behavior

### How to replicate the behavior

### Script/Workflow details

[`FN

[2017-07-24 13:48] #2118 closed

[2017-07-24 16:59] djarecka commented on #2119
@satra : just confirming that this issue exists in jupyter-lab and jupyter notebook

[2017-07-24 17:00] satra commented on #2119
but not in ipython right?

[2017-07-24 17:10] satra commented on #2119
so no error in ipython and the error does not happen if you do it a second time in the notebook/lab. so clearly a bug of some kind in the interaction with jupyter, but the bug goes away after the first time.

[2017-07-24 17:10] djarecka commented on #2119
actually, in `ipython` I also have the `AtributeError`

[2017-07-24 17:14] djarecka commented on #2119
the error looks slightly different and gives at the end the proper output:

[code]

you can try to run in `python` and in `ipython` this command:
` from nipype.workflows.fmri.fsl import create_susan_smooth; susan = create_susan_smooth(separate_masks=False); susan.inputs.inputnode
`

[2017-07-25 13:43] bkraft4257 opened #2126 "antsApplyTransform does not accept identity transform. Enhancement request."
### Summary

antsApplyTransforms interface does not accept the transform 'identity' unless it is a file.  This is a deviation from the antsApplyTransforms command line function.  This feature is very helpful when two images are in the same space and one needs to be resampled to the the other.

It would be nice if AntApplyTransform interface would accept the keyword identity as a transform.

### Ac

[2017-07-25 16:16] oesteban commented on #2126
@bkraft4257 , is this `'identity'` argument documented somewhere? What is the first version it works?

[2017-07-25 20:06] mgxd commented on #2124
closed in #2125

[2017-07-25 20:06] #2124 closed

[2017-07-26 06:46] oesteban opened #2127 "ANTs interfaces crash when checking version"
### Summary
ANTs interfaces crash if the version does not contain commit hash. E.g.:
[code]

### Actual behavior

[code]

### Expected behavior
`githash` should not be mandatory

### How to replicate the behavior
Shadow the original `antsRegistration` with a mock that just prints the above command.

### Script/Workflow details
https://github.com/poldracklab/mriqc/issues/600

### Platform details:

[2017-07-26 12:59] effigies commented on #2127
Ugh. Sorry. I actually hadn't run across a released ANTs version that didn't have the githash. I'll push a fix this morning.

[2017-07-27 07:52] qinqian opened #2131 "nipype test failed at test_utils.py with free surfer 6.0.0"
### Summary
I tried to set up all nipype required dependencies, and run.

[code]

### Actual behavior

[code]

### How to replicate the behaviour
use the latest nipype-1.0.0.dev0+gf85cf0d from github, and install with `python setup.py install --user` with python2.7 and free surfer  v6.0.0.

When running with root, the test get more "passed" case, but with several failure and warnings, as follows:

[2017-07-27 16:13] #2127 closed

[2017-07-27 17:52] rattar1989 opened #2132 "How to use SelectFiles to read all directories inside a folder?"
Here is my data_organization function. This is used in the first node of my workflow.
[code]
The function receives `in_path` as an input (a directory) which is a path of one subject folder. Then it organizes all the sub-folders in a desired way and it returns the path of the organized folder. Folders' name have a pattern. As `SelectFiles` finds **files** with specific patterns, is it possible to u

[2017-07-27 18:35] bkraft4257 commented on #2126
Nick Tustison told me about it when I was trying to resample one image to another image that were already registered.  It is also documented in the function's help (although rather obscurely).

...
 -t, --transform transformFileName
           [transformFileName,useInverse]
          Several transform options are supported including all those defined in the ITK
          library in addition to a d

[2017-07-27 18:50] oesteban commented on #2126
Yes, I use this trick too.

I'm doubtful because this is not well documented (if Nick didn't tell you, I don't think a human being can interpret that functionality from the documentation in any possible way). But I agree this is very useful. @satra WDYT?

[2017-07-27 18:58] mgxd commented on #2132
Hi @rattar1989 -
You should be able to find directories as well as files, here's an example:

[code]
However, at present there is no way to only select directories - this could be useful so I'm adding a PR for it.

[2017-07-28 11:16] rattar1989 commented on #2132
Hi @mgxd
Thanks for your reply.
Yes, It would be very useful to have such a functionality.

[2017-07-28 12:23] rattar1989 commented on #2132
Now how can I pass each element of the list (a directory) to next nodes?
If I do it by a for-loop it will affect the parallelization of the workflow?
The workflow must be executed in parallel.

[2017-07-28 18:50] rattar1989 commented on #2132
I have done this to pass every single directory to next nodes:

[code]
Finally for nodes connection I have the following:

[code]

I get the following error:
[code]

[2017-07-30 22:26] mgxd commented on #2132
@rattar1989 your `IdentityInterface` should be

[code]

[2017-07-30 23:44] rattar1989 commented on #2132
@mgxd thanks for pointing out this issue. it solved the above error.
but the errors like the following appear:
[code]
I general, am I doing the right way of data input streaming?

[2017-07-31 23:05] mgxd commented on #2132
@rattar1989 I believe you can start connecting from the `IdentityInterface`, you don't need the second `SelectFiles`

[2017-08-01 10:03] #2132 closed

[2017-08-03 22:49] chrisfilo opened #2142 "Add an interface for creating 24 motion parameter derivatives"
See https://github.com/danlurie/despolab_lesion/blob/master/code/derivatives/patients/04-compute_motion24_yan.py#L28

[2017-08-03 22:55] satra commented on #2142
The function already exists in the rsfmri script.

[2017-08-03 22:59] chrisfilo commented on #2142
We should still turn this into a reusable interface. Could you point to the relevant line of the rsfmri script? I could not find this transformation.

[2017-08-04 00:56] satra commented on #2142
https://github.com/nipy/nipype/blob/master/examples/rsfmri_vol_surface_preprocessing_nipy.py#L169

actually i think both the above and the bandpass filter implementation can be converted to interfaces:

https://github.com/nipy/nipype/blob/master/examples/rsfmri_vol_surface_preprocessing_nipy.py#L133

[2017-08-04 20:08] #2115 closed

[2017-08-05 16:29] satra opened #2144 "ENH proposal: use neurodocker to generate and minimize containers for testing"
@oesteban @effigies @chrisfilo @djarecka

i would like to change nipype's container generation and testing using the following approach:

1. generate dockerfiles using neurodocker
2. check if dockerfile hash has changed or force update is set (need to determine this from PR)
3. if force update, regenerate dockerfile
4. build docker image if needed or reload minimized image
5. run all tests via neu

[2017-08-05 16:39] chrisfilo commented on #2144
I wonder if it would make sense to push the final image to a dedicated
docker hub repo.

On Sat, Aug 5, 2017 at 9:29 AM, Satrajit Ghosh <notifications@github.com>
wrote:

[2017-08-05 16:58] satra commented on #2144
@chrisfilo - yes - we should push the minimized image to a docker hub repo with a version tag.

[2017-08-07 17:24] rattar1989 commented on #2050
@YSanchezAraujo
Hi, did you remove `bayes_reg.m` from github?
It was a good example to follow.

[2017-08-07 17:37] YSanchezAraujo commented on #2050
@rattar1989 the repo was restructured so the links changed https://github.com/YSanchezAraujo/genus/blob/master/bayes/notebooks/variational_bayes.ipynb for the notebook and https://github.com/YSanchezAraujo/genus/blob/master/bayes/matlab/bayes_reg.m for the matlab script

[2017-08-07 20:53] mgxd opened #2145 "nipy (spacetimerealign) normalize_mc_params"
### Summary
I've run a subject through both MCFLIRT / SpaceTimeRealign and want to compare the movpars - so I'm using `normalize_mc_params` to normalize both to SPM's format.
### Actual behavior
MCFLIRT is normalized fine, but when trying nipy's movpar

[code]
### Expected behavior
both normalize
### How to replicate the behavior
[sample movpar download](https://pastebin.com/b5A713wM)

[code]
###

[2017-08-08 09:47] anbai106 opened #2146 "datasink with MapNode without creating subfolder does not work"
Hi, nipype experts:

I have a problem when using datasink in MapNode, like this:

    get_identifiers = pe.MapNode(niu.Function(
        input_names=['subject_id', 'caps_directory'], output_names=['base_directory', 'subst_tuple_list'],
        function=get_subid_sesid_t1_to_b0), name='get_subid_sesid_t1_2_b0', iterfield=['subject_id'])
    get_identifiers.inputs.caps_directory = caps_directory

Co

[2017-08-08 11:16] anbai106 commented on #2146
Here is more details:

I think the problem is that under base_dir of datasink, it also creates subfolder **_convert_flirt_to_mrtrix0**  in the datasink container, that is not what I want

[2017-08-08 12:54] anbai106 commented on #2146
Thought the solution, use:

[2017-08-08 23:29] oesteban commented on #2146
@anbai106 could you close the issue if that fixed your problem? Thanks and well done!

[2017-08-09 09:40] #2146 closed

[2017-08-09 12:53] gauvinalexandre commented on #2038
Hi @mgxd ! I just want to tell you I'm experiencing the same issue right now, forcing me to use nipype 0.12.0. I saw that your current PR is subject to discussion due to print function removal. However, is there a way to separate your PR in two in order to fix this issue without wait for a solution for the other? Thanks a lot for the support!

[2017-08-11 17:09] mgxd commented on #2038
@gauvinalexandre if you'd like to use current nipype with py2 support and don't want to wait for the PR to be merged, you could install my branch with
[code]

[2017-08-12 14:18] gauvinalexandre commented on #2038
Hi! Thanks for your reply! Of course, I can do this, I was simply wondering
about a long term solution since my research team would be interested in
your fix, since we still rely on py2 dependent tools. I'm going to follow
the advancement of your work. Thanks!

On 11 August 2017 at 19:09, Mathias Goncalves <notifications@github.com>
wrote:

[2017-08-12 14:21] #2060 closed

[2017-08-15 12:42] anbai106 opened #2152 "MapNode for datasink mixed outputs with two subjects"
Hi, nipype experts:

I have a question about datasink, I use MapNode to parallelize my pipeline, and use datasink to grab all the outputs for each subject like this:

I use substituions to change the name of the images and regexp_substitutions to delete the folders that I do not want to have, and the **get_subid_sesid_t1_to_b0** function is defined by:

And then I connect the nodes, but the result

[2017-08-15 13:07] anbai106 commented on #2152
This is the the report.rst file:

[2017-08-16 09:26] anbai106 commented on #2152
Was this because that we have to give datasink's parameters explicitly? like this:

Because in my case, I create another function to get the parameters like container, substitutions, and connect this function with MapNode datasink

[2017-08-16 11:00] anbai106 commented on #2152
Solved, I will close this

[2017-08-16 11:00] #2152 closed

[2017-08-16 22:36] acamargofb opened #2154 "node function with more than one argument as input"
Dear Nipype users:

I am trying to create a node using a function that takes two arguments, but I don t know how to do it. I found examples with interfaces that have more than one argument but I do not find any with functions.

My code is like this:
# Example of use of the function fmri_correlation:
##P, R = fmri_correlation(path, filename_tfn, filename_rfn)

# Create Node
fmricorr = Node(Function

[2017-08-17 02:03] djarecka commented on #2154
Here you have a simple example with Function Node that takes a function with two arguments:

[code]

[2017-08-17 14:15] acamargofb commented on #2154
Hi Dorota:

Thanks a lot for your reply, it works the test that you send me, but there is a bug on nipype when I run a function that returns a matrix of 116x116. I sent you a sample code with the error message:

from nipype import Node, Function

def fmri_correlation2(dummy):
    import numpy as np
    p_loop = np.random.rand(116, 116)
    print('Dummy func!')
    print(p_loop.shape, type(p_loop))

[2017-08-17 14:19] acamargofb opened #2156 "Problem with Functions in Nodes when returning matrices"
I am trying to create a node that calls a function which returns a matrix of 116x116,  the code only works when the function returns matrices of size less than 116x70

This is the code:

[code]

## Error ###

And this is the traceback messages:

[code]

[2017-08-17 14:57] djarecka commented on #2154
I'm not sure if this is bug in Nipype or something wrong in other libraries. I've seen you created a new issue, so I'll close this one and move discussion there.

[2017-08-17 14:57] #2154 closed

[2017-08-17 15:04] djarecka commented on #2156
I can't see this problem and I tried both Python 3.5 and 2.7. In order to test it I would need information about your system and software you're using (you can send the output of the command suggested in issue template ``python -c "import nipype; print(nipype.get_info()); print(nipype.__version__)"``).

Does the function run outside the nipype and `Node`?

[2017-08-17 15:20] acamargofb commented on #2156
Thank you for the fast reply!

Here is the output of the issue template command:

[code]

About the function, yes it runs both outside and inside nipype, it is a simple random number matrix generated with numpy. The problem comes after: the prints are printed so the function seems to return alright, but then nipype continues to be working without any reason.

It seems to happen only when using num

[2017-08-17 15:54] anbai106 opened #2157 "Register DTI maps onto FreeSurfer conformed space"
Hi, nipype expert:

I have a question about registering DTI maps(102*102*72, 2mm*2mm*2mm) onto FreeSurfer conformed space(256*256*256, 1mm*1mm*1mm), so what i have done was:

1) register t1 on the umsample b0 image use flirt rigid registration, get the deformation matrix
2) apply the registration matrix for MD and AD, RD, FA maps with the inversed deformation matrix from step 1 to the FreeSurfer s

[2017-08-17 16:21] oesteban commented on #2157
I'd say step 2 already includes step 3. I think there must be an additional qform/sform/tkras matrix you are not taking into account. WDYT @effigies ?

[2017-08-17 16:40] effigies commented on #2157
Just to be clear, you want a registration from B0 to FreeSurfer's subject-native volume space? If so, simply using `bbregister` onto the subject ought to work. Save the registration file, and you can apply it (using `tkregister2`, I believe) to anything that's in the same space as the B0.

I might be missing a complication, here, though.

[2017-08-17 20:57] oesteban commented on #2157
The complication is that @anbai106 seems to prefer FSL FLIRT. But, sure, bbregister would be a lot easier

[2017-08-17 21:01] acamargofb commented on #2156
I figure it out the problem, the problem was hardware issue. There was not enough CPU and memory available. I did run in other computer and the code works !!! :)

Best,

Aldo

[2017-08-17 21:03] acamargofb opened #2158 "Node - Function issue"
I am trying to run a function inside a node.  I created the function and the node, and I am getting this error message:

Functions in connection strings have to be standalone.
They cannot be declared either interactively or inside
another function or inline in the connect string. Any
imports should be done inside the function
Interface Function failed to run.

Do you know what is the meaning ?

Th

[2017-08-17 21:57] dpisner453 opened #2159 "At least some Nipype workflows fail with the dev version of networkx installed!"
File "/usr/local/lib/python2.7/site-packages/nipype/pipeline/engine/workflows.py", line 586, in run
    self._set_needed_outputs(flatgraph)
  File "/usr/local/lib/python2.7/site-packages/nipype/pipeline/engine/workflows.py", line 679, in _set_needed_outputs
    for edge in graph.out_edges_iter(node):
AttributeError: 'DiGraph' object has no attribute 'out_edges_iter'

[2017-08-17 22:01] djarecka commented on #2156
That's great! I'm happy that it works! I will close the issue now.

btw. you might want to update nipype version, it's 13.1 now.

[2017-08-17 22:01] #2156 closed

[2017-08-17 22:52] effigies commented on #2157
Hmm. I guess it would be worth seeing the explicit code for the transforms. I'm a little confused why B0 is being up-sampled at all. It could be that I have zero experience with DTI.

I would assume MD, AD, RD and FA are aligned to B0, by definition, but if not, let's use `(FA -> B0)` to refer to that affine transform. If you register `(B0 -> T1)` (without upsampling), the transform for `(FA -> T1

[2017-08-18 14:22] acamargofb commented on #2158
I solve the problem,  I did so many things: 1) I used import like this:

imports = ['from lib.fileIO import load',
           'import numpy as np',
           'from lib.pcorrcoef_loop import pcorrcoef_loop'
]

and also, I deleted the print statement,

Now the code works :)

Aldo

[2017-08-18 14:22] #2158 closed

[2017-08-18 17:02] anbai106 commented on #2157
@oesteban  @effigies, thanks for your recommendation, actually, after I get the transformation matrix from T1 to b0 (b0 and FA are in the same space), When I apply this deformation to register MD, I define a template_image to resample the output  image and by viewing the registered MD and the brainmask.mgz(normalized T1.mgz in freesurfer), it is quite good, but when I segment the MD map with desik

[2017-08-18 17:36] effigies commented on #2157
Apologies in advance for not addressing your direct questions, but I can't tell from what you've written what's going wrong. However, from what you're saying, I can describe how I would approach the problem:

To get ROI statistics, I would down-sample the atlas into the B0 space, using nearest-neighbor interpolation (you may need to use `mri_label2vol` to get a volume that can be resampled). Check

[2017-08-18 20:13] djarecka commented on #2158
Hi Aldo, yes I just want to confirm that all imports have to be done within a function if you want to use it within a `Function` interface.

[2017-08-19 00:01] djarecka opened #2160 "a node type is not checked before collecting precomputed outputs"
### Summary

A check of node type could be added in order to recompute workflow when `MapNode` changes to `Node`, etc.

[2017-08-19 08:01] williford opened #2161 "ENH: Give debugging hints in log files on crashes"
Currently, the error logs say:

    Saving crash info to /path/name.pklz

I propose that the following be added:

    Saving crash info to /path/to/crash.pklz
    Run the following command to view:
        nipypecli crash /path/to/crash.pklz

Discussion welcome. This is something I (or anyone else) could easily create a PR for, so this issue is mainly for discussion.

[2017-08-21 09:51] gladomat opened #2162 "HDF5 issue with matlab: Large .mat files need to be saved with -v 7.3"
### Summary
I'm running a Bayesian analysis using [Per Síden's code](https://github.com/psiden/BFAST3D) using spatial priors and the resulting SPM.mat files are massive for ultra high field data (upwards of 2 GB). I had to change the SPM code to make the saves possible, for example in `spm_contrasts.m` line 313: `save('SPM.mat', 'SPM', '-v7.3')`.

In nipype, however, I get an error:

[code]

### A

[2017-08-21 15:11] kaczmarj commented on #2144
here are neurodocker commands to generate the base and main dockerfiles.

base
-----

[code]

main
----

[code]

[2017-08-21 16:36] anbai106 commented on #2157
@oesteban @effigies Actually, I tried to register b0 to Freesurfer conformed space(brainmask.mgz) with different cost function, with bbregister, the result is not good however, I use the wmaparc.mgz to be the wm_seg volume, also tried wm.seg.mgz, not good, the command to run is:

The registered b0 image is not alligned with the t1 image at all...

Can you give me some suggestion?

[2017-08-21 17:14] mgxd commented on #2162
@gladomat these -v 7.3 files are not implemented in `scipy`'s reader yet - however we should be able to read them in with `h5py`. The spm offenders within nipype seem to be `EstimateModel` and `EstimateContrast`.

we would still want to attempt to open the mat file with `scipy.io.loadmat` first, but if that raises an `NotImplementedError` we can opening with `h5py.File`. Do you want to give this P

[2017-08-22 08:27] gladomat commented on #2162
You mean do I want to add the implementation myself? I can try. It would be an error catcher I suppose. I'll look into it and report how far I've gotten.

[2017-08-22 09:20] anbai106 commented on #1782
Hi, so I had the same issue with FreeSurfer v6.0 on my linux workstation, but not on my Mac, so what is the solution?  What do you mean ReconAll should be deprecated? you mean we should just use **workflows.smri.freesurfer.create_reconall_workflow** instead?

[2017-08-22 11:11] effigies commented on #1782
This should have been resolved in 0.13.1. What version of nipype do you have installed?

[2017-08-22 14:54] mgxd commented on #2162
yes, essentially two try/except blocks (one for importing `h5py`, one for using `h5py.File()`) - if you have any problems I can help out/implement it down the line

[2017-08-22 18:39] oesteban commented on #2157
Other than FreeSurfer's official documentation, I found this: http://community.mrtrix.org/t/registration-of-structural-and-diffusion-weighted-data/203/11

[2017-08-22 20:21] anbai106 commented on #2157
@oesteban , thanks for the link, actually what I did is quite similar like what they propose, I use flirt to register t1 to b0 with flirt and apply this deformation to FA with mrtrix back to the FreeSurfer space, for the registration result, checking by eyes in freeview, the result is quite good, but the cortex statistics give me unreasonable value, I think I need to make some mask to check if the

[2017-08-22 21:03] oesteban commented on #2157
@anbai106, if you happen to find a robust workflow for this you are always welcome to contribute it here to nipype or maybe to https://github.com/poldracklab/niworkflows

[2017-08-22 21:10] oesteban commented on #2157
@anbai106 sorry for the repost. Digging up my records, I found this: http://brainybehavior.com/neuroimaging/2011/04/using-freesurfers-bbregister-for-image-registration/ . I used it some while ago (https://github.com/oesteban/RegSeg/issues/53#issuecomment-16376631). Unfortunatelly, I could not find a workflow using it.

[2017-08-23 08:12] anbai106 commented on #2157
@oesteban @effigies , another naive question, I think the registration for T1 and diffusion maps like FA is ok for me right now, but when I calculate the measures for the ROI from aparc+aseg.mgz, I get each lable's coordination from the label image(aparc+aseg.mgz) and then use the same coordination to get all the voxels in FA maps and calculate the mean of each ROI, do you think this is reasonable

[2017-08-23 09:07] williford opened #2165 "BUG: Cannot use translation_threshold in ArtifactDetect"
### Summary

ArtifactDetect currently doesn't allow `translation_threshold` to be used, because it always thinks `norm_threshold` is set.

### Actual behavior

Error is thrown: "ArtifactDetect requires a value for input 'use_norm' because one of norm_threshold is set. For a list of required inputs, see ArtifactDetect.help()"

### Expected behavior

ArtifactDetect should use `translation_threshold`

[2017-08-23 14:40] anbai106 commented on #2157
@oesteban @effigies I found the problem, actually, I use mrtrix to apply this transform and the coordiantion system is different with the one in aparc+aseg.mgz, that is why I got 0 value.

I do not know if my pipeline is clear or reliable enough, I will talk to my supervisor, I will contribute it in the future.
Thanks for your help

Hao

[2017-08-23 16:28] rmarkello opened #2166 "AFNI interfaces output: default to nifti"
@Shotgunosine and I have been working on updating and adding various AFNI interfaces, and just finished talking about how to deal with one of the main issues that we've found in all of them: AFNI defaults to outputting `BRIK`/`HEAD` files. Because these files have an "orientation tag," (e.g., `out_file+orig.BRIK`) they are incompatible with traditional implicit out_file naming (i.e., using name_so

[2017-08-23 16:32] oesteban commented on #2157
By contributing the pipeline you would get a code review for free, a public timestamp for your work and it can be reused (and cited).

[2017-08-23 16:41] anbai106 commented on #2157
@oesteban of course, no problem, that is the spirit of Nipype, sharing, actually I want to do more fancy thing, not just FA, and if the results look good, I will contribute my pipeline in Nipype community.

[2017-08-24 03:45] satra commented on #2159
@dpisner453 - many thanks for reporting this. i'm assuming networkx had a proper deprecation cycle for this change.

@djarecka - could you please take a stab at this? it would be good to make sure that we are compatible with current and future versions. we don't have to support the future of every library, but to the extent we can it would be good.

[2017-08-24 15:48] gladomat commented on #2162
I'll do it but it may take a little while. Since I'm the only one using it, I guess it can wait.

[2017-08-24 20:20] djarecka commented on #2159
@satra - it looks like they removed all `*_iter`, http://networkx.readthedocs.io/en/latest/release/migration_guide_from_1.x_to_2.0.html.
And `nodes()` etc., is not a list anymore but dict-like object. Will have to change the way how we ask for nodes from a graph, not sure about ordering yet.

[2017-08-25 19:38] kaczmarj commented on #2144
@satra - can you please clarify number 2?

checking whether the base dockerfile changed is straightforward, but the nipype source is copied into the main docker image, so i would be inclined to rebuild the main docker image with each PR. or is this what you meant by "need to determine this from PR"?

[2017-08-25 23:58] satra commented on #2144
@kaczmarj - step 2 is more about base than main. yes main should be rebuilt with every code change.

[2017-08-26 19:20] chrisfilo commented on #2142
The BIDS Derivatives draft now includes column names for motion derivatives: https://docs.google.com/document/d/1Wwc4A6Mow4ZPPszDIWfCUCRNstn7d_zzaWPcfcHmgI4/edit#heading=h.fw9azcmxvcc7

[2017-08-27 18:23] djarecka commented on #2159
@dpisner453 - i've updated nipype, and tests are passing. But if you have any specific example that didn't work for you, i can test it too. You can also try to run with my branch
https://github.com/djarecka/nipype/tree/graphx

[2017-09-02 16:42] sulantha2006 opened #2175 "Multiple interface binaries handling"
### Summary
How to handline multiple binaries installed in the system. Say if I have mulitple versions of ANTS installed in the system (2.1 and 2.2 in /opt/ants-2.1 and /opt/ants-2.2) and nipype just uses the one which is the first in $PATH variable.
### Actual behavior
nipype just uses the one which is the first in $PATH variable.
### Expected behavior
User should be able to specify the binary lo

[2017-09-04 08:30] williford commented on #2112
It would be nice if there were links to the new docs, especially for the high-profile pages, like fsl.preprocess.

One option would be using the jekyll redirects plugin:
https://help.github.com/articles/redirects-on-github-pages/

[2017-09-05 14:51] satra commented on #2175
@sulantha2006 - one can handle this by setting the environment variable with the appropriate path for a given interface/node. you don't have to have it be set by default in the system path although that's how most people run nipype workflows.

[2017-09-10 18:44] salma1601 opened #2178 "typo in trait name of AFNI CatMatvec interface"
### Summary
typo in `afni.Catmatvec`: trait name is `fourxfour` not `fourXfour`
https://github.com/nipy/nipype/blob/master/nipype/interfaces/afni/utils.py#L610

### Actual behavior
[code]
throws
[code]

### Platform details:

Please paste the output of: `python -c "import nipype; print(nipype.get_info()); print(nipype.__version__)"`

{'nibabel_version': '2.1.0', 'sys_executable': '/home/salma/anac

[2017-09-11 10:26] cni-md opened #2181 "Modelgen SpecifyModel TypeError: apply_along_axis()"
@effigies
SpecifyModel rises an error with the new function from
commit cd49748be5d7a8201496548922d85f63bb4034dc

modelgen.py line 399ff

With numpy 1.8.2 I get
TypeError: apply_along_axis() got an unexpected keyword argument 'source'
Interface SpecifyModel failed to run

Joerg

[2017-09-11 11:53] cni-md commented on #2181
https://docs.scipy.org/doc/numpy/reference/generated/numpy.apply_along_axis.html
kwargs : any
    Additional named arguments to func1d.
    New in version 1.9.0.

nipype require  numpy >= 1.6.2

[2017-09-11 18:23] effigies commented on #2181
I see. Thanks for finding this. I'll submit a PR to update the minimum numpy version.

[2017-09-11 18:48] #2178 closed

[2017-09-12 01:42] #2181 closed

[2017-09-12 02:57] Thatfreesky opened #2183 "How to use the nipype.interfaces.slicer.filtering.n4itkbiasfieldcorrection"
### Summary

### Actual behavior

### Expected behavior

### How to replicate the behavior

### Script/Workflow details

Please put URL to code or code here (if not too long).

### Platform details:

Please paste the output of: `python -c "import nipype; print(nipype.get_info()); print(nipype.__version__)"`

### Execution environment

Choose one
- Container [Tag: ???]
- My python environment insid

[2017-09-18 16:29] mick-d opened #2189 "Test failure when installing from latest Nipype master branch"
### Summary
Nipype testing failed almost immediately after fresh install from latest Nipype master branch

### Actual behavior
[code]

### Expected behavior
`TEST: OK`

### How to replicate the behavior
* Clone current Nipype master branch
* Install either with:
    * `cd ~/nipype_cloned_repo`
      `python setup.py install`
OR
    * `cd`
      `pip install ~/nipype_cloned_repo`
* Run `cd; python

[2017-09-18 17:09] djarecka commented on #2189
I can't see `nipype/algorithms/tests/test_auto_ErrorMap.py` in the current master. Are you sure it's not your test?

[2017-09-18 22:52] mwaskom commented on #2161
Maybe just print that hint once at the end of workflow execution when there were failures, instead of for every crashdump that gets saved (there are often cascading failures and so having 2 more lines in lots of places would decrease SNR in terms of figuring out what went wrong.

[2017-09-19 09:17] mick-d commented on #2189
Thanks @djarecka for looking into it. Somehow it seems that merging the new master into an old nipype repo did not delete some of the old test files (such as `test_auto_ErrorMap.py`), which is quite strange. Wiping out this old repository fixed the issue, thanks a lot.

[2017-09-19 09:17] #2189 closed

[2017-09-20 10:05] #2161 closed

[2017-09-20 19:19] oesteban opened #2191 "RF: nipype interface to datalad (eg. DataladGrabber)?"
I'm sure @yarikoptic has already some thoughts about this. I would like to gauge how many people would be interested in a Nipype interfaces that leverages datalad to get any data. I'm particularly thinking of a use case: fetching only one subject from one openfmri dataset.

[2017-09-20 20:54] satra commented on #2191
@oesteban - we do this for all our workshops now. not even one subject at times :)

there are few things we have contemplated with @yarikoptic.

1. automatic data grabbing by inserting datalad module which overwrites open.
2. a more explicit grabber.

and perhaps a combination of both ideas.

[2017-09-21 08:20] piloubazin opened #2192 "ANTS interface: incorrect parameter passing in WarpTimeSeriesImageMultiTransform"
### Summary
when using WarpTimeSeriesImageMultiTransform.inputs.invert_affine = [1], the parameter passed to the corresponding ANTS command is ['-i'], and should instead be '-i' (as in WarpImageMutiTransfrom) in resampling.py

### Actual behavior
The command fails to run or to write with .cmdline
(TypeError: sequence item 0: expected string or Unicode, list found)

### Expected behavior
In [8]: wi

[2017-09-22 13:41] effigies commented on #2159
@satra This is now affecting Travis builds.

[2017-09-22 14:05] djarecka commented on #2159
@effigies just rebased my PR, hopefully it works

[2017-09-22 14:23] djarecka commented on #2159
well, it doesn't... some tests are failing with py2.7, 3.5 and 3.6 (3.4 is perfectly fine), will try to fix it today

[2017-09-22 19:55] oesteban commented on #2159
For some reason 3.4 keeps networkx < 2. That's good news because it means that we are testing backwards compatibility on your PR :)

[2017-09-22 20:05] djarecka commented on #2159
we can just try to remember when we get errors only for python 3.4 ;-)

[2017-09-22 21:54] mwaskom opened #2194 "Master is broken"
It looks like the travis build is failing on master: https://travis-ci.org/nipy/nipype/branches |  https://travis-ci.org/nipy/nipype/builds/274426849

And indeed my tests that depend on nipype master recently started failing too: https://travis-ci.org/mwaskom/lyman/builds/278793733

[2017-09-22 22:01] effigies commented on #2194
#2171 should be addressing this.

On Sep 22, 2017 17:54, "Michael Waskom" <notifications@github.com> wrote:

[2017-09-22 22:32] mwaskom commented on #2194
Got it. Seemed like a recent failure and didn't see a new PR/issue about it but didn't hunt around too deeply.

Feel free to close if you feel this is redundant with #2159 (or keep open if you think master failing deserves a more urgent issue).

[2017-09-23 13:20] mwaskom commented on #2194
Perhaps as a stopgap measure nipype could pin to a compatible version of networkx?

[2017-09-23 13:44] effigies commented on #2194
Proposed #2195. If that tests clean before #2171 issues are resolved, I think that's a good stopgap.

[2017-09-23 21:53] #2159 closed

[2017-09-23 21:53] #2194 closed

[2017-09-24 14:21] #2131 closed

[2017-09-25 03:38] oesteban commented on #2191
We implemented a test battery that grabs random subjects from openfmri, and we are using datalad for this. I guess my proposal was basically option 2). I think we can allocate some time to this, so if someone starts with it let us know :D

[2017-09-26 20:05] djarecka commented on #2192
Hi, thanks for reporting. I'm reading the code and I believe that changing `['-i']` to `-i` in [line 89](https://github.com/nipy/nipype/blob/master/nipype/interfaces/ants/resampling.py#L89) shouldn't help, since [line 91](https://github.com/nipy/nipype/blob/master/nipype/interfaces/ants/resampling.py#L89) would add a space between `-` and `i`.

I might be wrong, never run this interface. Would you

[2017-09-27 15:04] satra commented on #2112
closed by #2188

[2017-09-27 15:04] #2112 closed

[2017-09-28 16:17] marieligit commented on #2038
Dear @mgxd

I'm experiencing the same issue and I am a newbie of python (same situation as previously written by MariaICL). I don't know where to add the `str()` fix exactly, and I'd love getting any help.

In my particular case I'm using `MRTrix2TrackVis` by following this example:
`>>> import nipype.interfaces.mrtrix as mrt >>> tck2trk = mrt.MRTrix2TrackVis()`

[2017-09-28 16:34] marieligit commented on #2038
Dear @mgxd

I'm experiencing the same issue and I am a newbie of python (same situation as previously written by **MariaICL**). I don't know where to add the `str()` fix exactly, and I'd love getting any help.

In my particular case I'm using `MRTrix2TrackVis` from nipype (I guess it uses nipype/nipype/interfaces/mrtrix/convert.py)  by following this example:

[code]

I am getting the following er

[2017-10-02 13:24] #2081 closed

[2017-10-03 18:26] oesteban opened #2206 "AFNI's SkullStrip needs a $DISPLAY again after version 16.2.07"
### Summary
It seems that AFNI's `3dSkullStrip` is again linking libraries that need a functional X server.

### Actual behavior
[code]

### Expected behavior
The interface should run, opening an Xvfb if no X is available.

# Other
  - How to replicate the behavior
  - Script/Workflow details
  - Platform details:
  - Execution environment

All of that on MRIQC's tests: https://circleci.com/gh/pol

[2017-10-04 01:41] adelavega opened #2207 "Raise exception if BIDSDataGrabber is imported using Python 2"
Pybids no longer supports Python 2. Thus, BIDSDataGrabber should only be importable with Python 3, and raise an exception otherwise.

[2017-10-04 01:41] adelavega commented on #2207
I'd assign myself but I can't ;)

[2017-10-04 06:01] oesteban commented on #1400
https://discussions.apple.com/thread/7590534?start=0&tstart=0

This seems a MacOSX-only problem. I guess having XQuartz installed and pointing `$DISPLAY` to the correct port should suffice to avoid the need of Xvfb.

[2017-10-04 11:42] satra commented on #1400
that's definitely a workaround, but not a solution, since the intent of the headless display is still very much needed. given this is an issue with perhaps specific combinations of software, we should offer a proper exception message on `sys.platform==darwin` when starting Xvfb returns with an error.

[2017-10-04 22:14] oesteban commented on #2183
I bet you want [`nipype.interfaces.ants.segmentation.N4BiasFieldCorrection`](http://nipype.readthedocs.io/en/latest/interfaces/generated/interfaces.ants/segmentation.html#n4biasfieldcorrection) - examples on the link. Please feel free to reopen if that didn't help or you have more specific questions.

[2017-10-04 22:14] #2183 closed

[2017-10-04 22:32] oesteban commented on #1104
I think nipype got over the original issue of numpy < 1.8. Feel free to reopen this issue, or a new one for what specific version of numpy we should require.

[2017-10-04 22:32] #1104 closed

[2017-10-04 22:35] oesteban commented on #1153
@TheChymera is this still an issue? I think with the addition of the ResourceMultiProc (actually, MultiProc) back in early 2016 this should be easy to implement. Did you try?

[2017-10-04 22:48] oesteban commented on #1486
Files are copied right before execution of the interface:

https://github.com/nipy/nipype/blob/bb0013f9b0a7bad701bcf9224798c8f81e09edc7/nipype/pipeline/engine/nodes.py#L614-L615

Regarding the info of a node after execution, these can be useful:

  - `_0x<hash>.json` : lists inputs / outputs
  - `_report/report.rst`: includes lots of information

[2017-10-04 22:48] #1486 closed

[2017-10-04 22:51] oesteban commented on #1737
I think this is quite tested now, and we are about to move on to neurodocker. But feel free to reopen if I'm wrong.

[2017-10-04 22:51] #1737 closed

[2017-10-04 22:51] #1994 closed

[2017-10-04 22:52] #2003 closed

[2017-10-04 22:52] oesteban commented on #2003
See #2200

[2017-10-04 22:59] oesteban commented on #2207
I'd also include here setting the appropriate skips on tests:
  - [ ] Because Python 2
  - [ ] Because pybids was not installed in editable mode (very likely in user settings).

[2017-10-05 01:26] adelavega commented on #2207
Cool. Looks like Python 2 support might continue enough to the point that perhaps raise an Exception is a bit heavy, but it probably makes sense to skip on tests either way unless pybids CI adds back official python 2 support.

[2017-10-05 13:37] #1403 closed

[2017-10-05 13:37] #2055 closed

[2017-10-05 13:37] #2206 closed

[2017-10-05 15:01] effigies commented on #2207
Is this actually a problem? Does BIDSDataGrabber depend on behavior since pybids dropped Python 2 support?

If not, can we set the Python 2 docker image to use the last Py2-compatible release tag?

So this:

https://github.com/nipy/nipype/blob/master/Dockerfile#L90-L91

Becomes

[code]

And you can set TAG to `0.3.0` for Py2, or `master` for current behavior.

[2017-10-05 20:49] salma1601 opened #2213 "[Bug] Type error in afni's CenterMass"
[code]
throws an error because single line file `cm.txt` is not loaded in an array of length one
[code]

[2017-10-06 02:47] ostanley opened #2216 "AFNI Allineate not generating prefix argument"
### Summary
When in a pipeline allineate does not generate filenames. This is using a version after the allineate fix.

### Actual behaviour
The allineate call now fails with a runtime error.

### Expected behaviour
Allineate to generate an output file name

### How to replicate the behaviour
Run a script with an input 1D file and an input file to motion correct

### Script/Workflow details
    mo

[2017-10-06 02:51] effigies commented on #2216
Can you share the text of the error?

[2017-10-06 02:54] ostanley commented on #2216
Yes sorry, I don't know how I missed that. Here you go:

	 Saving crash info to /cfmm/data/ostanle2/code/nipype_phase_regression/pipelines/crash-20171005-225337-ostanle2-_moco2-26ac07fa-84d4-4694-8aeb-54d2973a3fad.pklz
Traceback (most recent call last):
  File "/cfmm/home/ostanle2/.virtualenvs/nipype2/lib/python2.7/site-packages/nipype-1.0.0.dev0+g4d08138-py2.7.egg/nipype/pipeline/plugins/multipro

[2017-10-06 13:18] #1407 closed

[2017-10-06 13:18] #1406 closed

[2017-10-06 18:59] oesteban opened #2218 "Nipype 2.0 idea: interface assertions"
### Summary
Assertions are a good programming in general. What if nipype included a language for interface-level assertions that are checked when the interface finished running?

### Actual behavior
Right now, interfaces include only one low-level assertion: do output files of this interface exist in the prescribed path?

### Expected behavior
An easy means to tell nipype things like:
- "is the ou

[2017-10-06 20:52] satra commented on #2218
@oesteban - as we improve the image handling traits classes, things like these can go into bothe input and output sides. added it to a 2.0 milestone.

[2017-10-06 20:53] #2213 closed

[2017-10-06 20:53] #2165 closed

[2017-10-09 20:51] salma1601 opened #2221 "AFNI Qwarp output paths are incorrect"
### Summary
output paths are not correct: current directory is always used as parent directory and `+tlrc` is appended even to nifti outputs

### How to replicate the behavior
[code]
prints a wrong path
[code]

[2017-10-09 23:26] oesteban commented on #2221
Please note that the input spec for `out_file` defines both `name_source` and `genfile`. That needs be fixed. Attached comment on your PR. Thanks for spotting this.

[2017-10-10 09:10] salma1601 commented on #2221
I am not sure I understand correctly but I removed the `genfile` from here https://github.com/nipy/nipype/blob/master/nipype/interfaces/afni/preprocess.py#L2883 and still have the same issue

[2017-10-10 15:25] effigies opened #2223 "Proposal: affine_source (or header_source) in output File traits"
Several packages handle NIfTI headers with insufficient reverence, ending up with affines that don't really match the expected result of an operation. For example, AFNI converts NIfTI to BRIK+HEAD, performs its operation, and makes a somewhat wild stab at the correct qform/sform codes based on an environment variable, so operations that don't move the data might still change the affine. ANTs' depe

[2017-10-10 15:40] oesteban commented on #2223
+1

I was talking of the same solution here with Ross last week, and then confirmed with what I understood from @satra in his reply to #2218

[2017-10-10 15:50] oesteban commented on #2221
Hi @salma1601, `name_source` and `genfile` are two metadata you can use on input `File` traits to automatically generate names of outpute.

  - `genfile` is a legacy method. You set it `True` in the `File` metadata (meaning `name = File(genfile=True)`) and then, your interface must define a `_gen_filename()` method (the name may not be exact, I don't recall on top of my head).

  - `name_source` i

[2017-10-10 15:52] oesteban commented on #2221
Hi again, sorry, I can't see where you are trying removing `genfile`. Could you point me to this?

[2017-10-10 16:17] salma1601 commented on #2221
I just removed the line `genfile=True`
[code]
but this doesn't solve the issue.

[2017-10-10 16:38] salma1601 commented on #2221
[code]
what is wrong is that
1) it is appending `+tlrc` to the filename
2) it is using the current directory as a parent directory instead of the directory given in the command (\tmp)
so all the paths in the outputs do not exist

[2017-10-10 20:26] djarecka commented on #2192
@chrisfilo : having problem with repeating the error, but wanted to ask if you really wanted to have `series += '-i'` (not `series += ['-i']`) in `WarpImageMultiTransform`, see [198](https://github.com/nipy/nipype/blob/master/nipype/interfaces/ants/resampling.py#L198)

[2017-10-10 20:51] chrisfilo commented on #2192
I'm not 100% sure, but `series += ['-i']` does seem to make more sense.

[2017-10-11 17:07] mgxd commented on #2175
@sulantha2006 feel free to reopen if needed

[2017-10-11 17:07] #2175 closed

[2017-10-11 17:11] mgxd commented on #2157
@anbai106 feel free to open again if needed, and feel free to open a PR if you want to share the pipeline

[2017-10-11 17:11] #2157 closed

[2017-10-11 17:18] mgxd commented on #2073
@jokedurnez thanks for this - will you be submitting a PR?

[2017-10-11 18:08] jokedurnez commented on #2073
Pff, I made a mess of my local clone and changes :-\
It will take me some time, but I'll try !

[2017-10-13 20:37] djarecka commented on #2192
I was wrong. I missed the comma at the end, so python treats it as adding a list, I unified it in #2229.

The reason why I didn't get any error earlier was that I provided wrong (i.e. out of range) index in `invert_affine` (see [test_WarpImageMultiTransform_invaffine_wrong](https://github.com/nipy/nipype/pull/2229/files#diff-38bf3bab86a173e2df23c603904727adR55) and [test_WarpTimeSeriesImageMultiTr

[2017-10-17 08:46] TimVanMourik opened #2234 "Release of current version"
@chrisfilo @satra
Hi Developers! Might it be an idea to release a new version of Nipype? The current version at the time of writing is nipype 0.13.1, from May 2017. Specifically, many examples that we made for [Porcupine](https://timvanmourik.github.io/Porcupine) leverage the master version of the S3DataGrabber, in order to automatically pull [openneuro](https://openneuro.org) buckets from Amazon.

[2017-10-17 15:52] chrisfilo commented on #2234
Sounds good to me but @satra is more on top of things.

[2017-10-17 16:33] satra commented on #2234
i'm thinking a 0.14 release rather than 1.0 - i would like to see traitlets in 1.0.

a few pending things:

- [ ] fix prov issue with nipype
- [ ] review recent PRs and make sure they are included in the release.

but we could do a pre-release like an rc1 and then people should be able to install with `pip install --pre nipype` - note that this will install pre releases of all dependencies as well

[2017-10-17 17:15] effigies commented on #2234
:+1: on 0.14

As a policy, could we set a 2 month feature release cycle, such that if traitlets isn't ready by December, we do 0.15 then?

[2017-10-17 17:45] oesteban commented on #2234
@satra, could you link to the specific issues you have in your list for those pending things before 0.14?

[2017-10-18 16:45] oesteban opened #2235 "UnicodeDecodeError: 'utf-8' codec can't decode in run_command"
Running FMRIPREP using singularity.

[code]

[2017-10-18 16:59] oesteban commented on #2235
default_encoding:
[code]
(and from sys)
[code]

[2017-10-18 17:36] oesteban commented on #2235
We could use `chardet` as a fallback for these decodings:

[code]

[2017-10-18 22:55] satra commented on #2235
@oesteban - do you know where these characters came from?

[2017-10-19 00:02] oesteban commented on #2235
Running FreeSurfer's autorecon, but no idea why that character should be there. Does not make much sense. However, a corrupted output is better than no output at all right?

[2017-10-19 00:08] satra commented on #2235
yes - decode has an option to take characters that it didn't read and replace them with some properly encoded character.

@yarikoptic - we did this for datalad, do you have a quick pointer?

[2017-10-19 01:42] oesteban commented on #2235
that'd be sweet

[2017-10-19 14:33] mgxd commented on #2108
@jcgriffis did conda install fix your error? If you are still having problems, feel free to reopen this

[2017-10-19 14:35] mgxd commented on #2072
feel free to open this again if you have a simple example

[2017-10-19 14:35] #2072 closed

[2017-10-19 14:35] mgxd commented on #2052
@anbai106 feel free to open if you are still running into problems

[2017-10-19 14:35] #2052 closed

[2017-10-19 14:36] #2044 closed

[2017-10-19 14:43] mgxd commented on #1970
@rattar1989 are you still running into this error?

[2017-10-19 14:46] mgxd commented on #1922
@ankita940 are you still running into issues? If so, feel free to reopen this

[2017-10-19 14:46] #1922 closed

[2017-10-19 15:12] mgxd commented on #2045
@TheChymera closing this - feel free to reopen if necessary

[2017-10-19 15:12] #2045 closed

[2017-10-19 15:13] mgxd commented on #1996
@ashgillman is this still an issue?

[2017-10-19 15:18] mgxd commented on #1788
since we've decided to skip them, I'm closing the issue, but leaving the `watchlist` label should this reappear down the line

[2017-10-19 15:18] #1788 closed

[2017-10-19 15:48] rattar1989 commented on #1970
@mgxd yes, I always have had this error.
But I have used the Nipype and have had no problem in my code.

[2017-10-19 16:53] mgxd commented on #1916
@satra here's a more extensive list of tests that write to the filesystem

[code]
is it crucial to have testing pass in readonly?

[2017-10-19 17:15] oesteban commented on #1916
Now that we use py.test, we should leverage the `tmpdir` fixture:

https://github.com/nipy/nipype/blob/66411f4edbc03a43a56e49ee791652cc7d824572/nipype/interfaces/tests/test_base.py#L671-L674

[2017-10-19 17:32] satra commented on #1916
@mgxd - i think tmpdir's should always be writeable in these read only containers. we should test that out. so i agree with @oesteban that if it hasn't been used properly, we should fix those cases.

[2017-10-19 17:43] oesteban commented on #1916
One important note is using the path object correctly. Instead of:

https://github.com/nipy/nipype/blob/66411f4edbc03a43a56e49ee791652cc7d824572/nipype/interfaces/tests/test_base.py#L415

We should have:

[code]

Or if we were to write on that file right away:

[code]

[2017-10-20 01:28] ashgillman commented on #1996
@mgxd
I believe it may be, but I cannot find the example code (I must have gotten busy that weekend I referred to in my last message).

I propose closing this issue, as I have not sun into this since

[2017-10-20 12:48] satra opened #2240 "allow latest version of PROV"
in #2137 prov was fixed to 1.5.0 to enable nipype to run.

we need to fix to allow the latest version of prov to be used.

[2017-10-20 15:42] oesteban opened #2241 "NoSuchProcess in short-lived nodes (resouce monitoring)"
[code]

[2017-10-20 16:02] #2235 closed

[2017-10-20 16:09] athanell opened #2242 "AttributeError while running a workflow tutorial"
### Summary
While running the Workflow tutorial (https://miykael.github.io/nipype_tutorial/notebooks/introduction_quickstart.html)
I get into an AttributeError while executing the eg = wf.run()

### Script/Workflow details

[code]

### Error output

[code]

### Platform details:

[code]

Any ideas on what is causing this error?
Thank you

[2017-10-20 16:15] effigies commented on #2242
You may need to update your `networkx` package. What version do you have? We may need to update the minimum version.

[2017-10-20 16:17] oesteban commented on #2242
@djarecka probably knows the exact answer :)

[2017-10-20 16:35] athanell commented on #2242
Hello @effigies ,
The version I use is 2.0

[2017-10-20 16:42] effigies commented on #2242
Ah, okay. I got the issue backwards. With 2.0, the old `_iter` interfaces were dropped. I'd recommend installing from master.

[code]

[2017-10-20 17:19] athanell commented on #2242
Hi again @effigies ,
I installed with pip from master, and the command
`eg = wf.run()`
does not fail but the following does
`eg.nodes()[0].result.outputs`

and the error in the last one is

[code]

[2017-10-20 17:30] effigies commented on #2242
Hmm. Looks like perhaps `eg.nodes()` has a `dict`-like interface, instead of a `list`-like. Maybe try `list(eg.nodes())` and see what that looks like.

[2017-10-20 21:27] yarikoptic opened #2245 "Please make error message more informative"
### Summary
hard to figure out what went wrong/what I forgot to specify

### Actual behavior
[code]

### Expected behavior
Something like
[code]
?

### Platform details:

Please paste the output of: `python -c "import nipype; print(nipype.get_info()); print(nipype.__version__)"`

[code]

[2017-10-20 21:41] oesteban commented on #2245
I'd say this is actually a bug, not just an obscure error message.

[2017-10-21 12:04] athanell commented on #2242
Yes @effigies ,
your suggestion resolved the error.
Thank you for the assistance

[2017-10-21 21:47] #2241 closed

[2017-10-21 21:56] #2221 closed

[2017-10-21 21:56] #2126 closed

[2017-10-23 06:46] athanell opened #2246 "Testing the install: "UNEXPECTED EXCEPTION: ImportError("No module named 'bids'",)""
### Summary
While testing the installation with `python -c "import nipype; nipype.test()" ` I got the following error
[code]
Is this something that will hinder the usage of nipype and should be fixed? If yes how should I go about it?

Thank you

### Platform details:

[code]

[2017-10-23 12:06] satra commented on #2246
@athanell - good catch there.  yes, this should be fixed.

the doctest should not assume bids is installed. so proper bids check should be in the `tests` folder. these tests should be run when `have_bids` is True. the doctest should be changed so that it doesn't actually run that line using the doctest skip option.

this also means that during the travis test, bids is being installed as a dependen

[2017-10-23 13:27] athanell commented on #2246
Thank you @satra

[2017-10-23 13:37] athanell opened #2247 "OSError while running the Workflow tutorial"
### Summary
While executing the command  `wf.write_graph(graph2use='exec')` from the tutorial [https://miykael.github.io/nipype_tutorial/notebooks/introduction_quickstart.html](url)
I get into an OSError
Any ideas on what causes it and how could it be fixed?
Thank you

### Error output

[code]

### Platform details:

[code]

[2017-10-23 14:33] satra commented on #2247
@athanell - you will need to install graphviz into the VM.

[2017-10-23 14:34] satra commented on #2247
sounds like you are not using the docker container recommended in the tutorial. in such a scenario, you will need to make sure all the software in the docker container are available in your vm.

[2017-10-23 14:41] athanell commented on #2247
Oh I see, thanks again for the assistance @satra

[2017-10-23 14:41] #2247 closed

[2017-10-23 15:37] oesteban commented on #2126
Hi @bkraft4257, this is now on nipype/master, please reopen if it doesn't work as intended.

[2017-10-23 15:49] oesteban commented on #2235
This error was indeed fixed. We have some corrupted FreeSurfer runs. They would send this to the standard error:

[code]

(thanks to this patch I could get this written to the logs)

[2017-10-23 15:50] satra commented on #2235
@oesteban - awesome - i think this will also help with a weird unicode error that pops up from matlab whenever spm crashes.

[2017-10-23 17:37] oesteban commented on #2246
I pointed this problem out here: https://github.com/nipy/nipype/issues/2207#issuecomment-334313563

[2017-10-24 02:26] djarecka commented on #2245
@oesteban - I copied default value for `metric_weight` from other class, but should `radius` also have a default? https://github.com/nipy/nipype/blob/master/nipype/interfaces/ants/registration.py#L53

[2017-10-24 12:02] djarecka commented on #2064
@jokedurnez : sorry for late answer. Do you still have problem with a Dockerfile?

[2017-10-24 12:06] djarecka commented on #2038
@mgxd - was it solved in your merged  PR (#2093)

[2017-10-24 12:08] #1139 closed

[2017-10-24 12:11] djarecka commented on #638
@satra ping

[2017-10-24 12:15] djarecka commented on #752
@chrisfilo is this still an issue? If yes, can you please write a bit more

[2017-10-24 13:45] satra commented on #638
@djarecka - yup that fixes this issue. fixed by #646

[2017-10-24 13:45] #638 closed

[2017-10-24 14:13] djarecka commented on #549
@satra , @yarikoptic I believe matplotlib has changed a lot since 2013 or 2014 and backend problems appeared in several other nipype issues since that time. I'd close the issue, unless you confirm that you're still experiencing the problem.

[2017-10-24 14:16] #549 closed

[2017-10-24 14:19] djarecka commented on #12
is anyone working on it? I'm not sure if the last @satra commit was related to the original issue.

[2017-10-24 14:21] djarecka commented on #12
will close it for now, please reopen if needed.

[2017-10-24 14:21] #12 closed

[2017-10-24 14:22] mgxd commented on #2038
it was reverted - #2150 is the PR that needs review for this.

[2017-10-24 14:29] mwaskom opened #2250 "New terminal/log output is grammatically incorrect"
### Summary

I just pulled github master and see that there's some new, more informative, node-level terminal output. However, it doesn't fully account for the subtleties of English:

### Actual behavior

e.g. `Running node "crop_image" (a "ApplyMask" interface)`

### Expected behavior

e.g. `Running node "crop_image" (an "ApplyMask" interface)`

[2017-10-24 15:24] satra commented on #2250
perhaps we can be more programmatic and say:

` Running node "crop_image" (interface nipype.interfaces.fsl.ApplyMask)`

this way we take out redundant interface names as well.

[2017-10-24 15:25] satra commented on #2250
or simply:

`Running node "crop_image" (nipype.interfaces.fsl.ApplyMask)`

[2017-10-24 15:31] mwaskom commented on #2250
I think that would be fine.

[2017-10-24 16:32] jokedurnez commented on #2064
I got the container elsewhere, thanks.  But I'm not sure if this problem won't reappear for others.

[2017-10-24 16:36] chrisfilo commented on #752
It's been nearly 4 years. I unfortunately do not remember any details of this. Lesson learned.

[2017-10-24 16:36] #752 closed

[2017-10-24 16:43] djarecka commented on #2064
@satra - i read quickly your discussion with the singularity team, and I understand that this is between Docker and Singularity. can i close it for now, or you want to keep it open?

[2017-10-24 16:45] satra commented on #2064
we can close this. this has been addressed in neurodocker and the current neurodocker PR #2202 should fix this for nipype as well.

[2017-10-24 16:45] #2064 closed

[2017-10-24 17:43] djarecka commented on #1916
I can try to fix the tests if no one already done it, but I'm not sure if I understand your points,  `os.path.join(str(tmpdir), 'settings.json')` is not doing exactly the same as `os.path.join(tmpdir.strpath, 'settings.json')`?

`os.path.join(tmpdir.strpath, 'settings.json') `  returns `LocalPath`, not `Str`, but does it really change the problem?

[2017-10-24 17:55] mgxd commented on #1916
@djarecka I was going to add this into #2248 - but that may just handle a reworking of the bids interface so if you wanna tackle this that'd be good

[2017-10-24 18:18] oesteban commented on #1916
@djarecka:
It is very likely that `os.path.join(str(tmpdir), 'settings.json')` is completelly equivalent to `os.path.join(tmpdir.strpath, 'settings.json')`, but it is better to avoid any explicit call to `__str__` and use the API of the fixture instead. That would prevent python 2/3 headaches (iff the fixture is fully compatible with both).

As refers to `LocalPath`, at least in Python 3:

[code]

[2017-10-24 19:30] djarecka commented on #1916
@oesteban ok, sure I can change `str()` to `strpath`. I'm just missing the part how this possibly might help with readonly problem.

[2017-10-24 19:49] oesteban commented on #1916
It doesn't. But since we will revise and use more often the `tmpdir` fixture, I thought it would be a good opportunity for some housekeeping

[2017-10-24 20:31] djarecka commented on #1916
ok. I can change it. I'm still lost regarding the plan on changing doctests and fixing the issue, will just observe your conversation.

[2017-10-24 21:05] #2250 closed

[2017-10-24 22:58] oesteban commented on #1916
This issue should be fairly easy to solve by making those failing test use the `tmpdir` fixture (which they don't currently use)

[2017-10-25 05:20] djarecka commented on #1916
but we're talking about doctest mostly, so you're thinking about creating "normal" tests from doctests or add  pytest fixtures to doctests? Never done the latter, but it looks like it should be possible: https://docs.pytest.org/en/latest/doctest.html#the-doctest-namespace-fixture
will try

[2017-10-25 14:49] jAchtzehn opened #2253 "Runtime Error in nipype.interfaces.freesurfer.utils.MRIsExpand when testing"
### Summary
I tried to set up all nipype required dependencies, and run.

import nipype
nipype.test()

### Actual behavior
[code]

### Expected behavior
No errors

### How to replicate the behavior
MacOS 10.13, freesurfer i386-apple-darwin11.4.2-stable6-20170119, nipype 0.13.1 via conda install
### Platform details:

I can't run print(nipype.get_info()), gives me the following error
[code]

[2017-10-25 14:59] effigies commented on #2253
This specific test has been removed already, but for unrelated reasons. This looks like a FreeSurfer issue to me. Can you run the following?

     mris_expand -T 60 /Applications/freesurfer/subjects/fsaverage/surf/lh.smoothwm 1 ./lh.expandtmp

If not, I would recommend [reporting the issue](https://mail.nmr.mgh.harvard.edu/mailman/listinfo/freesurfer) to FreeSurfer.

[2017-10-25 15:01] jAchtzehn commented on #2253
Thanks for the quick reply. I can run the line you specified, the output is:
``
setting dt = 60.00
expanding surface /Applications/freesurfer/subjects/fsaverage/surf/lh.smoothwm by 1.0 mm and writing it to ./lh.expandtmp
nrounds = 6

writing expanded surface to ./lh.expandtmp...
MRISwrite(./lh.expandtmp): can't create file

Permission denied
surface expansion took 0 minutes and 2 seconds.
``

[2017-10-25 15:03] jAchtzehn commented on #2253
I get the same error and will report the error to FreeSurfer, thanks!

[2017-10-25 15:15] jAchtzehn commented on #2253
@daeh got the same error in July [link](https://github.com/miykael/nipype_tutorial/issues/13) and apparently it was a fault anaconda installation. Could there be any other reason I get this error?

[2017-10-25 15:18] effigies commented on #2253
Hmm. The error you sent (deleted message) is not the same one here. The permission error means you couldn't write to the directory you were in, but it did run successfully.

[2017-10-25 15:19] effigies commented on #2253
So it's unclear (to me) what would be causing a dynamic linking error when run by nipype. But checking back on that anaconda issue seems promising.

[2017-10-25 15:20] jAchtzehn commented on #2253
My message was deleted because I didn't run the command as root (with sudo). When I run the command with sudo the error is:

[code]

[2017-10-25 15:23] effigies commented on #2253
Ah. I would generally advise against running applications as root if they don't need it, and nothing in or run by nipype should need it.

[2017-10-26 16:44] #2253 closed

[2017-10-26 17:36] djarecka commented on #2242
this will come back... will look into it.

[2017-10-27 07:59] williford opened #2257 "Issue with node name that starts with another node's name"
I think the [line ~801 in util.py](https://github.com/nipy/nipype/edit/master/nipype/pipeline/engine/utils.py#L801) should be something like this:

            for node in graph_in.nodes():
                for src_id, edge_data in list(old_edge_dict.items()):
                    if node.itername.startswith(src_id + '.'):  # <-- add '.' to src_id
                        expansions[src_id].append(no

[2017-10-27 09:08] cclairec opened #2258 "testing the install: base.py:1600: RuntimeError and others"
### Summary
Hi nipype comunity!

I need your help! :)
I followed the instructions on the developer webpage, meaning I did:
[code]

So now I am testing the install (`sudo make tests`), and I have the following message at the end:
[code]
The code I use is from the 25th of october: https://github.com/cclairec/NipypeVisages.git
### Platform details:
I am using Fedora.

Please paste the output of: `pyt

[2017-10-27 10:13] cclairec commented on #2108
Hi !

I am having the same issue, under mac OSX 10.10.5.
I did `sudo python setup.py install`
 and got, those last lines:

I don't have conda, I use pip to install python packages. And I use python2.7

Any suggestions ?

Many thanks for your time and help.

Claire.

[2017-10-27 11:57] satra commented on #2108
@cclairec - the issue is likely with an older version of setuptools. i would suggest updating pip first and then doing `pip install nipype` or installing the current master using pip.

i would also recommend learning about and creating virtual environments so that you do not have to use sudo.

finally, conda is something that can be installed by users themselves (without sudo) on all platforms.  y

[2017-10-27 11:58] satra commented on #2258
ah this is being fixed right now #2248

[2017-10-27 12:20] satra commented on #2257
@williford - could you give us a brief example of workflow where this fails? the intent of having the period (`.`) was to prevent partial matches and workflows cannot have two nodes with the same name.

[2017-10-27 13:04] williford commented on #2257
@satra The ` + '.'` is what I'm suggesting to add, it currently isn't in the code. I'm saying that it should be added to prevent partial matches. Sorry for the confusion, I removed the second block of code in my first post.

The current version of code fails when "input" feeds into "input_files" and "input_files" is a JoinNode. Adding the period should fix that. I wasn't sure about posting a PR be

[2017-10-27 14:11] athanell opened #2259 "where to find the dataset ds000114 required for the docker image tutorial"
### Summary
In the tutorial [ https://miykael.github.io/nipype_tutorial/notebooks/introduction_docker.html](url) the location of a specific data set is required.
Where can someone find the dataset ds000114 that is required by the tutorial?
It might be an idea to include the link for this dataset in the tutorial

Thank you

[2017-10-27 14:18] djarecka commented on #2259
@athanell thank you for your suggestions. This information is now in the [BIDS & Tutorial Dataset](https://miykael.github.io/nipype_tutorial/notebooks/introduction_dataset.html)

[2017-10-27 14:22] djarecka commented on #2259
You might also report the tutorial related issue in the [Michael repository](https://github.com/miykael/nipype_tutorial/issues)

[2017-10-27 14:30] athanell commented on #2259
Thank you @djarecka

[2017-10-27 14:30] #2259 closed

[2017-10-27 18:04] mgxd commented on #2132
this was addressed in #2134

[2017-10-28 13:13] djarecka commented on #2242
I just reviewed my PR, and I also had to change `eg.nodes` to list in a few places, e.g. [here](https://github.com/nipy/nipype/blob/master/nipype/pipeline/plugins/tests/test_linear.py#L44),
since `eg` is jus a `networkx.classes.digraph.DiGraph` object and the `node` method has changed.

However, this is syntax that is used by many users and they would have to introduce this small change everywhere

[2017-10-28 15:04] satra commented on #2257
thanks @williford - would you be able to give us a dummy example where this breaks? even editing this workflow as necessary would be sufficient:

https://miykael.github.io/nipype_tutorial/notebooks/introduction_quickstart.html

i'm recollecting that @mgxd and i went over a PR to address this not too long back, so i just want to make sure we have a test addressing this scenario first before making

[2017-10-28 17:52] #2246 closed

[2017-10-28 17:52] satra commented on #2258
this should not happen with current master. please reopen if necessary.

[2017-10-28 17:52] #2258 closed

[2017-10-28 17:55] #2192 closed

[2017-10-29 18:04] dpisner453 opened #2262 "FSL FAST interface does not accept absolute paths with nipype in python3"
### Summary
FSL FAST interface does not accept absolute paths with nipype in python3

### Actual behavior
Need to os.chdir into the base directory to run, and cannot provide the full path to the T1 image explicitly, otherwise I get this mess:

[code]
### Expected behavior
Flexibility to include input file as absolute path or the basename of the file, when in the working directory.

### How to repl

[2017-10-29 19:50] cclairec commented on #2258
Hi,

I have updated the master, but I still have some troubles with the tests. I only have 4 failures now, that's the good news.

Here they are:

Any idea why I have those errors?

Many thanks for your help and time.

[2017-10-29 21:20] satra opened #2263 "xvfb tests fail on Mac OS"
### Summary
nipype tests should skip Xvfb related tests on Mac OS if not available

### Actual behavior
[code]

i've tried the following configurations:

1. XQuartz is running.
2. `DISPLAY` variable is unset

### Expected behavior

on platforms where we expect issues, we should ensure that tests are either skipped or users are informed as to what to do.

### How to replicate the behavior

Run test

[2017-10-30 15:18] mgxd commented on #2262
@dpisner453 can you provide the code you used that generated that traceback?

I just tried
[code]
on python 3.6.2 and things seem fine

[2017-10-30 18:44] oesteban commented on #2263
Could you confirm that at least this one is passing?:

https://github.com/nipy/nipype/blob/master/nipype/utils/tests/test_config.py#L182-L195

[2017-10-30 18:50] satra commented on #2263
yes, that one passes.

[2017-10-30 18:58] oesteban opened #2265 "UnicodeDecodeError: 'utf-8' codec can't decode - stream output"
### Summary
When `terminal_output` is `'stream'` we get a decoding error similar to #2235 (which affected the `'file_*` terminal output).

### Actual behavior
See https://github.com/nipy/nipype/pull/2185#issuecomment-340126207

### Expected behavior
String is decoded guessing the problematic characters.

### How to replicate the behavior
A regression test faking terminal output with weird characte

[2017-10-31 02:29] AnjaliPullabhotla opened #2266 "Getting Interface BET failed to run Error"
Mac OS

import os
from nipype.interfaces import fsl
btr = fsl.BET()
btr.inputs.in_file = 'trainer/input.nii'
btr.inputs.frac = 0.7
btr.inputs.out_file = 'trainer/output.nii'
res = btr.run()

Fails with the below error:
IOError: command 'bet' could not be found on host MacBook-Pro.local
Interface BET failed to run

Any help appreciated

[2017-10-31 02:32] AnjaliPullabhotla commented on #874
IOError: bet could not be found on host desktophost.fritz.box
Interface BET failed to run.

Hi - I'm getting the same error
Were you able to resolve it?

[2017-10-31 03:34] dpisner453 commented on #2262
Interesting, here's a minimal example:

[code]
---------------------------------------------------------------------------
TraitError                                Traceback (most recent call last)
~/.local/lib/python3.6/site-packages/nipype/interfaces/base.py in aggregate_outputs(self, runtime, needed_outputs)
   1130                 try:
-> 1131                     setattr(outputs, key, val)

[2017-10-31 04:59] oesteban commented on #2266
Can you run `bet` in your shell prompt without nipype at all?

[2017-10-31 06:02] dPys opened #2267 "probtrackx2 interface has incorrect trait for rseed arg"
The --rseed flag should be string or integer, but not boolean. Probably FSL's fault for not making the usage clear in the help options...

Happy Halloween!

[2017-10-31 15:48] cclairec commented on #2258
Hi again!

I still have the issues above, that I don't know how to deal with. But I also have some strange warnings. For exemple:
[code]

When I check in the code, it is when testing `fsl.no_fsl()`, which is determined by `os.environ['FSLDIR']`.
But when I try in python to do:
[code]
Which means that I shouldn't have the warning mentioned above. What am I missing there?

Thanks  for your help !
cc

[2017-10-31 16:48] AnjaliPullabhotla commented on #2266
No.  bet is not working on shell prompt either.  It returns command not found.

[2017-10-31 17:05] mgxd commented on #2267
@dpisner453 thanks, would you like to give this fix a shot in a PR?

[2017-10-31 17:08] mgxd commented on #2262
can you verify this works with your image using the command line?

[2017-10-31 17:40] AnjaliPullabhotla commented on #2266
Also I'm using virtualenv.  Not sure if that is causing issues

[2017-10-31 18:23] dpisner453 commented on #2262
Yes, it does. And in fact, if I run the nipype wrapper from within the working directory of the T1 image, I get no error. Again, only an issue when I specify an absolute path...

[2017-10-31 18:24] dpisner453 commented on #2267
Sure thing, I can probably take a look this weekend :)

[2017-10-31 18:36] oesteban commented on #874
duplicate of #2266.

@AnjaliPullabhotla please see https://github.com/nipy/nipype/issues/2266#issuecomment-340851449

[2017-10-31 19:12] #2038 closed

[2017-10-31 19:12] mgxd commented on #2061
closing - feel free to reopen

[2017-10-31 19:12] #2061 closed

[2017-10-31 19:33] TheChymera opened #2269 "no crashashdumps - but instead nondescript AttributeErrors all over the place on latest HEAD"
My main preprocessing workflow ([rather comprehensive, difficult to reduce to a minimum example](https://github.com/IBT-FMI/SAMRI/blob/8932ed9aad55d5b2b6cb23a0b9361e58fa6b9693/samri/pipelines/preprocessing.py#L36)) worked just fine with the latest HEAD as of `CET 19:10:11 21.08.2017`. The current HEAD, however ( 557aad3 ) leads to some strange behaviour:

* Crashdump files, or only even the [crash

[2017-10-31 19:57] gdevenyi commented on #2108
This is with an up-to-date Ubuntu 16.04 on my end.

[2017-10-31 20:15] Doeme commented on #2269
When we took the naïve approach of looking at every commit whose diff contains ignore_exception, 10d0f39e9728236ee35069d732d13b8243dd5a2c stood out the most in the relevant timespan.

[2017-10-31 20:32] oesteban commented on #2266
Please reopen if it did not work :+1:

[2017-10-31 20:32] #2266 closed

[2017-10-31 20:37] gdevenyi commented on #2108
This now triggers a "pip is out of date report". I guess this is an ubuntu problem.

[2017-10-31 20:41] oesteban commented on #2108
Yes, that should go away with `pip install pip --upgrade`

[2017-10-31 20:44] oesteban commented on #2269
Could you give it a try with the Linear plugin? I'll double check how we recover from errors in MultiProc.

[2017-10-31 22:34] mgxd commented on #2262
Is this being run locally or inside a VM/container? Have you tried moving the data to a different partition (`/home`, etc) and replicating? Are you using current master version of `nipype`? Have you tried providing an option for `out_basename`?

i'm unsure why your file's prefix
[code]
is being replace with
[code]

[2017-10-31 22:39] TheChymera commented on #2269
I will, one last thing before I move on to detailng that route of debugging, I have tried to re-start the workflow over and over again, and the amount of nodes seem to have hit a ceiling at 369 (not that the value means anything, but there is a ceiling and increments don't seem to be asymptotical):

198 → 227 → 266 → 279 → 354 → 368 → 369

Now I only get this reproducible output:

[code]

Interest

[2017-10-31 22:59] oesteban commented on #2269
Probably related: https://neurostars.org/t/fmriprep-error-during-lta-concat-and-freesurfer-brainmask-problem/942?u=oesteban

[2017-10-31 23:06] TheChymera commented on #2269
@oesteban are you sure? That seems to be a `TypeError` thrown by the freesurfer interface. This is an `AttributeError` thrown by the nodes engine.

[2017-10-31 23:09] mvdoc opened #2270 "Nipype fails with new networkx (>=2.0) because of API changes"
### Summary

Nipype installed from scratch with miniconda from conda-forge fails because networkx changed API and Graphs are missing `in_edges_iter`. See [NetworkX 2.0 announcement](https://networkx.github.io/documentation/stable/release/release_2.0.html). Works fine by downgrading networkx.

### Actual behavior
[code]

### How to replicate the behavior

[code]
### Platform details:
[code]

[2017-10-31 23:23] oesteban commented on #2269
Both cases the outputs object is `None`, isn't it?.

[2017-11-01 00:41] oesteban commented on #2270
That should be fixed as of #2196, however that happened after the latest release. Updating to current master should do.

[2017-11-01 00:42] oesteban commented on #2262
@mgxd I guess he is running on `/home1/04171/dpisner/`, as `base_dir` for the interface.

[2017-11-01 00:55] oesteban commented on #2269
Question: are you reusing a working directory?

[2017-11-01 01:05] AnjaliPullabhotla commented on #2266
It worked after installing FSL. Thank you so much!

[2017-11-01 01:32] mvdoc commented on #2270
👍  sorry, didn't see that PR/issues.

[2017-11-01 01:32] #2270 closed

[2017-11-01 02:01] TheChymera commented on #2269
Generally I am not reusing a working directory. For the above debugging effort, where I re-ran the workflow until I got a reproducible error, I did.

Also, executing the workflow with the Linear plugin has managed to finish at least one of the infosource iterations. I assume the rest will also be succesful. So most probably this is in fact an issue with the multiprocessing.

[2017-11-01 03:05] oesteban commented on #2269
Could you run nipype with all logging set to `DEBUG`? I will need some more information to investigate this.

[2017-11-01 07:01] dpisner453 commented on #2262
Thanks guys for being so responsive. This looks like a version-specific bug that only occurs with nipype 0.12.1, but not with 0.13.1!

Oscar-- in case you were still curious what happens if I change dirs and run fast with nipype 0.12.1 (e.g.  using `/scratch/04171/dpisner/HNU1`) as my base_dir, I get a similar error:

[code]

Unless you guys care about debugging older nipype versions, this issue c

[2017-11-01 11:32] TheChymera commented on #2269
@oesteban should I run this with the linear or multiproc plugin?

[2017-11-01 13:34] mgxd commented on #2262
@dpisner453 no problem! for the future, it does help to fill out the issue template as fully as possible, since platform details would have helped out here

[2017-11-01 13:34] #2262 closed

[2017-11-01 13:39] #2207 closed

[2017-11-01 14:11] gdevenyi commented on #2108
Upgrading pip does not solve this.

[2017-11-01 14:12] satra commented on #2108
@gdevenyi - did you update setuptools as well? could you please provide us a report of your python environment packages?

[2017-11-01 16:08] oesteban commented on #2269
MultiProc, let's see if we can get to the bottom

[2017-11-01 17:47] effigies commented on #2269
The issue seems to be here:

https://github.com/nipy/nipype/blob/557aad3370f820e3765454ea6774f95826ed8fc1/nipype/interfaces/base.py#L1087-L1089

If `_run_interface()` has an exception, the `outputs` variable is not set.

[2017-11-01 17:52] oesteban commented on #2269
Yes, that could be the origin. But here the error happens because the inputs pkl file was found (interface potentially cached) and there is no outputs object in there (`self._local_hash_check(jobid, graph)`).

We may be caching errored interfaces?

[2017-11-01 17:54] satra commented on #2269
@TheChymera, @oesteban - we should definitely add a simple test for this before we fix it.

[2017-11-01 17:56] oesteban commented on #2269
Totally agreed.

My suspicion is that the original working directory had some stale cache files. Besides enabling the `DEBUG` logging, could you also run on a clean (new, do not rewrite old results that allow you to replicate) directory @TheChymera ?

[2017-11-01 19:01] gdevenyi commented on #2108
I've moved to a miniconda environment to solve this. I'm building an automated VM container in cloud environment so its hard to poke around.

To reproduce,
Ubuntu 16.04, fully up-to-date, pip install nipype

16.04 is a long term release so I would hope this could be worked around so that LTS users can install it.

[2017-11-02 05:44] ashgillman commented on #2108
Also an issue in Python 3 on Ubuntu.

[code]

[2017-11-02 09:06] TheChymera commented on #2269
SO I cleaned up everything, and ran the processing on a reduced dataset, with the same HEAD as before, and using the following parameters for the workflow execution:

(In addition to not rerunning the workflow in order to get a more complete result, I am also not enabling all of the `ignoe_exception` attributes which were not necessary for my workflow to execute with the late-August HEAD; also I a

[2017-11-02 12:07] TheChymera commented on #2269
@satra @oesteban @effigies In the next week I will be rushing to meet the ISMRM submission deadline, so I do not expect I can be of much help before the 0.14.0 release date.

I went ahead and put together [**a “minimal” working/not working example**](chymera.eu/debug/nipype/workflow.tar.gz). To run it you will need to [install SAMRI](https://github.com/IBT-FMI/SAMRI#python-package-manager-develope

[2017-11-02 14:58] mgxd commented on #2108
thanks @gdevenyi @ashgillman , I was able to replicate as well. This will be fixed for our upcoming release - til then I would recommend using the conda installation.

[2017-11-02 15:01] satra commented on #2108
@ashgillman, @gdevenyi - i tested it via docker (`docker run -it --rm ubuntu:16.04`).

[code]
pip install nipype
[code]
pip install --upgrade setuptools
root@afeaec958e1f:~# pip install --upgrade setuptools
Collecting setuptools
  Downloading setuptools-36.6.0-py2.py3-none-any.whl (481kB)
    100% |################################| 481kB 1.4MB/s
Installing collected packages: setuptools
  Found ex

[2017-11-02 15:54] oesteban commented on #2108
@satra, we should then add `'setuptools>=XX.x.x'` here

https://github.com/nipy/nipype/blob/557aad3370f820e3765454ea6774f95826ed8fc1/setup.py#L122

That should make sure setuptools is upgraded before running the installation.

[2017-11-02 17:18] #1996 closed

[2017-11-02 17:20] #1855 closed

[2017-11-02 17:50] #1658 closed

[2017-11-02 17:52] #1560 closed

[2017-11-02 17:56] #1414 closed

[2017-11-02 17:58] mgxd commented on #1377
closing this - feel free to reopen

[2017-11-02 17:58] #1377 closed

[2017-11-02 18:01] mgxd commented on #1355
closing this - feel free to reopen

[2017-11-02 18:01] #1355 closed

[2017-11-02 18:01] #1340 closed

[2017-11-02 18:03] oesteban commented on #1658
BTW, we've been sloppy about this again lately.

[2017-11-02 18:03] mgxd commented on #1210
closing due to #2030

[2017-11-02 18:03] #1210 closed

[2017-11-02 18:06] mgxd commented on #1658
@oesteban I agree - let's keep this in mind going forward

[2017-11-02 18:10] #1072 closed

[2017-11-02 18:11] #872 closed

[2017-11-02 19:10] djarecka commented on #366
@satra , @oesteban do we still want to do anything about it?

[2017-11-02 19:12] djarecka commented on #988
closing for now, please reopen if needed

[2017-11-02 19:12] #988 closed

[2017-11-03 02:04] ashgillman commented on #2108
@satra Fixes for me :)

And I believe a better solution than having to use conda.

Hopefully @oesteban solution fixes permanently

[2017-11-03 18:33] oesteban commented on #2269
Hi @TheChymera, could you confirm that this is not happening with `Linear`?. I'm afraid that if @effigies is right, then all plugins should show this issue.

Could you run it with logging on DEBUG?

Of course we can wait until after the ISMRM deadline next week.

[2017-11-03 20:24] TheChymera commented on #2269
The above output is with all logging set to debug (as seen in the minimal example). I can confirm that it all works with `Linear`.

[2017-11-05 03:33] djarecka commented on #2242
tutorial has been updated: https://github.com/miykael/nipype_tutorial/pull/27

[2017-11-05 03:33] #2242 closed

[2017-11-06 05:08] jessexknight commented on #2108
@satra fixes for me too! Thanks

(Ubuntu 16.04, non-conda python - perhaps remove "windows"?)

[2017-11-07 15:55] carolege commented on #2159
I also have this error with my script...
 File "/usr/local/lib/python2.7/site-packages/nipype/pipeline/engine/workflows.py", line 188, in connect
    for edge in self._graph.in_edges_iter(destnode):
AttributeError: 'DiGraph' object has no attribute 'in_edges_iter'

Could anybody help me to fix it?

[2017-11-07 16:07] djarecka commented on #2159
@carolege : are you using the current master?

[2017-11-07 16:23] carolege commented on #2159
I don't really know... I upgrade nipype using pip install...

[2017-11-07 16:34] djarecka commented on #2159
@carolege , so you're probably using 0.13, you can always the version with this command: `python -c "import nipype;print(nipype.__version__)"`

So this problem is related to the new version of `networkx` (you're probably using `2.0`) and we updated the code some weeks ago. You can either wait for a new release (should be this week) or try to install our master.

[2017-11-07 16:39] mgxd commented on #2159
@carolege you can install our current master through pip with the following command
[code]

[2017-11-07 19:23] SebastianSpeer commented on #2159
Hi, I am experiencing the same problem and installing the master did not help. Are there other suggestions?

[2017-11-07 19:31] mgxd commented on #2159
@SebastianSpeer yes, the fixed version is not yet available on conda - we will hopefully be releasing a new version this coming week

[2017-11-07 19:41] djarecka commented on #2159
@SebastianSpeer just to add to @mgxd answer, you will have the same problem when you install the last released version with `pip`. You can either wait for new version or install master as @mgxd
 suggested in an earlier answer

[2017-11-07 22:52] mgxd commented on #701
looks like this is all set

[2017-11-07 22:52] #701 closed

[2017-11-07 22:59] mgxd commented on #158
should be a little better now with #2211 and #2225

[2017-11-07 22:59] #158 closed

[2017-11-08 07:18] carolege commented on #2159
Thank you, it seems to fix this problem but I have now and other error message:

_Traceback (most recent call last):
  File "/usr/local/lib/python2.7/site-packages/nipype/pipeline/plugins/multiproc.py", line 51, in run_node
    result['result'] = node.run(updatehash=updatehash)
  File "/usr/local/lib/python2.7/site-packages/nipype/pipeline/engine/nodes.py", line 407, in run
    self._run_interface

[2017-11-08 07:42] carolege commented on #2159
Finally, I successfully fix it. Thanks again!!

[2017-11-08 20:35] pjmark commented on #1970
I have the same error: InterpolationSyntaxError: '%' must be followed by '%' or '(', found: u'%h'

[2017-11-08 20:55] mgxd commented on #1970
@pjmark how did you install your configuration? Can you try installing the master branch with pip?

[2017-11-09 13:46] pjmark commented on #1970
oh, yes, with pip it did indeed work.  thanks!

[2017-11-10 18:24] oesteban opened #2273 "ANTS, AFNI always check version before execution"
### Summary
Interfaces checking versions in a custom `Info` or `Base` class need to run the version request command line every time a derived interface is run.

### Expected behavior
Version is only checked once, the first time one of these interfaces is run. It is cached after that.

### Script/Workflow details
Any workflow. This is becoming a problem in fmriprep though.

[2017-11-12 04:05] tsalo commented on #4
@chrisfilo It looks like all of these have tests now. Can this be closed?

[2017-11-12 04:26] chrisfilo commented on #4
Sure!

[2017-11-12 04:26] #4 closed

[2017-11-12 16:21] #2273 closed

[2017-11-12 17:16] ThosV opened #2277 "Preprocessing pipelines errors: networx update."
### Summary
I'm trying to use the pre-made SPM pipeline. I can import `from nipype.workflows.fmri.spm import create_spm_preproc` however when I try to make an instance of that class, I receive the following error:
'AttributeError: 'DiGraph' object has no attribute 'in_edges_iter''

I read through old issues and, following the advice given [here](https://github.com/nipy/nipype/issues/2270) and made

[2017-11-13 00:43] mwaskom commented on #1402
Apparently the Jupyter perspective is that other packages using traitlets should be discouraged: https://twitter.com/minrk/status/927580767361912833

[2017-11-13 12:14] satra commented on #1402
@mwaskom - that's interesting and weird given how much the jupyter widgets depend on that library. i'll have to chat with @minrk about it's future. we have expended a fair bit of effort to transition over to traitlets. @djarecka has gone through one round of conversion, learned the lessons, and starting again, so this would be a good time to figure this out.

[2017-11-13 16:57] effigies commented on #2277
This issue is fixed in master. The next release (0.14.0) will have the fix. In the meantime, you can `pip install https://github.com/nipy/nipype/archive/master.zip`.

[2017-11-13 16:57] #2277 closed

[2017-11-14 09:23] minrk commented on #1402
My tweet may have been a bit strong. I wouldn't necessarily *discourage* anyone from using traitlets, but for a new project I also wouldn't advocate it, as there are coming newer tools that offer more modern approaches without the burden of traitlets' history. If you are using it and it doesn't cause problems for you, there's nothing wrong with sticking with it. What I would *strongly* discourage,

[2017-11-14 14:05] satra commented on #1402
@mirk - fair enough point. when you say:

what sort of packages are you referring to.

we considered using protobuf, but we would still have to build a lot of functionality on top of it. in our case, we are moving from traits, which is deeply embedded all through our package and still has   issues that have not been resolved in years. but it works - we have hacked around it - our primary reason to

[2017-11-15 02:55] #2108 closed

[2017-11-15 17:21] SebastianSpeer opened #2281 "fsl.FILMGLS throws strange error:-r: Option doesn't exist!"
I've just tried to use fsl.FILMGLS() for the first time and tried a lot of different inputs and I always get the same error:

This is the simplest version of the code:

[code]

Does somebody know what the issue may be?

[2017-11-15 18:02] djarecka commented on #2281
@SebastianSpeer when I'm trying to run something similar my command starts from `film_gls --rn` and not from `film_gls -rn`.

Can you please share with us the platform details (output from `python -c "import nipype; print(nipype.get_info()); print(nipype.__version__)"`) and the execution environment.

[2017-11-15 18:22] SebastianSpeer commented on #2281
@djarecka I'm running nipype version 0.13.1.
When trying to run the nipype.get_info()
I get the following error:

[2017-11-15 19:33] #2144 closed

[2017-11-15 20:43] djarecka opened #2283 "creating a repo for `testing/data` (?)"
### Summary

When I see an issue I usually try to run the interface that is failing, but I often don't have my own data and I'm sometimes not even sure how the input should look like. It would be very helpful for me if I could actually just use the files from `testing/data` to run the examples from docstrings instead of trying to find a reasonable input on my laptop or on the internet.
Does anyone

[2017-11-15 20:54] effigies commented on #2269
Is there no way to reproduce this in a one-or-two node workflow?

[2017-11-15 23:03] oesteban commented on #2269
DEBUG must be off, the corresponding traces are missing.

[2017-11-16 13:14] SebastianSpeer commented on #2281
So it means it is a compatibility issue?

[2017-11-16 13:34] djarecka commented on #2281
the problem with `get_info` should be fixed in #2282.

I'm just checking the `FSL` problem and IMO it can be related that the version `FSL` is not properly recognized. Do you know what is your version of `FSL`?

Can you also see what `nipype` is thinking about your version, e.g.:

[code]

[2017-11-16 13:37] djarecka commented on #2281
also, I see you have Linux platform. Any chances you're running within a Docker container?

[2017-11-16 13:37] SebastianSpeer commented on #2281
[code]
`u'5.0.9'`

[2017-11-16 13:41] SebastianSpeer commented on #2281
No, I am running on a virtual machine.

[2017-11-16 14:22] djarecka commented on #2281
It looks like indeed `Info.version` works ok, but I still have a feeling that you might not go inside this `if block` (https://github.com/nipy/nipype/blob/master/nipype/interfaces/fsl/model.py#L694)

Maybe you can check one more thing:

[code]

btw. Is it a way to get your VM?

[2017-11-16 15:03] SebastianSpeer commented on #2281
This is the output:

[code]
[code]

I don't understand your last question. Can you elaborate?

[2017-11-16 16:27] alaurent4 opened #2286 "SPMCommand & python 3 issue ?"
Hello,

I am trying to launch SPM with MCR via nipype and python 3.6.
Using the usual lines for testing the integration, spm.SPMCommand().version seems blocked in an infinite loop or something. When I kill the command, I get the following:

[code]

It seems related to the subprocess within python3.6, I tried to dig a little without any success.
It used to work with my Python 2.7 and Nipype0.12.0.

[2017-11-16 16:58] mgxd commented on #2286
@alaurent4 I had to wait a few minutes, but was able to output the version:

[code]
with current master in Python 3.6.3.

How did you wait for the command to output?

[2017-11-16 18:05] djarecka commented on #2281
@SebastianSpeer  the reason why I'm asking for VM is that I'm not sure how can I reproduce your error. I can try to set Docker container if you tell me details of your environment, but it could be easier if you share with me the snapshot/image of your VM.

How do you run your VM? Do you use publicly available image that I can download and use.

[2017-11-16 18:08] djarecka commented on #2281
@SebastianSpeer there is also one more thing that you can try, just try to install our newest version from master branch `pip install -U https://github.com/nipy/nipype/archive/master.zip`.

I'm not saying that this will help (don't see any recent changes that could affect the interface), but it's worth trying IMO.

[2017-11-16 18:17] SebastianSpeer commented on #2281
I have tried it with the newest version from the master branch, but it also resulted in the same error.
I am happy to share the VM but I am relatively new to working with VMs so I am not sure how to share it. IF you tell me how, I can try.
The VM runs on SurfSara which is a HPC in the netherlands.

Otherwise what other details would you need?

[2017-11-16 19:01] alaurent4 commented on #2286
I killed the command after about 5mins thinking It was not working.
With my old version it was pretty instant so it misled me.

I will try again but if I may, is it normal that it takes so long ?

Thank you for your reply !

[2017-11-16 19:35] djarecka commented on #2281
Let's test one more thing:

[code]

Regarding VM, I also don't use VM too often, but we can try to figure out together how to create a snapshot. We should probably know which software are you using to run your VM, is it `Virual Box`?
Also if you have access to some local admins they can probably tell you how to create snapshot.

[2017-11-17 05:36] #1970 closed

[2017-11-17 11:12] SebastianSpeer commented on #2281
@djarecka  This is the output of the code:

[code]

[code]

Regarding the VM I have contacted the local admin and will let you know as soon as I know more.

If this fails, what information do you need to create the docker?

[2017-11-17 14:27] SebastianSpeer commented on #2281
@djarecka  The software that is used to run the VM is: Opennebula 5.2.1.

According to the helpdesk of SurfSara one way to share the VM is if you would generate an ssh key-pair - https://doc.hpccloud.surfsara.nl/SSHkey and send me the public key. I would then add his public key to the ~/.ssh/authorized_keys in the VM.

Would that work?

[2017-11-17 15:13] djarecka commented on #2281
@SebastianSpeer
Re your error:
This is what I expected that for some reason nipype is using older version of `input_spec`: `nipype.interfaces.fsl.model.FILMGLSInputSpec`, but I really don't know how this can happen since nipype verifies your `FSL` version correctly...

Thanks for checking with your admin, let me read about it and will come back to you. I already tried a few different setting to ch

[2017-11-17 15:22] SebastianSpeer commented on #2281
Here the output of  ` python -c "import platform; print platform.dist()"
`

`('debian', 'jessie/sid', '')`

This is the output of printenv:
[code]

[2017-11-17 15:25] djarecka commented on #2281
@SebastianSpeer - I know I'm asking you to check many things, but I was just discussing with @mgxd our conversation and we stared wondering if you're sure that you're running `0.13.1.` version of nipype. I believe that you installed it, but it could be some conflict.

At the beginning I asked you to run `python -c "import nipype; print(nipype.get_info()); print(nipype.__version__)"` but you got an

[2017-11-17 15:29] SebastianSpeer commented on #2281
No worries, I am very happy about your help, so I'll check as many things as needed.

Currently I am running the version from the master file:

`python -c "import nipype; print(nipype.__version__)"`
`1.0.0-dev`

[2017-11-17 19:00] satra commented on #2281
@SebastianSpeer  - this is quite weird, while you setup @djarecka public key could you please execute this:

[code]

[2017-11-17 20:07] dpisner453 opened #2291 "All outputs from workflow are empty?"
### Summary
Urgent: I am needing to get the field values from my outputnode, but when I try to get the outputs from wf.outputs, everything returns empty or None. I noticed in the development notes, that this was supposed to be fixed for the more recent nipype version, but has that not been released yet? If not, what am I missing in my workflow to be able to retrieve the values of the variables est

[2017-11-17 20:10] effigies commented on #2291
The workflow will be (mostly) in its pre-run state. You'll need to look at the results.

[2017-11-17 20:35] satra commented on #2291
@dpisner453 -  take a look at this tutorial: https://miykael.github.io/nipype_tutorial/notebooks/introduction_quickstart.html

workflows when run returns an execution graph (`eg` in the above example) that you can then query for outputs. we don't have an api around this yet.

[2017-11-17 21:23] dpisner453 commented on #2291
Aha, that makes more sense. Thanks @satra and @effigies !

[2017-11-17 21:23] #2291 closed

[2017-11-20 08:47] SebastianSpeer commented on #2281
@satra the output to:

`from nipype.pkg_info import VERSION
from nipype.interfaces.fsl import FILMGLS, Info
import sys
print(sys.version)
film_gls = FILMGLS()
print(film_gls.version)
print(Info.version())
print(film_gls.input_spec)
print(VERSION)`

is:

`2.7.12 |Anaconda 4.2.0 (64-bit)| (default, Jul  2 2016, 17:42:40)
[GCC 4.4.7 20120313 (Red Hat 4.4.7-1)]
5.0.9
5.0.9
<class 'nipype.interfaces.fs

[2017-11-20 13:50] djarecka commented on #2281
@SebastianSpeer unfortunately your answers to @satra questions looks again pretty weird to me...

 if you have copy of your vm that you can share, that might be the best option, so more people can look into it on local machines. I can give you my public key, but my understanding is that you would give me a full root access to your VM, is that  works for you? Of course, I can promise to not do anyt

[2017-11-20 13:52] SebastianSpeer commented on #2281
Is it best to share it via email ? I would send you the IP to the VM and the password to log in.

[2017-11-20 19:36] djarecka commented on #2281
@SebastianSpeer thank you for sharing your VM. I tested your environment and I noticed that you probably always run `import nipype_init; nipype_init.init()` in jupyter notebook before running any fsl examples. The script doesn't work correctly, and the line `res = subprocess.call('/etc/fsl/5.0/fsl.sh',shell=True)` doesn't setup the shell correctly. In fact, if you run it using python interpreter (

[2017-11-20 19:37] djarecka commented on #2281
Also you should avoid adding path like this `sys.path.append('/home/sebastian/anaconda2/lib/python2.7/site-packages')`. Python should find all packages that you installed.

[2017-11-20 20:49] #1916 closed

[2017-11-21 18:20] SebastianSpeer commented on #2281
@djarecka Thanks for your help. I changed the permissions of the fsl folders so that   subprocess.call('/etc/fsl/5.0/fsl.sh',shell=True) does not result in an error anymore.
I still receive an error from the fsl.FILMGLS().

It would have also been strange that all other functions dependent on fsl run fine if the FSL environment was set incorrectly. So I assume the problem must be something else?

[2017-11-21 18:43] djarecka commented on #2281
@SebastianSpeer  : just try `source /etc/fsl/5.0/fsl.sh` before opening jupyter notebook or running your script and it will work

[2017-11-21 18:45] djarecka commented on #2281
the easies way to see a difference would be to go to python interpreter and run:
[code]
if you don't source the fsl script nipype will not correctly set the inpu_spec (it's confused about the version)

[2017-11-22 16:11] oesteban opened #2300 "[BUG] MultiProc crashes are not correctly handled"
### Summary
Since the latest refactor, MultiProc calls `self._report_crash` with a `traceback` argument and such function is not defined:

[code]

I'll propose a fix today.

[2017-11-22 22:20] #2234 closed

[2017-11-23 13:22] SebastianSpeer commented on #2281
I finally got it to work now! Thank you so much for your help!

[2017-11-23 13:23] #2281 closed

[2017-11-26 18:24] djarecka opened #2305 "ANTS.registration requires reviews"
### Summary
some of the inputs are not marked as mandatory
not all inputs have any descriptions

one interface was fixed in #2261

### Actual behavior

### Expected behavior

### How to replicate the behavior

### Script/Workflow details

Please put URL to code or code here (if not too long).

### Platform details:

Please paste the output of: `python -c "import nipype; print(nipype.get_info()); p

[2017-11-26 18:39] djarecka commented on #590
@satra - I believe you made the changes to `provenance` in 2013. If you  want to keep the issue open and implement additional options please reopen and add some commends.

[2017-11-26 18:39] #590 closed

[2017-11-26 20:25] djarecka opened #2306 "pep8 violations Nov2017"
I'm closing an old issue #597 and providing a new list of files that returns errors and warnings with `flake8`.

Below is the output of
[code]
for py3. note that I removed auto tests that should be changed in `checkspecs.py`:

[code]

Everyone is welcome to update the files from the list so we're closer to the pep8 standard.

Please leave a comment here if you believe that some error shouldn't/can

[2017-11-26 20:28] djarecka commented on #597
I'm closing this issue, but just opened #2306 with the updated list of files. Please leave comments there, especially if you have any suggestion regarding specific errors.

[2017-11-26 20:28] #597 closed

[2017-11-26 20:39] djarecka commented on #632
@poldrack, @satra - is this still an issue?

[2017-11-26 20:45] djarecka commented on #529
#2305 covers it

[2017-11-26 20:45] #529 closed

[2017-11-26 21:05] djarecka commented on #86
@chrisfilo - do you have any new comments on  this issue?

[2017-11-26 21:06] chrisfilo commented on #86
Nope.

[2017-11-27 00:17] justbennet commented on #2267
Does it matter whether it is string or integer?

[2017-11-27 00:29] justbennet opened #2307 "Documentation refers to missing data repository?"
### Summary

Missing example data for FSL interface

### Actual behavior

Data is missing

### Expected behavior

Data is present

### How to replicate the behavior

I am trying to work through the script in the Nipype examples, fsl_fmri.py, from here

    http://nipype.readthedocs.io/en/latest/users/examples/fmri_fsl.html

and I think also from /usr/share/doc/python-nipype-doc/examples/fmri_fsl.p

[2017-11-27 05:20] djarecka commented on #1082
Hi @nicofarr , I just found this issue but I'm not able to access the gist link. I know it's been a while, but if you're still having the problem, please provide me an example that I can test.

[2017-11-27 05:56] djarecka commented on #1106
@oesteban - are you still planning to change `MRTrix` to `MRTrix3` and remove the warning?

[2017-11-27 06:14] djarecka commented on #1018
is there still any interest in it?

[2017-11-27 15:41] oesteban commented on #1106
Sure, let's put it in 0.14.1

[2017-11-27 15:47] mgxd commented on #2307
Ah yes, there have been some changes to our documentation / tutorials throughout the years and this has fallen through the cracks.

If you would like to help maintain the documentation, adding the download link for the old nipype tutorial data set to the [headers](https://github.com/nipy/nipype/blob/master/examples/fmri_fsl.py#L9) in the relevant [examples](https://github.com/nipy/nipype/tree/mast

[2017-11-27 16:02] mgxd commented on #2234
@TimVanMourik you should be able to download the pre-release with `pip install nipype --pre`, the full release will be coming as soon as a few missing pieces are merged

[2017-11-27 16:23] justbennet commented on #2307
Is it OK to add a bit of extra verbiage for the beginners?  Something like:

[code]

I am using the URL above instead of the reference to FigShare because the download speed is better than twice as fast, and it is usable by a wider variety of GUI and command line download tools.

[2017-11-27 17:54] mgxd commented on #2123
@sgiavasis did rerunning the workflow fix this? There have been some changes to terminal_output recently  (#2209), which may have helped this problem, but we'll monitor this going forward

[2017-11-27 17:56] mgxd commented on #2305
related to #2245

[2017-11-27 18:51] djarecka commented on #2305
@mgxd #2245 is fixed in #2261

[2017-11-27 19:02] djarecka commented on #1120
@salma1601 is this is still an issue with current nipype? Please share your code if you still experience the problem. I've just run one workflow with `realign` and `jobtype="write"` and it worked ok.

[2017-11-27 19:04] oesteban commented on #2123
@mgxd thanks a lot for bringing this up: this could have some relation to the memory issues we are seeing.

@sgiavasis do you happen to keep a copy of these crashfiles? It'd be great if you gave us a hand debugging this, it may turn out to be really important. Trying the latest version of nipype may have some impact, however the changes Mathias mentioned should not have affected the `'stream'` out

[2017-11-27 19:12] mgxd commented on #2305
@oesteban yes - let's get your remaining PRs in and release 0.14.0

[2017-11-27 19:19] djarecka commented on #2305
@oesteban I'm ok with this. I was thinking that an `ants` user might be interested in reviewing the interfaces and improving the descriptions, but if noone interested I can try to compare with `ants` documentation

[2017-11-27 19:33] oesteban commented on #2305
@djarecka sure, this is completely justified and necessary maintenance :+1:

[2017-11-28 01:54] djarecka commented on #2305
@oesteban , @satra - have started reading `ANTS` commands help and I'm wondering what is the general strategy for inputs description. Do you prefer to include entire description from help or write a short info (e.g. "metric image type")  and assume that people will learn what is 'CC', 'MI', 'SMI', 'PR', 'SSD', 'MSQ' or 'PSE' from `ANTS` help or other documentation?

[2017-11-28 10:33] SebastianSpeer commented on #2026
ICA AROMA is removed on 0.13.1. Why is this the case?
Can it still be implemented within nipype?

[2017-11-28 13:21] blakedewey commented on #1018
Still interest for me!

[2017-11-28 14:05] effigies commented on #2026
There was a minor API change. You can now import `ICA_AROMA` with:

[code]

[2017-11-28 14:13] SebastianSpeer commented on #2026
If I import ICA_AROMA as you suggest then I get the following error when defining it as a node:

[code]

[code]

[2017-11-28 14:16] effigies commented on #2026
If that's still the case in 0.13.1, you can do:

[code]

However, be aware that at the next release, this will stop working, due to the aforementioned API change. The alternative is to upgrade to 0.14.0rc1: `pip install --upgrade --pre nipype`

[2017-11-28 15:50] SebastianSpeer commented on #2026
Ok, now I am able to define the node, but when I am running it I get another error:

[code]

[code]

[2017-11-28 15:53] effigies commented on #2026
You'll need to install ICA_AROMA. It is not bundled with nipype.

[2017-11-28 15:55] SebastianSpeer commented on #2026
okay, thanks!

It does not work with pip install. Is there another way?

[2017-11-28 15:59] effigies commented on #2026
Yeah, looks like they don't make it easy. You'll need to create a directory to store it and add it to your path, e.g.:

[code]

And then in your `.bashrc` (or some other file that gets sourced when your shell starts), add:

[code]

[2017-11-28 16:11] SebastianSpeer commented on #2026
Thanks!

[2017-11-28 16:24] mwaskom commented on #2306
Going forward should probably update to `pycodestyle` (which replaced the `pep8` script) or even better, `flake8` to get linting too.

[2017-11-28 16:31] djarecka commented on #1114
Do we consider this as a bug?

[2017-11-28 16:39] djarecka commented on #1164
@satra - can you please point me to this converter? is this still an issue?

[2017-11-28 17:33] SebastianSpeer opened #2309 "how to have datasink save several iterables into different folders?"
### Summary
I have build a preprocessing pipeline which preprocesses data from several runs and several subjects.
The pipeline works well but I am running into a problem with the output using datasink. For each run it outputs a folder where the run and the subject are concatenated.
The runs are named: fMRI-3-1, fMRI-3-2 etc.
I would like to get rid of the 'sub015' part of the 'sub015fMRI-3-1'.
I h

[2017-11-28 18:35] PeerHerholz opened #2310 "possible bug label2label interface in Linux"
### Summary

Addressing a possible bug in nipype's label2label interface after asking about an [error on neurostars.org](https://neurostars.org/t/possible-bug-nipype-freesurfer-label2label/991).
I stumbled upon this while working on a workflow which transforms some ROIs (.label) from mni to native space.

### problem "output file"

I defined my label2label node like this:
[code]

### Actual behavi

[2017-11-28 19:04] mgxd commented on #2309
@SebastianSpeer

[code]

DataSink supports both text `substitutions` and `regexp_substitutions`, so you could also use some python regex as well.

[2017-11-28 19:15] #2245 closed

[2017-11-28 19:30] effigies commented on #2306
:+1: to flake8. Not worth it until we lint the whole tree, but it's pretty easy to add a Travis row to run flake8 on all PRs.

[2017-11-28 20:40] mwaskom commented on #2306
Here's an idea of the most common problems:

[code]

[2017-11-28 20:44] satra commented on #1114
@billbrod  and @djarecka - under current nipype you can skip the `input_names` argument and all args from the function are used. so the following will return 2.

in the original example, the node only gets one input. the second input doesn't exist as an input. the reason it's accepted is because the dynamic trait is allowing any set of input names.

[code]

the bug is perhaps in the code that chec

[2017-11-28 20:48] mgxd commented on #1114
@djarecka i remember we sat down and went through this one day long ago - can't find any trace of it though!

[2017-11-28 21:02] djarecka commented on #1114
@mgxd : I also remember that we were sitting on something similar but wasn't sure if we decided to leave as it is, or we simply didn't finish. Will try to find it

[2017-11-28 22:45] mgxd commented on #2286
@alaurent4 are you also having problems running spm interfaces?

[2017-11-29 03:27] djarecka commented on #2306
updated the list to the `flake8` output

[2017-11-29 11:07] TimVanMourik commented on #2234
Thanks! I'm definitely gonna try it this week 👍

[2017-11-29 13:51] alaurent4 commented on #2286
@mgxd No, I am able to launch the SPM interfaces via matlab

[2017-11-29 14:42] effigies commented on #1114
@satra Another option is to always use the implicit behavior and just raise an node-construction-time error if `input_names` doesn't match the parameter names. Unless hiding inputs with default values is behavior we want to support.

[2017-11-29 14:45] satra commented on #1114
@effigies - i think i wanted this `f_node.inputs.in2 = 1` to raise a `KeywordError` exception rather than fail silently. it's the silent failure that i am worried about it.

[2017-11-29 15:14] #2300 closed

[2017-11-29 15:26] #366 closed

[2017-11-29 15:36] mgxd commented on #2286
sorry if I wasn't clear - are you able to run any spm interfaces through nipype?

[2017-11-29 15:38] alaurent4 commented on #2286
Sorry my mistake. Yes, when I am just using the complete version of matlab (not mcr) the routines seem to work

[2017-11-29 18:10] djarecka opened #2311 "iterable with Node"
### Summary

I was just reviewing some of the examples in Nipype Tutorial and was stuck with `iterables` used together with a `Node` (or interface).

This is a simple example that gives me an error (`IdentityInterface requires a value for input 'b' because it was listed in 'fields'.`)

[code]

if I create a `Workflow` and connect with other node it works fine, e.g.:

[code]

So my question is, if

[2017-11-29 20:36] satra commented on #2311
@djarecka - the output is expected. `iterables` are set on `(Map)Node` but are expanded in a `Workflow`. the `Node` function `run` does not know what an `iterable` is.

[2017-11-29 20:53] djarecka commented on #2311
@satra thanks for explanation. I'm thinking about removing [this part from Nipype Tutorial](https://miykael.github.io/nipype_tutorial/notebooks/basic_iteration.html#IdentityInterface-(special-use-case-of-iterabels)
It's slightly misleading IMO. I can only point to the example from preprocessing workflow